{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% set titlecontent = 'Configuración' %}
{% block subtitle %}{{ titlecontent }} - {% endblock %}
{% set subtitlecontent = 'Modifique las opciones de su proyecto' %}
{% set breadcrumb = [{'title': 'Configuración', 'link': path('app_config'), 'icon': 'cog'}] %}

{% block maincontent %}

    <div class="row">
        {% if btnusers == true%}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat yellow">
                    <div class="visual"><i class="fa fa-user"></i></div>
                    <div class="details"><div class="desc">Listar</div><div class="number">Usuarios</div></div>
                    <a class="more" href="{{ path('systemuser_listsystemusers') }}">Ver Usuarios <i class="m-fa fa-swapright m-fa fa-white"></i></a>                 
                </div>
            </div>
        {% endif %}
        {% if btnlog == true%}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="{{ path('systemlog_homepage') }}" class="nodecoration">
                    <div class="dashboard-stat red">
                        <div class="visual"><i class="fa fa-bell"></i></div>
                        <div class="details"><div class="desc">Registro</div><div class="number">Log</div></div>
                        <span class="more">Ver log de la App <i class="m-fa fa-swapright m-fa fa-white"></i></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        {% endif %}        
    </div><!-- END DASHBOAR STATS -->

{% endblock %}