    <!-- modal ajax -->
	<div class="modal fade" data-refresh="true" id="modal_ajax" style="overflow: visible; overflow-y: auto;" role="basic" aria-hidden="true" tabindex="-1" >
	  <img src="{{ asset('bundles/beinterface/img/ajax-modal-loading.gif') }}" alt="" class="loading">
	</div>
    <!-- modal ajax 2 -->
	<div class="modal fade" data-refresh="true" id="modal_ajax2" style="overflow: visible; overflow-y: auto;" role="basic" aria-hidden="true" tabindex="-1" >
	  <img src="{{ asset('bundles/beinterface/img/ajax-modal-loading.gif') }}" alt="" class="loading">
	</div>
    <!-- modal ajax 3 -->
	<div class="modal fade" data-refresh="true" id="modal_ajax3" style="overflow: visible; overflow-y: auto;" role="basic" aria-hidden="true" tabindex="-1" >
	  <img src="{{ asset('bundles/beinterface/img/ajax-modal-loading.gif') }}" alt="" class="loading">
	</div>
	<!-- BEGIN FOOTER -->
        
   <div class="footer">
      <div class="footer-inner">
         2017 &copy; GREETIK SOLUCIONES SL
      </div>
      <div class="footer-tools">
         <span class="go-top">
         <i class="fa fa-angle-up"></i>
         </span>
      </div>
   </div>
   <!-- END FOOTER -->
   <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
   <!-- BEGIN CORE PLUGINS -->   
   <!--[if lt IE 9]>
   <script src="{{ asset('bundles/beinterface/plugins/respond.min.js') }}"></script>
   <script src="{{ asset('bundles/beinterface/plugins/excanvas.min.js') }}"></script> 
   <![endif]-->   

   <!-- BEGIN PAGE LEVEL SCRIPTS -->
   <link href="{{ asset('bundles/beinterface/plugins/fancybox/source/jquery.fancybox.css') }}" rel="stylesheet" type="text/css"/>
   <script src="{{ asset('bundles/beinterface/scripts/app.js') }}"></script>
   <script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/fancybox/source/jquery.fancybox.js') }}"></script>  
   <script>
      jQuery(document).ready(function() {     
          App.init();	
          $.fn.modal.Constructor.prototype.enforceFocus = function() {};	

      });
    $('body').on('show.bs.modal', '.modal', function () {
        $(this).draggable({
            handle: ".modal-header"
        });
    });
    $('body').on('hidden.bs.modal', '.modal', function () {
        $('#select2-drop').css('display', 'none');  
        $(this).html('<img src="{{ asset('bundles/beinterface/img/ajax-modal-loading.gif') }}" alt="" class="loading">');
        $(this).removeData('bs.modal');
        jQuery('body').removeClass('modal-open');
       });
   </script>
   
   
<script>/*
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82656404-1', 'auto');
  ga('send', 'pageview');
*/
</script>   