    <!-- BEGIN HEADER -->   
   <div class="header navbar navbar-inverse navbar-fixed-top">
      <!-- BEGIN TOP NAVIGATION BAR -->
      <div class="header-inner">
         <!-- BEGIN LOGO -->  
         <a class="navbar-brand" href="{{ path('app_homepage') }}">
            <img src="{{ projectlogo2 }}" alt="Logo" style="">
         </a>
         <!-- END LOGO -->
         <!-- BEGIN RESPONSIVE MENU TOGGLER --> 
         <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <img src="{{ asset('bundles/beinterface/img/menu-toggler.png') }}" alt="" />
         </a> 
         <!-- END RESPONSIVE MENU TOGGLER -->
         <!-- BEGIN TOP NAVIGATION MENU -->
         <ul class="nav navbar-nav pull-right">
            <li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }} <i class="fa fa-user"></i></a></li> 
            <li><a href="{{ path('fos_user_security_logout') }}">Salir <i class="fa fa-power-off"></i></a></li>
         </ul>
         <!-- END TOP NAVIGATION MENU -->
      </div>
      <!-- END TOP NAVIGATION BAR -->
   </div>
   <!-- END HEADER -->
