        <div class="col-md-12 col-sm-12">
            <h2>Animales Provisionales</h2>
                {%
    set configTable = {
                                'id': 'animalsprov', 
                                'title': 'Animales', 
                                'icon': 'paw',
                                'noOptions':true,
                                'viewdata': {'url': 'farm_viewanimal', 'extralink': 'target="_blank"'},
                                'fields': {'name':{'title':'Nombre', 'link_view':true}, 'tattoo':{'title':'Tatuaje'}, 'birthdate':{'title':'F.Nac.', 'isdate':true}, 'crotal':{'title':'Crotal'}, 'gendername':{'title':'Sexo'}, 'fathername':{'title':'Padre'}, 'mothername':{'title':'Madre'}, 'birthweight':{'title':'Peso'}, 'farmname':{'title':'Ganadería'}, 'birthnum"':{'title':'N'}, 'calvingscore':{'title':'D'}, 'twin':{'title':'T'}, 'enddate': {'title': 'Baja', 'isdate':true}},
                                'extrabtns':{
                                    'acceptall':{
                                        'color':'yellow',
                                        'icon': 'circle',
                                        'title':'Aceptar Seleccionados',
                                        'url': 'javascript:acceptanimals()'
                                    }
                                }
                               }
                %}
                {% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}
        </div>
        
            <script>
        function acceptanimals() {
            var ids = '';
            var total=0;
            $(fnGetSelected(oTableanimalsprov)).each(function () {
                var id = $(this).attr('id').split('_');
                id = id[1];
                ids += ((ids == '') ? '' : ',') + id;
                total++;
            });
            if (!confirm('Se van a aceptar ' + total + ' animales. ¿Seguro?'))
                return;

            $.post('{{ path('app_saveanimals') }}', {animals: ids}, function (r) {
                if (r.errorCode > 0) {
                    alert(r.errorDescription);
                    return;
                }
                
                $('#tableanimalsprov').html(r.data);
            });
        }

    </script>