{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% set titlecontent = projectname %}
{% block subtitle %}{{ titlecontent }} - {% endblock %}
{% set subtitlecontent = 'Bienvenido Administrador' %}
{% set breadcrumb = [] %}

{% block maincontent %}

    {% if weights is defined and weights | length > 0 %}
        {% set data=weights %}
        <div id="tableweightsprov">
            {% include "AppBundle:_Default:index_provisionalweights.html.twig"%}
            <div class="clearfix"></div>
        </div>
    {% endif %}
    {% if animalsprov is defined and animalsprov | length > 0 %}
        {% set data=animalsprov %}
        <div id="tableanimalsprov">
            {% include "AppBundle:_Default:index_provisionalanimals.html.twig"%}
            <div class="clearfix"></div>
        </div>
         {% endif %}
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">¡Bienvenido Administrador!</div>
            </div>
            <div class="portlet-body">
                <p>Esta pantalla tendrá algunos accesos directos.</p><p>Pulse sobre cualquier de las opciones de la izquierda para configurar o gestionar la aplicación.</p>
            </div>
        </div>
    </div>  




{% endblock %}
