        <div class="col-md-6 col-sm-6">
            <h2>Pesos Provisionales</h2>
            {%
    set configTable = {
                                'id': 'weightcontrol', 
                                'title': 'Peso', 
                                'icon': 'balance-scale',
                                'noOptions':true,
                                'viewdata': {'url': 'weightcontrol_insertformweightcontrol', 'paramsurl': {'item_type': 'animal', 'item_id': '0' }, 'extralink': 'data-target="#modal_ajax" data-toggle="modal"'},
                                'fields': {'animalname':{'title':'Nombre'}, 'animaltattoo':{'title':'Tatuaje'}, 'farmname':{'title':'Ganadería'}, 'weightdate': {'title': 'Fecha', 'isdate':true}, 'weight': {'title':'Peso', 'link_view': ((is_granted('ROLE_ADMIN')?true:false))}},
                                'extrabtns':{
                                    'acceptall':{
                                        'color':'yellow',
                                        'icon': 'circle',
                                        'title':'Aceptar Seleccionados',
                                        'url': 'javascript:acceptweights()'
                                    }
                                }
                               }
            %}
            {% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}
        </div>
        
            <script>
        function acceptweights() {
            var ids = '';
            var total=0;
            $(fnGetSelected(oTableweightcontrol)).each(function () {
                var id = $(this).attr('id').split('_');
                id = id[1];
                ids += ((ids == '') ? '' : ',') + id;
                total++;
            });
            if (!confirm('Se van a aceptar ' + total + ' pesos. ¿Seguro?'))
                return;

            $.post('{{ path('app_saveweights') }}', {weights: ids}, function (r) {
                if (r.errorCode > 0) {
                    alert(r.errorDescription);
                    return;
                }
                
                $('#tableweightsprov').html(r.data);
            });
        }

    </script>