<!-- BEGIN SIDEBAR -->
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->        
    <ul class="page-sidebar-menu">
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <div> 
            <br />
            <img src="{{ projectlogo }}" alt="Logo"style="width:100%;">
        </div>
        <li>
            &nbsp;
        </li>

        <li class="start{% if app.request.attributes.get('_route')=='app_homepage' or app.request.attributes.get('_route')=='profile_homepage' %} active{% endif %}">
            <a href="{{ path(is_granted('ROLE_ADMIN') ? 'app_homepage' : 'profile_homepage') }}">
                <i class="fa fa-home"></i> 
                <span class="title">Inicio</span>
                <span class="selected"></span>
            </a>
        </li>

        {% if (is_granted('ROLE_ADMIN')==false)  and is_granted('ROLE_USER') %}
            <li class="{% if 'fos_user_profile_show' in app.request.attributes.get('_route') %}active{% endif %}">
                <a href="{{ path('fos_user_profile_show') }}">
                    <i class="fa fa-briefcase"></i> 
                    <span class="title">Perfil</span>
                    <span class="selected"></span>
                </a>
            </li>            
        {% endif %}

        {% if (is_granted('ROLE_ADMIN')) %}
            <li class="{% if 'systemuser_' in app.request.attributes.get('_route')  %}active{% endif %}">
                <a href="{{ path('systemuser_listfarmers') }}">
                    <i class="fa fa-user"></i> 
                    <span class="title">Ganaderos</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li class="{% if 'farm_' in app.request.attributes.get('_route') and 'animal' not in app.request.attributes.get('_route')  %}active{% endif %}">
                <a href="{{ path('farm_listfarms') }}">
                    <i class="fa fa-map-signs"></i> 
                    <span class="title">Ganaderías</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li class="{% if 'visits_' in app.request.attributes.get('_route')  %}active{% endif %}">
                <a href="{{ path('visits_listvisits', {'item_type':'farm'}) }}">
                    <i class="fa fa-drivers-license"></i> 
                    <span class="title">Visitas</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li class="{% if 'farm_' in app.request.attributes.get('_route') and 'animal' in app.request.attributes.get('_route')  %}active{% endif %}">
                <a href="{{ path('farm_listanimals') }}">
                    <i class="fa fa-paw"></i> 
                    <span class="title">Animales</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li class="{% if 'fairs' in app.request.attributes.get('_route')  %}active{% endif %}">
                <a href="{{ path('fairs_listfairs') }}">
                    <i class="fa fa-calendar"></i> 
                    <span class="title">Ferias</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li class="{% if 'reports_' in app.request.attributes.get('_route')  %}active{% endif %}">
                <a href="javascript:;">
                    <i class="fa fa-file-text"></i> 
                    <span class="title">Informes</span>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                    <li >
                        <a  href="{{ path('reports_animals') }}">Animales</a>
                    </li>
                    <li >
                        <a  href="{{ path('reports_weights') }}">Pesadas</a>
                    </li>
                    <li >
                        <a  href="{{ path('reports_index') }}">Predefinidos</a>
                    </li>
                </ul>
            </li>

            <li class="{% if 'blog_' in app.request.attributes.get('_route') %}active{% endif %}">
                <a href="{{ path('app_webcontent') }}">
                    <i class="fa fa-certificate"></i> 
                    <span class="title">Contenido Web</span>
                    <span class="selected"></span>
                </a>
            </li>             

            <li class="{% if 'app_config' in app.request.attributes.get('_route') %}active{% endif %}">
                <a href="{{ path('app_config') }}">
                    <i class="fa fa-cog"></i> 
                    <span class="title">Configuración</span>
                    <span class="selected"></span>
                </a>
            </li>             

        {% endif %}       
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
<!-- BEGIN PAGE -->