{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% block modaltitle %}Error{% endblock %}

{% block modalbody %}
    <div class="col-md-12">
        <h4>Ups! Algo no ha ido como esperábamos</h4>
        <p>&nbsp;</p>
        {% if error is defined %}<div class="ui-state-error">{{ error }}</div>{% endif %}
        </div>


{% endblock %}         