{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% set titlecontent = 'Contenido Web' %}
{% block subtitle %}{{ titlecontent }} - {% endblock %}
{% set subtitlecontent = 'Modifique el contenido Web de '~projectname  %}
{% set breadcrumb = [{'title': 'Contenido Web', 'link': path('app_webcontent'), 'icon': 'certificate'}] %}

{% block maincontent %}

    <div class="row">
        {% if btnmodules == true %}
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat purple">
                    <div class="visual"><i class="fa fa-barcode"></i></div>
                    <div class="details"><div class="desc">Ver</div><div class="number">Módulos</div></div>
                    <a class="more" href="{{ path('webmodule_listwebmodules') }}">Gestionar Módulos Web <i class="m-fa fa-swapright m-fa fa-white"></i></a>                 
                </div>
            </div>
        {% endif %}
        {% for module in webmodules %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat" style="background:{{ module.moduletype | webmodulecolor }} !important">
                    <div class="visual"><i class="fa fa-{{ module.moduletype | webmoduleicon }}"></i></div>
                    <div class="details"><div class="desc">Ver</div><div class="number">{{ module.name }}</div></div>
                    <a class="more" style="background:#222 !important;" href="{{ path(module.moduletype | webmodulelink, {'idproject': module.id}) }}">{{ module.moduletype | webmodulename }} <i class="m-fa fa-swapright m-fa fa-white"></i></a>                 
                </div>
            </div>
        {% endfor %}
        
        
    </div><!-- END DASHBOAR STATS -->

{% endblock %}