{#
    Pacolmg
    Greetik Soluciones SL
    view the posts table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Animales - {% endblock %}
{% set titlecontent = 'Animales'%}
{% set subtitlecontent = 'Seleccione uno del listado de animales para ver su detalle' %}
{% set breadcrumb = [{'title': 'Animales', 'link': path('farm_listanimals'), 'icon': 'paw'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    {%
    set configTable = {
                                'id': 'animals', 
                                'title': 'Animales', 
                                'icon':'paw',
                                'aaSorting': "[[ 3, 'desc' ]]",
                                'noOptions':true,
                                'viewdata': {'url': 'farm_listanimals'},
                                'fields': {
                                    'tattoo': {'title': '#'},
                                    'farm': {'title': 'Ganadería'},
                                    'nombre': {'title': 'Nombre'},
                                    'crotal':{'title': 'Crotal'},
                                    'birthdate': {'title': 'Fecha'},
                                    'forsale': {'title': 'Venta'},
                                    'price': {'title': 'Precio'}
                                },
                                'fromajax': {'params': '{"name": "action", "value":$("#filterActive").val()}', 'bProcessing':true, 'bServerSide':true, 'sAjaxSource': path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) },
                                'extrabtns': { 'importanimals':{
                                    'url': path('farm_importanimalsform'),
                                    'extralink': 'data-target="#modal_ajax" data-toggle="modal"',
                                    'icon': 'arrow-up',
                                    'color': 'purple',
                                    'title': 'Importar'
                                        },
                                    'importanimalsindex':{
                                    'url': path('farm_importanimalsindexform'),
                                    'extralink': 'data-target="#modal_ajax" data-toggle="modal"',
                                    'icon': 'arrow-up',
                                    'color': 'purple',
                                    'title': 'Importar Méritos'
                                        }
                                }
                    
                               }
                              
    %}

{% if app.request.attributes.get('_route') == 'farm_listanimals' %}{% set configTable = configTable|merge( {'insertdata': { 'url': path('farm_insertanimal', app.request.attributes.get('_route_params'))}}) %}{% endif %}
{% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}
{% include 'BEInterfaceBundle:_Default:successfromflash.html.twig' %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}

    <script>
        $(document).ready(function () {

            var i = 0;
            $('#animals_wrapper .clear').each(function () {
                if (i == 0) {
                    $('{% spaceless %}{% include "FarmBundle:Default:filtersanimal.html.twig" %}{% endspaceless %}').insertBefore($(this));
                }
                i++;
            });

            $('#animals_wrapper .column-filter-widgets select').select2();
        });
    </script>

{% endblock %}