{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Animal - {% endblock %}
{% set titlecontent = 'Nuevo Animal'%}
{% set subtitlecontent = 'Complete los campos para añadir una nueva ganadería al directorio' %}

{% set pathaction = path('farm_insertanimal') %}{% set pathcancel = path('farm_listanimals') %}
{% if is_granted('ROLE_ADMIN') %}
    {% set breadcrumb = [{'icon': 'paw', 'title':'Animales', 'link': path('farm_listanimals')}, {'title': 'Nuevo', 'link': path('farm_listanimals'), 'icon': 'paw'}] %}
{% else %}
    {% set breadcrumb = [{'title': 'Nuevo Animal', 'link': path('farm_listanimals'), 'icon': 'paw'}] %}
{% endif %}

{%
    set configForm = {
        'id' : 'insertanimal',
        'pathaction': pathaction,
        'pathcancel': pathcancel,
        'title': 'Animal',
        'icon': 'paw'
    }
%}

{% block maincontent %}
    {% include('FarmBundle:Default:insertanimal.html.twig') %}
{% endblock %}         
