{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of a farm
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.name }} - Animal - {% endblock %}
{% set titlecontent = 'Animal' %}
{% set subtitlecontent = 'Edite los datos de '~item.name ~' desde aquí' %}

{% set breadcrumb = [{'icon': 'paw', 'title':'Animales', 'link': path('farm_listanimals')}, {'title': item.name, 'link': path('farm_viewanimal', {'id':  item.id}), 'icon': 'paw'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/beinterface/css/pages/profile.css') }}">
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Animal</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                    <li class=""><a href="#tab_1_animaltree" data-toggle="tab">Árbol</a></li>                    
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 profile-info">

                                        {% include "BEInterfaceBundle:_Modules:viewformerrors.html.twig" %}
                                        {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}    
                                        <div class="row">
                                            <div class="col-md-10">
                                                <h1>{{ item.name }} ({{ item.tattoo}})</h1>
                                                <div class="btn-group">
                                                    {%set pathdelete= path('farm_deleteanimal', {'id': item.id })%}
                                                    {% set id = item.id %}
                                                    {% include('BEInterfaceBundle:_Scripts:deleteAny.html.twig') %}
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <ul class="list-inline">
                                            {% if item.registerc %}<li class=""><i class="icon fa fa-bookmark-o"></i> {{ item.registerc }}</li>{% endif %}
                                            {% if item.registerd %}<li class=""><i class="icon fa fa-bookmark"></i> {{ item.registerd }}</li>{% endif %}
                                            {% if item.crotal %}<li class=""><i class="icon fa fa-certificate"></i> {{ item.crotal }}</li>{% endif %}
                                            {% if item.birthdate %}<li class=""><i class="icon fa fa-calendar"></i> {{ item.birthdate | date('d/m/Y') }} ({{ item.birthdate | age }} Años)</li>{% endif %}
                                            <li class=""><i class="icon fa fa-{{ item.gender | getIconGender }}"></i> {{ item.gender | readable_enum('AnimalgenderType') }}</li>
                                            {% if item.farm %}<li class=""><i class="icon fa fa-map-signs"></i> {{ item.farmname }}</li>{% endif %}
                                            {% if item.farmbirth %}<li class=""><i class="icon fa fa-map-signs"></i> Origen: {{ item.farmbirthdata.name }}</li>{% endif %}
                                        </ul>
                                        <ul class="list-inline">
                                            {% if item.mother %}<li class=""><i class="icon fa fa-sitemap"></i><i class="icon fa fa-venus"></i> Madre: {{ item.motherdata.name }}</li>{% endif %}
                                            {% if item.father %}<li class=""><i class="icon fa fa-sitemap"></i><i class="icon fa fa-mars"></i> Padre: {{ item.fatherdata.name }}</li>{% endif %}
                                        </ul>
                                        <ul class="list-inline">
                                            {% if item.birthweight %}<li class=""><i class="icon fa fa-balance-scale"></i><i class="icon fa fa-venus"></i> Peso al Nacer: {{ item.birthweight }}Kg</li>{% endif %}
                                            {% if item.weaningweight %}<li class=""><i class="icon fa fa-balance-scale"></i><i class="icon fa fa-mars"></i> Peso al Destete: {{ item.weaningweight }}Kg</li>{% endif %}
                                        </ul>

                                        <div class="clearfix"></div>                                        

                                        {% if item.points or item.easebirth or item.muscledev or item.weaningval or item.bonedev %}
                                            <p>&nbsp;</p>
                                            <div class="portlet sale-summary">
                                                <div class="portlet-title">
                                                    <div class="caption">Puntuación</div>
                                                </div>
                                                <div class="portlet-body">
                                                    <ul class="list-unstyled">
                                                        {% if item.points %}
                                                            <li>
                                                                <span class="sale-info">Puntos <i class="fa fa-bolt"></i></span> 
                                                                <span id="points_earned" class="sale-num">{{ item.points }}</span>
                                                            </li>
                                                        {% endif%}
                                                        {% if item.easebirth %}
                                                            <li>
                                                                <span class="sale-info">Fac. Parto <i class="fa fa-bookmark"></i></span> 
                                                                <span id="points_spent" class="sale-num">{{ item.easebirth }}</span>
                                                            </li>               
                                                        {% endif%}
                                                        {% if item.muscledev %}
                                                            <li>
                                                                <span class="sale-info">Des. Muscular <i class="fa fa-shield"></i></span> 
                                                                <span id="points_balance" class="sale-num">{{ item.muscledev }}</span>
                                                            </li>               
                                                        {% endif %}
                                                        {% if item.weaningval %}
                                                            <li>
                                                                <span class="sale-info">Valor al Destete <i class="fa fa-hand-scissors-o"></i></span> 
                                                                <span id="points_balance" class="sale-num">{{ item.weaningval }}</span>
                                                            </li>                
                                                        {% endif %}
                                                        {% if item.bonedev %}
                                                            <li>
                                                                <span class="sale-info">Desarrollo Esquelético <i class="fa fa-leaf"></i></span> 
                                                                <span id="points_balance" class="sale-num">{{ item.bonedev }}</span>
                                                            </li>             
                                                        {% endif %}
                                                        <li>
                                                            <span class="sale-info">Aptitud Cárnica <i class="fa fa-cutlery"></i></span> 
                                                            <span id="points_balance" class="sale-num">{{ item.meatap }}</span>
                                                        </li>             
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endif %}




                                    </div>
                                    <div class="col-md-9">
                                        {% set tabletitle = 'Hijos de '~item.name %}
                                        {% set parent = item.id %}
                                        {% include "FarmBundle:Default:indexanimal.html.twig" %}
                                    </div>
                                    <!--end col-md-2-->


                                </div>
                                <!--end row-->

                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_animaltree-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="fa fa-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#tab_1-2">
                                                <i class="fa fa-bookmark"></i> 
                                                Méritos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {%
                                set configForm = {
                                    'id' : 'modifyanimal',
                                    'pathaction': path('farm_modifyanimal', { 'id': item.id }),
                                    'pathcancel': path('farm_listanimals')
                                }
                                            %}


                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% if form_errors(new_form) %}
                                                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                    {% endif %}

                                                    {% include 'FarmBundle:Default:insertanimalform.html.twig' %}    


                                                    {{ form_widget(new_form._token) }}

                                                {% endblock %}                    
                                            {% endembed %}

                                        </div>
                                        <div id="tab_1-2" class="tab-pane active">
                                            {%
                                set configForm = {
                                    'id' : 'modifyindexanimal',
                                    'pathaction': path('farm_modifyindexanimal', { 'id': item.id }),
                                    'pathcancel': path('farm_listanimals')
                                }
                                            %}

                                            {% set new_form = new_form_index %}
                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% if form_errors(new_form) %}
                                                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                    {% endif %}

                                                    {% include 'FarmBundle:Default:insertanimalformindex.html.twig' %}    


                                                    {{ form_widget(new_form._token) }}

                                                {% endblock %}                    
                                            {% endembed %}

                                        </div>                                            
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <div class="tab-pane" id="tab_1_animaltree">
                        <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/farm/css/tree.css') }}">
                        <h2>Árbol Genealógico</h2>
                        <div class="row">
                            <div class="profile col-md-12 col-sm-12">   
                                <div class="table-responsive">
                                    <div class="tree">
                                        {% set animal = item %}
                                        {% include "FarmBundle:Default:animaltree.html.twig" %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}

{% endblock %}    