{#
    Pacolmg
    Greetik Soluciones SL
    view the ítems table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Catálogo - {% endblock %}
{% set titlecontent = 'Catálogo'  %}
{% set subtitlecontent = 'Seleccione uno del listado de productos para ver su detalle' %}
{% set breadcrumb = [{'title': 'Web' , 'link': path('app_webcontent'), 'icon': 'certificate'}, {'title': 'Catálogo' , 'link': path('catalog_viewcatalog', {'idproject': idproject}), 'icon': 'book'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}

{% include 'CatalogBundle:Default:index.html.twig' %}
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
{% include 'CatalogBundle:Default:indexscripts.html.twig' %}
{% endblock %}