{% extends "FOSUserBundle::layoutuser.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
<a href="{{ path('fos_user_profile_show') }}"><button class="btn red" style="text-align: center; width:100%; margin-top: 20px;">Cancelar</button></a>
{% endblock fos_user_content %}
