{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div style="margin-top:16px;">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>

<script>
    $(document).ready(function(){
       $('.fos_user_change_password input').addClass('form-control'); 
       $('.fos_user_change_password input').addClass(' placeholder-no-fix'); 
       
    });
</script>