{%
                                        set configTable = {
                                        'id': 'animalsforenddate',
                                        'title': 'Rebaño',
                                        'icon':'id-card-o',
                                        'aaSorting': "[[ 3, 'desc' ]]",
                                        'noOptions':true,
                                        'viewdata': {'url': 'visits_insertformanimal','paramsurlid':'animal', 'paramsurl': {'visit': item.id, 'command':'3' }, 'extralink': 'data-target="#modal_ajax" data-toggle="modal"'},
                                        'fields': {
                                            'tattoo': {'title': '#', 'link_view':true},
                                            'name': {'title': 'Nombre'},
                                            'crotal':{'title': 'Crotal'},
                                            'gendername':{'title': 'Sexo'},
                                            'birthdate': {'title': 'Nacimiento', 'isdate':true},
                                            'registerc': {'title': 'RNU'},
                                            'registerd': {'title': 'RD'},
                                            'goto': {'title':'*', 'emptyvalue':'<i class="fa fa-search"></i>', 'link_view':{'link_url':'farm_viewanimal', 'link_id': 'id', 'extralink':''}}
                                        }
                                       }

%}         
{% set data = animalsforenddate%}
{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}