{%
                                        set configTable = {
                                        'id': 'animalsforweight', 
                                        'title': 'Calificaciones y Pesadas',
                                        'icon':'balance-scale',
                                        'aaSorting': "[[ 3, 'desc' ]]",
                                        'noOptions':true,
                                        'viewdata': {'url': 'visits_insertformanimal','paramsurlid':'animal', 'paramsurl': {'visit': item.id, 'command':'6' }, 'extralink': 'data-target="#modal_ajax" data-toggle="modal"'},
                                        'fields': {
                                            'tattoo': {'title': '#', 'link_view':true},
                                            'name': {'title': 'Nombre'},
                                            'crotal':{'title': 'Crotal'},
                                            'gendername':{'title': 'Sexo'},
                                            'birthdate': {'title': 'Nacimiento', 'isdate':true},
                                            'registerc': {'title': 'RNU'},
                                            'registerd': {'title': 'RD'},
                                            'weight' : {'title': 'Peso'},
                                            'points' :{'title': 'Cal'},
                                            'insertindex': {'title':'*', 'emptyvalue':'<i class="fa fa-certificate"></i>', 'link_view':{'link_url':'farm_modifyindexanimalform', 'link_id': 'id', 'extralink':' data-target="#modal_ajax2" data-toggle="modal"', 'paramsurl':{'visit': item.id}}},
                                            'goto': {'title':'*', 'emptyvalue':'<i class="fa fa-search"></i>', 'link_view':{'link_url':'farm_viewanimal', 'link_id': 'id', 'extralink':''}}
                                        }
                                       }

%}         
{% set data = animalsforweight%}
{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}