{%
                                        set configTable = {
                                        'id': 'animalsforregisterc', 
                                        'title': 'Registro de Nacimiento',
                                        'icon':'id-card-o',
                                        'aaSorting': "[[ 3, 'desc' ]]",
                                        'noOptions':true,
                                        'viewdata': {'url': 'visits_insertformanimal','paramsurlid':'animal', 'paramsurl': {'visit': item.id, 'command':'2' }, 'extralink': 'data-target="#modal_ajax" data-toggle="modal"'},
                                        'fields': {
                                            'tattoo': {'title': '#', 'link_view':true},
                                            'name': {'title': 'Nombre'},
                                            'crotal':{'title': 'Crotal'},
                                            'gendername':{'title': 'Sexo'},
                                            'birthdate': {'title': 'Nacimiento', 'isdate':true},
                                            'registerc': {'title': 'RNU'},
                                            'registerd': {'title': 'RD'},
                                            'insertindex': {'title':'*', 'emptyvalue':'<i class="fa fa-certificate"></i>', 'link_view':{'link_url':'farm_modifyindexanimalform', 'link_id': 'id', 'extralink':' data-target="#modal_ajax2" data-toggle="modal"', 'paramsurl':{'visit': item.id}}},
                                            'goto': {'title':'*', 'emptyvalue':'<i class="fa fa-search"></i>', 'link_view':{'link_url':'farm_viewanimal', 'link_id': 'id', 'extralink':''}}
                                        },
                                        'extrabtns':{
                                            'putregisterc':{
                                                'url': 'javascript:putRegisterC();',
                                                'icon': 'bookmark-o',
                                                'color': 'blue',
                                                'title': 'Asignar'
                                            }
                                        }
                                       }

%}         
{% set data = animalsforregisterc%}
{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}
<script>
    function putRegisterC(){
        $('#collapse_animalsforregisterc .btn.blue').css('display', 'none');
        var ids = '';
        $(fnGetSelected( oTableanimalsforregisterc)).each(function(){
            var animalid = $(this).attr('id').split('_');
            animalid = animalid[1];
            ids+=((ids=='') ? '':',')+animalid;
        });
        
        $.post("{{ path('visits_putregisterc') }}", {animals: ids, visit:{{item.id}}}, function(r){
            $('#collapse_animalsforregisterc .btn.blue').css('display', 'block');
            if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }
                    
                    if (r.warning!=''){
                        alert(r.warning);
                    }

                    $('#list_visitanimals').html(r.data.table1);
                    $('#tab_1_2-1').html(r.data.table2);
                    $('#tab_1_2-2').html(r.data.table3);
                    $('#tab_1_2-3').html(r.data.table4);
        });
        
    }
</script>