{%
    set configTable = {
                                'id': 'visits', 
                                'title': 'Visitas', 
                                'icon': 'drivers-license',
                                'noOptions':true,
                                'viewdata': {'url': ((is_granted('ROLE_ADMIN'))?'visits_detailvisit':'visits_viewfarmervisit')},
                                'fields': {'visitdate': {'title': 'Fecha', 'link_view': true, 'isdate':true}, 'statename': {'title':'Estado'}},
                                'aaSorting': '[[0, "desc"]]',
                               }
%}

{% if is_granted('ROLE_ADMIN') %}{% set configTable = configTable|merge( {'insertdata': {'url': path('visits_insertformvisit', {'item_type': _itemtype, 'item_id': _itemid} ), 'extralink': 'data-target="#modal_ajax" data-toggle="modal"'}}) %}{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    {% set configTable = configTable | merge({
                                'fields': {'visitdate': {'title': 'Fecha', 'link_view': true, 'isdate':true}, 'statename': {'title':'Estado'}}
        }) %}
        {% else %}
    {% set configTable = configTable | merge({
                                'fields': {'visitdate': {'title': 'Fecha', 'link_view': true, 'isdate':true}}
        }) %}
            
{% endif %}


{% include('BEInterfaceBundle:_Default:warningfromflash.html.twig') %}
{% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}

<script>
    $(document).ready(function(){
       $('#visits_length').css('display', 'none'); 
       $('#visits_filter').css('display', 'none');
    });
    </script>