{%
    set configTable = {
                                'id': 'visitanimalss', 
                                'title': 'Animales Visitados', 
                                'icon': 'paw',
                                'noOptions':true,
                                'viewdata': {'url': 'visits_insertformanimal', 'paramsurl': {'visit': _visit }, 'extralink': 'data-target="#modal_ajax" data-toggle="modal"'},
                                'fields': {'action':{'title':'Acción', 'filter':true}, 'animalname': {'title': 'Animal', 'link_view': is_granted('ROLE_ADMIN')?true:false}, 'animaltattoo':{'title':'Tatuaje'}, 'animalcrotal':{'title':'Crotal'}, 'animalregisterc':{'title':'RN'}, 'animalregisterd':{'title':'RD'}, 'enddate': {'title':'Baja', 'isdate':true}, 'points': {'title':'Calificación'}, 'points': {'title':'Cal'}, 'weight': {'title':'Peso'}, 'indexanimal': {'title':'Índices', 'isboolean':true}
                                    ,'insertindex': {'title':'*', 'emptyvalue':'<i class="fa fa-certificate"></i>', 'link_view':{'link_url':'farm_modifyindexanimalform', 'link_id': 'id', 'extralink':' data-target="#modal_ajax2" data-toggle="modal"', 'paramsurl':{'visit': item is defined ? item.id:_visit}}}
                                    , 'goto': {'title':'Ir', 'link_view':{'link_url':'farm_viewanimal', 'link_id': 'animal', 'extralink':''}}}
                               }
%}

{% if app.request.attributes.get('_route') != 'visits_viewfarmervisit' %}{% set configTable = configTable|merge( {'insertdata': {'url': path('visits_insertformanimal', {'visit': _visit} ), 'extralink': 'data-target="#modal_ajax" data-toggle="modal"'}}) %}{% endif %}

{% include('BEInterfaceBundle:_Default:warningfromflash.html.twig') %}
{% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}
