{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% set idmodal = 'visitanimalanimals' %}
{% block idajaxloaderloader %}{{ idmodal }}{% endblock %}
{% block idajaxloaderbuttons %}{{ idmodal }}{% endblock %}

{% block modaltitle %}{% if id is defined and id>0 %}Editar {% else %}Datos {% endif %}Visita{% endblock %}

{% block modalbody %}
    {% if form_errors(new_form) %}
        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
    {% endif %}

    <form class="col-md-12" action="#" id="insertVisitanimalform">

        {% set configField = { 'label': 'Acción', 'field': 'visitaction', 'classesinput':'select2'} %}
        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
        <div class="clearfix"></div>
        <p>&nbsp;</p>

        {% if id is not defined or id=='' or id==0 %}
            {% set configField = { 'label': 'Animal', 'field': 'animal', 'classesinput':'select2' } %}
            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            <div class="clearfix"></div>
            <p>&nbsp;</p>
            <div id ='newanimalform' style='display: none;'>
                {% set configField = { 'label': 'Nombre', 'field': 'name', 'classesinput':'' } %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                {% set configField = { 'label': 'Tatuaje', 'field': 'tattoo', 'classesinput':'' } %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                {% set configField = { 'label': 'Nacimiento', 'field': 'birthdate', 'classesinput':'pickdateempty' } %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                <div class="clearfix"></div>
                <p>&nbsp;</p>
            </div>
        {% endif %}
        <div id="enddatefields">
            {% set configField = { 'label': 'Fecha de Baja', 'field': 'enddate', 'classesinput':'pickdateempty'} %}
            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            <div class="clearfix"></div>
            <p>&nbsp;</p>
        </div>
        <div id="pointsfields">
            {% set configField = { 'label': 'Calificación <span id="points_text"></span>', 'field': 'points'} %}
            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            <div class="clearfix"></div>
            <p>&nbsp;</p>
        </div>
        <div id="registerfields">
            {% set configField = { 'label': 'Registro', 'field': 'register'} %}
            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            <div class="clearfix"></div>
            <p>&nbsp;</p>
        </div>
        <div id="weightfields">
            {% set configField = { 'label': 'Peso', 'field': 'weight'} %}
            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            <p>&nbsp;</p>
        </div>
        <div id="fairfields">
            {% set configField = { 'label': 'Feria', 'field': 'tofair'} %}
            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
        </div>
        {{ form_widget(new_form._token) }}
        <div class="clearfix"></div>
    </form>


{% endblock %}         

{% block modalbuttons %}
    {% if id is defined and id!='' and id!=0 %}<button type="button" id="btn_deleteVisitanimal" class="btn red left-btn">Eliminar</button>{% endif %}
    {% if animal.id is defined and animal.id!='' and animal.id!=0 %}<a href="{{ path('farm_modifyindexanimalform', {'id': animal.id, 'fromvisit': visit }) }}" data-target="#modal_ajax2" data-toggle="modal" ><button type="button" id="btn_indexanimal" class="btn green">Índices</button></a>{% endif %}
    <button type="button" id="btn_saveVisitanimal" class="btn blue">Guardar</button>
{% endblock %}

{% block modalscripts %}
    {% set fieldstodate = '.pickdateempty' %}
    {% set emptydefaultvaluedate = false%}
    {% include "BEInterfaceBundle:_Scripts:date.html.twig" %}

    {% set fieldstoselect = '.select2' %}
    {% include "BEInterfaceBundle:_Scripts:select.html.twig" %}

    <script>
        $(document).ready(function () {
        {% if id is not defined or id=='' or id==0 %}
                $('#visitanimal_animal').change(function () {
                    if ($(this).val() == '') {
                        $('#newanimalform').css('display', 'block');
                    } else {
                        $('#newanimalform').css('display', 'none');
                    }
                });
        {% endif %}

        {% if animal.id is defined %}
                $('#visitanimal_points').on('change', function () {
                    $.post('{{ path('farm_getpointstext', {'id': animal.id}) }}', {points: $(this).val()}, function (r) {
                        if (r.errorCode > 0) {
                            alert(r.errorDescription);
                            return;
                        }
                        $('#points_text').html('(' + r.data + ')');
                    });
                });
        {% endif %}

                $('#visitanimal_animal').trigger('change');

                $('#btn_saveVisitanimal').click(function () {
                    $('#buttons_modal{{ idmodal }}').css('display', 'none');
                    $('#ajaxloader{{ idmodal }}').css('display', 'block');
                    $.post('{{ path('visits_insertmodifyanimal', {'visit':visit, 'id': id}) }}', $("#insertVisitanimalform").serialize(), function (r) {
                        $('#buttons_modal{{ idmodal }}').css('display', 'block');
                        $('#ajaxloader{{ idmodal }}').css('display', 'none');
                        if (r.errorCode) {
                            alert(r.errorDescription);
                            return;
                        }

                        if (r.warning != '') {
                            alert(r.warning);
                        }

                        $('#list_visitanimals').html(r.data.table1);
                        $('#tab_1_2-1').html(r.data.table2);
                        $('#tab_1_2-2').html(r.data.table3);
                        $('#tab_1_2-3').html(r.data.table4);
                        $('#next_registerd').html(r.data.next_registerd); 
                        $('#next_registerc').html(r.data.next_registerc); 
                        $('.modal').modal('hide');
                    });
                });

                $('#btn_deleteVisitanimal').click(function () {
                    if (!confirm('¿Realmente desea eliminar la visitanimalanimala? OPERACIÓN IRREVERSIBLE'))
                        return;
                    $('#buttons_modal{{ idmodal }}').css('display', 'none');
                    $('#ajaxloader{{ idmodal }}').css('display', 'block');
                    $.post('{{ path('visits_dropanimal', {'id':id}) }}', $("#insertVisitanimalform").serialize(), function (r) {
                        $('#buttons_modal{{ idmodal }}').css('display', 'block');
                        $('#ajaxloader{{ idmodal }}').css('display', 'none');
                        if (r.errorCode) {
                            alert(r.errorDescription);
                            return;
                        }

                        $('#list_visitanimals').html(r.data.table1);
                        $('#tab_1_2-1').html(r.data.table2);
                        $('#tab_1_2-2').html(r.data.table3);
                        $('#tab_1_2-3').html(r.data.table4);
                        $('#next_registerd').html(r.data.next_registerd); 
                        $('#next_registerc').html(r.data.next_registerc); 

                        $('.modal').modal('hide');
                    });
                });


                $('#visitanimal_visitaction').change(function () {
                    $('#enddatefields').css('display', 'none');
                    $('#pointsfields').css('display', 'none');
                    $('#registerfields').css('display', 'none');
                    $('#weightfields').css('display', 'none');
                    $('#fairfields').css('display', 'none');
                    if ($(this).val()) {
                        var val = $(this).val() + '';
                        val = val.split(',');
                        $(val).each(function (i) {
                            switch (val[i]) {
                                case "1":
                                    $('#registerfields').css('display', 'block');
                                    break;
                                case "2":
                                    $('#pointsfields').css('display', 'block');
                                    break;
                                case "3":
                                    $('#enddatefields').css('display', 'block');
                                    break;
                                    //case "4": $('#enddatefields').css('display', 'none');$('#pointsfields').css('display', 'none');$('#registerfields').css('display', 'none'); $('#weightfields').css('display', 'none');$('#fairfields').css('display', 'none');break;
                                case "5":
                                    $('#fairfields').css('display', 'block');
                                    break;
                                case "6":
                                    $('#weightfields').css('display', 'block');
                                    break;
                            }
                        });
                    }
                });

                $('#visitanimal_visitaction').trigger('change');
            });
    </script>
{% endblock %}

