{#
    Pacolmg
    Greetik Soluciones SL
    view the posts table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}


{% block subtitle %}Visitas - {% endblock %}
{% set titlecontent = 'Visitas'  %}
{% set subtitlecontent = 'Seleccione una del listado de posts para ver su detalle' %}
{% set breadcrumb = [{'title': 'Visitas' , 'link': path('visits_listvisits', {'item_type':'farm'}), 'icon': 'drivers-license'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
<script>
    function exportToExcel(){
        var ids='';
        $('#visits tbody tr').each(function(){
           var aux = $(this).attr('id').split('_');
           ids+=aux[1]+',';
        });
        window.open('{{  path('visits_exportvisits') }}/'+ids);
    }
</script>

{%
    set configTable = {
                                'id': 'visits',
                                'title': 'Visitas', 
                                'icon': 'drivers-license',
                                'noOptions':true,
                                'viewdata': {'url': 'visits_detailvisit'},
                                'fields': {'visitdate': {'title': 'Fecha', 'isdate':true, 'link_view': true}, 'farmname': {'title':'Ganadería'}, 'num_index': {'title':'Índices'}, 'num_weights': {'title':'Pesos'}, 'num_registerc': {'title':'RNU'}, 'num_registerd': {'title':'RDU'}, 'description': {'title':'Observaciones'}, 'statename': {'title':'Estado'}},
                                'extrabtns': { 'exportusers':{
                                    'url': 'javascript:exportToExcel()',
                                    'icon': 'arrow-down',
                                    'extralink': '',
                                    'color': 'purple',
                                    'title': 'Exportar'
                                    }
                                },
                                'aaSorting': '[[0, "desc"]]'
                               }
%}

{% include('BEInterfaceBundle:_Default:warningfromflash.html.twig') %}
{% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}


{% endblock %}