{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an post
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.visitdate | date('d/m/Y') }} - Visita - {% endblock %}
{% set titlecontent = 'Visita'%}
{% set subtitlecontent = 'Edite los datos de la visita desde aquí' %}
{% set breadcrumb = [{'title': 'Visita: '~item.visitdate | date('d/m/Y') , 'link': path('visits_viewfarmervisit', {'id':item.id}), 'icon': 'drivers-license'}] %}

{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Visita</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}
                                        {% include 'BEInterfaceBundle:_Default:successfromflash.html.twig' %}

                                        {# if item.state == 'SENDED' |  enum_constant or item.state == "PARTSENDED" | enum_constant %}
                                            <form id="form_generatevisit" action="{{ path('visits_generatevisit', {'id': item.id}) }}" method="POST" target="_blank">
                                                <input id="btn_generate_visit" type="submit" class="btn btn-large btn-primary" value="Generar Visita" />
                                            </form>
                                        {% endif #}
                                        <p>Visita del día {{ item.visitdate | date('d/m/Y') }}</p>
                                        <p>Estado: {{ item.state | readable_enum('VisitstateType') }}</p>
                                        {% if item.description %}<p><strong>Detalles: </strong>{{ item.description | nl2br }}</p>{% endif %}
                                    </div>
                                    <div class="col-md-9 profile-info" id="list_visitanimals">
                                        {% set data = item.animals %}
                                        {% set _visit = item.id %}
                                        {% include "AppBundle:Visit:indexanimals.html.twig" %}
                                    </div>
                                    <div class="clearfix"></div>
                                    <!--end col-md-9-->                                  
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                    </div>
                <!--end tab-pane-->
            </div>
        </div>
        <!--END TABS-->
    </div>
</div>
<!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
    {% set fieldstodate = '.pickdate' %}
    {% include 'BEInterfaceBundle:_Scripts:date.html.twig' %}
    
    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}
    
    <script>
        jQuery(document).ready(function() {
            $('#form_sendmail').on('submit', function(){
               $(this).css('display', 'none'); 
               return true; 
            });            
        });
        
    </script>
    
{% endblock %}    