{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an post
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.visitdate | date('d/m/Y') }} - Visita - {% endblock %}
{% set titlecontent = 'Visita'%}
{% set subtitlecontent = 'Edite los datos de la visita desde aquí' %}
{% set breadcrumb = [{'title': 'Ganaderías', 'link': path('farm_listfarms'), 'icon': 'map-signs'},{'title': item.itemid | getFarmName , 'link': path('farm_viewfarm', {'id':item.itemid}), 'icon': 'map-signs'},{'title': item.visitdate | date('d/m/Y') , 'link': path('visits_detailvisit', {'id':item.id}), 'icon': 'drivers-license'}] %}

{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Visita</a></li>
                    <li class=""><a href="#tab_1_2" data-toggle="tab">Rebaño</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}
                                        {% include 'BEInterfaceBundle:_Default:successfromflash.html.twig' %}

                                        <form id="form_sendmail" action="{{ path('visits_sendmail', {'id': item.id}) }}" method="POST">
                                            <input id="btn_send_mail" type="submit" class="btn btn-large btn-primary" value="Enviar Email" />
                                        </form>
                                        {# if item.state == 'SENDED' |  enum_constant or item.state == "PARTSENDED" | enum_constant #}
                                            <form id="form_generatevisit" action="{{ path('visits_generatevisit', {'id': item.id}) }}" method="POST" target="_blank">
                                                <input id="btn_generate_visit" type="submit" class="btn btn-large btn-primary" value="Generar Visita" />
                                            </form>
                                            <form id="form_visitreport" action="{{ path('print_visitreport', {'id': item.id}) }}" method="POST" target="_blank">
                                                <input id="btn_visit_report" type="submit" class="btn btn-large btn-primary" value="Generar Informe de Trabajo" />
                                            </form>
                                        {# endif #}
                                        <p>Visita del día {{ item.visitdate | date('d/m/Y') }}</p>
                                        <p>Próximo RD: <span id="next_registerd">{{ next_registerd }}</span></p>
                                        <p>Próximo RN: <span id="next_registerd">{{ next_registerc }}</span></p>
                                        <p>Estado: {{ item.state | readable_enum('VisitstateType') }}</p>
                                        {% if item.description %}<p><strong>Detalles: </strong>{{ item.description | nl2br }}</p>{% endif %}
                                        {% if item.privatedescription %}<p><strong>Observaciones (Privado): </strong>{{ item.privatedescription | nl2br }}</p>{% endif %}
                                    </div>
                                    <div class="col-md-9 profile-info" id="list_visitanimals">
                                        {% set data = item.animals %}
                                        {% set _visit = item.id %}
                                        {% include "AppBundle:Visit:indexanimals.html.twig" %}
                                    </div>
                                    <div class="clearfix"></div>
                                    <!--end col-md-9-->                                  
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="tab_1_2">
                        <div class="row">
                            <div class="col-md-3">
                                <ul class="ver-inline-menu tabbable margin-bottom-10">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tab_1_2-1">
                                            <i class="fa fa-balance-scale"></i> 
                                            Cal. y Pesos
                                        </a> 
                                        <span class="after"></span>                                    
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_1_2-2">
                                            <i class="fa fa-id-card"></i> 
                                            Registro Definitivo
                                        </a> 
                                        <span class="after"></span>                                    
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_1_2-3">
                                            <i class="fa fa-id-card-o"></i>
                                            Registro Nacimiento
                                        </a>
                                        <span class="after"></span>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_1_2-4">
                                            <i class="fa fa-paw"></i>
                                            Rebaño Completo
                                        </a>
                                        <span class="after"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content">
                                    <div id="tab_1_2-1" class="tab-pane active">
                                    {% include 'AppBundle:Visit:animalsforweight.html.twig'%}
                                    </div>
                                    <div id="tab_1_2-2" class="tab-pane">
                                    {% include 'AppBundle:Visit:animalsforregisterd.html.twig'%}
                                    </div>
                                    <div id="tab_1_2-3" class="tab-pane">
                                        {% include 'AppBundle:Visit:animalsforregisterc.html.twig'%}
                                    </div>
                                    <div id="tab_1_2-4" class="tab-pane">
                                        {% include 'AppBundle:Visit:animalsforenddate.html.twig'%}
                                    </div>
                                </div
                            </div>
                        </div>
                    </div>
                </div>
                {% if modifyAllow == true %}
                    <!--tab_1_2-->
                    <div class="tab-pane" id="tab_1_3">
                        <div class="row profile-account">
                            <div class="col-md-3">
                                <ul class="ver-inline-menu tabbable margin-bottom-10">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tab_1-1">
                                            <i class="fa fa-cog"></i> 
                                            Datos
                                        </a> 
                                        <span class="after"></span>                                    
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content">
                                    <div id="tab_1-1" class="tab-pane active">
                                        {%
                                set configForm = {
                                    'id' : 'modifyvisit',
                                    'pathaction': path('visits_modifyvisit', { 'id': item.id }),
                                    'pathcancel': path('farm_viewfarm', { 'id': item.itemid})
                                }
                                        %}


                                        {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                            {% block formcontent %}
                                                {% if form_errors(new_form) %}
                                                    <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                {% endif %}

                                                {% set configField = { 'label': 'Fecha', 'field': 'visitdate', 'classesinput':'pickdate'} %}
                                                {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                {% set configField = { 'label': 'Detalles', 'field': 'description'} %}
                                                {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                {% set configField = { 'label': 'Observaciones (PRIVADO)', 'field': 'privatedescription'} %}
                                                {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                {% set configField = { 'label': 'Estado', 'field': 'state', 'classesinput':'select2'} %}
                                                {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                {{ form_widget(new_form._token) }}

                                            {% endblock %}                    
                                        {% endembed %}
                                    </div>
                                </div>
                            </div>
                            <!--end col-md-9-->                                   
                        </div>
                    </div>
                {% endif %}
                <!--end tab-pane-->
            </div>
        </div>
        <!--END TABS-->
    </div>
</div>
<!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
    {% set fieldstodate = '.pickdate' %}
    {% include 'BEInterfaceBundle:_Scripts:date.html.twig' %}
    
    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}
    
    <script>
        jQuery(document).ready(function() {
            $('#form_sendmail').on('submit', function(){
               $(this).css('display', 'none'); 
               return true; 
            });            
        });
        
    </script>
    
{% endblock %}    