{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% set idmodal = 'trainingexercise' %}
{% block idajaxloaderloader %}{{ idmodal }}{% endblock %}
{% block idajaxloaderbuttons %}{{ idmodal }}{% endblock %}

{% block modaltitle %}{% if id is defined and id>0 %}Editar{% else %}Nuevo {% endif %} Peso{% endblock %}

{% block modalbody %}
    {% if form_errors(new_form) %}
        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
    {% endif %}

    <form class="col-md-12" action="#" id="insertWeightcontrolform">

        {% set configField = { 'label': 'Peso', 'field': 'weight'} %}
        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

        <p>&nbsp;</p>
        {% set configField = { 'label': 'Fecha', 'field': 'weightdate', 'classesinput':'pickdate' } %}
        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

        {{ form_widget(new_form._token) }}
        <div class="clearfix"></div>
    </form>


{% endblock %}         

{% block modalbuttons %}
    {% if id is defined and id!='' and id!=0 %}<button type="button" id="btn_deleteWeightcontrol" class="btn red left-btn">Eliminar</button>{% endif %}
    <button type="button" id="btn_saveWeightcontrol" class="btn blue">Guardar</button>
{% endblock %}

{% block modalscripts %}
    {% set fieldstodate = '.pickdate' %}
    {% include "BEInterfaceBundle:_Scripts:date.html.twig" %}

    <script>
        $(document).ready(function () {
            $('#btn_saveWeightcontrol').click(function () {
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                $.post('{{ path('weightcontrol_insertmodifyweightcontrol', {'item_id':item_id, 'item_type': item_type, 'id': id}) }}', $("#insertWeightcontrolform").serialize(), function (r) {
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }

                    $('#list_weightcontrols').html(r);

                    $('.modal').modal('hide');
                });
            });

            $('#btn_deleteWeightcontrol').click(function () {
                if (!confirm('¿Realmente desea eliminar el módulo de la sección? OPERACIÓN IRREVERSIBLE'))
                    return;
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                $.post('{{ path('weightcontrol_dropweightcontrol', {'id':id}) }}', $("#insertWeightcontrolform").serialize(), function (r) {
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }

                    $('#list_weightcontrols').html(r);

                    $('.modal').modal('hide');
                });
            });
        });

        {% if item.birthdate is defined %}
            function formatdate(date) {
                if (!date)
                    return '';
                var aux = date.split('/');
                return aux[2] + '-' + aux[1] + '-' + aux[0];
            }
            
            function diffdays(){
                var date1 = new Date("{{item.birthdate | date('Y-m-d')}}");
                var date2 = new Date(formatdate($('#weightcontrol_weightdate').val()));
                var timeDiff = Math.abs(date2.getTime() - date1.getTime());
                return Math.ceil(timeDiff / (1000 * 3600 * 24));          
            }
            $('#weightcontrol_weightdate').on('changeDate', function () {
                $('#label_weightdate').html('Fecha ('+diffdays()+' días):');
            });
            
            $(document).ready(function () {
                $('#label_weightdate').html('Fecha ('+diffdays()+' días):');
            });
        {% endif %}
    </script>
{% endblock %}

