{#
    Pacolmg
    Greetik Soluciones SL
    view the formfields table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Formularios - {% endblock %}
{% set titlecontent = 'Formularios'  %}
{% set subtitlecontent = 'Seleccione uno del listado de formfields para ver su detalle' %}
    {% set breadcrumb = [{'title': 'Web' , 'link': path('app_webcontent'), 'icon': 'certificate'},{'title': 'Formularios' , 'link': path('webforms_listformfields', {'idproject': idproject}), 'icon': 'tasks'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    {% include 'WebformsBundle:Default:index.html.twig' %}    
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
    {% set idfield = 'formconfig_textres' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    
{% endblock %}
