{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Campo - {% endblock %}
{% set titlecontent = 'Nuevo Campo' %}
{% set subtitlecontent = 'Rellene los campos para insertar un nuevo campo '%}
{% set breadcrumb = [{'title': 'Web' , 'link': path('app_webcontent'), 'icon': 'certificate'},{'title': 'Formularios' , 'link': path('webforms_listformfields', {'idproject': idproject}), 'icon': 'tasks'}, {'title': 'Nuevo', 'link': path('webforms_insertformfield', {'idproject':idproject}), 'icon': 'tasks'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}


{% block maincontent %}
    {% include 'WebformsBundle:Default:insert.html.twig' %}    
{% endblock %}         

{% block additionalscripts %}
    {{ parent() }}
    {% include 'WebformsBundle:Default:insertscripts.html.twig' %}    
{% endblock %}