{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Secciones - {% endblock %}
{% set titlecontent = 'Secciones' %}
{% set subtitlecontent = 'Seleccione uno del listado de secciones para ver su detalle' %}
{% set breadcrumb = [{'title': 'Web' , 'link': path('app_webcontent'), 'icon': 'certificate'},{'title': 'Secciones' , 'link': path('treesection_listtreesections', {'idproject':idproject}), 'icon': 'sitemap'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    {% include 'TreesectionBundle:Default:index.html.twig' %}
{% endblock %}

{% block additionalscripts %}
    {% include 'TreesectionBundle:Default:indexscripts.html.twig' %}
{% endblock %}