{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an treesection
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.title }} - Sección - {% endblock %}
{% set titlecontent = item.title %}
{% set subtitlecontent = 'Edite los datos de '~item.title ~' desde aquí' %}
{% set breadcrumb = [{'title': 'Web' , 'link': path('app_webcontent'), 'icon': 'certificate'},{'title': item.project | webmoduletitle, 'link': path('treesection_listtreesections', {'idproject':item.project}), 'icon': 'sitemap'}, {'title': item.title, 'link': path('treesection_viewtreesection', {'id':  item.id}), 'icon': 'sitemap'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}


{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Sección</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-9 profile-info">
                                        {% include('TreesectionBundle:Default:view.html.twig') %}
                                    </div>
                                    <div class="col-md-3">
                                        <div class="portlet-title">
                                            <div class="caption">Módulos</div>
                                        </div>
                                        <div class="portlet-body">
                                            <ul class="list-unstyled" id="list_sectionmodules">
                                                {% set itemid = item.id %}
                                                {% set sectionmodules = item.modules %}
                                                {% include('WebmodulesBundle:Sectionmodule:index.html.twig') %}
                                            </ul>
                                        </div>
                                        <div class="portlet-title">
                                            <div class="caption">Enlaces</div>
                                        </div>
                                        <div class="portlet-body">
                                            <ul class="list-unstyled" id="list_itemlinks">
                                                {% set _itemtype = 'treesection' %}
                                                {% set _itemid = item.id %}
                                                {% set itemlinks = item.itemlinks %}
                                                {% include('ItemlinkBundle:Default:index.html.twig') %}
                                            </ul>
                                        </div>                                         
                                    </div>
                                    <div class="clearfix"></div>
                                    <!--end col-md-9-->
                                    <div class="tabbable tabbable-custom tabbable-custom-profile">
                                        <ul class="nav nav-tabs">
                                            <li {% if (option is defined and (option=='insertImage'  or  option=='' ))  or option is not defined %}{% set tabactive="img" %}class="active"{% endif %}><a href="#tab_1_22" data-toggle="tab">Imágenes</a></li>
                                            <li {% if (option is defined and (option=='insertDoc' or  option=='tabdocs' )) %}{% set tabactive="doc" %}class="active"{% endif %}><a href="#tab_1_33" data-toggle="tab">Documentos</a></li>
                                            <li {% if (option is defined and (option=='insertYT' or  option=='tabvideos' )) %}{% set tabactive="yt" %}class="active"{% endif %}><a href="#tab_1_11" data-toggle="tab">Vídeos</a></li>
                                        </ul>
                                        <div class="tab-content">

                                            <div class="tab-pane {% if tabactive=='img'%}active{% endif %}" id="tab_1_22">
                                                {%
                                        set configFiles = {
                                            'id': item.id,
                                            'icon': 'file-text',
                                            'title': ('Imágenes de ' ~ item.title ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'treesection',
                                            'filetype':'image'
                                        }
                                                %}  
                                                {% include 'DataimageBundle:Dataimage:view.html.twig' %}
                                            </div>                               
                                            <div class="tab-pane {% if tabactive=='doc'%}active{% endif %}" id="tab_1_33">
                                                {%
                                        set configFiles = {
                                            'id': item.id,
                                            'icon': 'file-text',
                                            'title': ('Documentos de ' ~ item.title ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'treesection',
                                            'filetype':'document'
                                        }
                                                %}  
                                                {% set avoidscripts=true %}
                                                {% include 'DataimageBundle:Dataimage:view.html.twig' %}
                                            </div>
                                            <!--tab-pane-->                                
                                            <div class="tab-pane {% if tabactive=='yt'%}active{% endif %}" id="tab_1_11">
                                                {%
                                        set configVideos = {
                                            'id': item.id,
                                            'icon': 'youtube',
                                            'title': ('Vídeos de de ' ~ item.title ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'treesection'
                                        }
                                                %}  
                                                {% set ytvideos = item.videos %}
                                                {% include 'YtvideoBundle:Ytvideo:view.html.twig' %}

                                            </div>
                                            <!--tab-pane-->
                                        </div>
                                    </div>                                    
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_2-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="fa fa-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {% include('TreesectionBundle:Default:modify.html.twig') %}
                                        </div>
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
    {% include('TreesectionBundle:Default:insertscripts.html.twig') %}
{% endblock %}    