


<!-- Calendar -->
<link href="{{ asset('/bundles/beinterface/plugins/fullcalendar/fullcalendar/fullcalendar.min.css')}}" rel="stylesheet" type="text/css"/>
<div style="width:100%;" id="calendar" class="{{ configCalendar['nopointer'] is defined and configCalendar['nopointer']==true ? 'no-pointer' : '' }}"></div>
<script src="{{ asset('/bundles/beinterface/plugins/fullcalendar/fullcalendar/lib/moment.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/bundles/beinterface/plugins/fullcalendar/fullcalendar/fullcalendar.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/bundles/beinterface/plugins/fullcalendar/fullcalendar/locale/es.js') }}" type="text/javascript"></script>
<script>

    jQuery(document).ready(function () {
        if (!jQuery().fullCalendar) {
            return;
        }


        var h = {};
        if ($('#{{ configCalendar['id'] }}').width() <= 400) {
            $('#{{ configCalendar['id'] }}').addClass("mobile");
            h = {
                left: 'title, prev, next',
                lang: 'es',
                center: '',
                right: '{{ configCalendar['viewopts'] }}'
            };
        } else {
            $('#{{ configCalendar['id'] }}').removeClass("mobile");
            if (App.isRTL()) {
                h = {
                    right: 'title',
                    center: '',
                    lang: 'es',
                    left: 'prev,next,{{ configCalendar['viewopts'] }}'
                };
            } else {
                h = {
                    left: 'title',
                    center: '',
                    lang: 'es',
                    right: 'prev, next,{{ configCalendar['viewopts'] }}'
                };
            }
        }


        $('#{{ configCalendar['id'] }}').fullCalendar('destroy'); // destroy the calendar
        $('#{{ configCalendar['id'] }}').fullCalendar({//re-initialize the calendar
    {% if month is defined and year is defined and month!='' and year!=''%}
            defaultDate: '{{ year~'-'~month~'-01'}}',
    {% endif %}
                    disableDragging: true,
                    header: h,
                    editable: false,
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                    buttonText: {prev: '<', /* <*/next: '>', /* >*/prevYear: '<<', /* << */nextYear: '>>', /* >>*/ today: 'hoy', month: 'mes', week: 'semana', day: 'día', listYear: 'Año'},
                    firstDay: 1,
                    agenda: 'H:mm{ - H:mm}',
                    timeFormat: 'H(:mm)', // uppercase H for 24-hour clock
                    eventRender: function (event, element, view) {
                    if (event.type == 'background'){
                    dateString = event.start.format("YYYY-MM-DD");
                            $(view.el[0]).find('.fc-day[data-date=' + dateString + ']')
                            .css('background-color', event.color);
                            element.css('display', 'none');
                    }
                    if (event.type != 'nightshift') return;
                            //element.find(".fc-event-title").after($("<span class=\"fc-event-icons container\" style='padding:0px !important;'></span>").html("<div class='row-fluid'><img class='col-sx-2' title='El usuario"+ (event.viewed ? '':' NO') +" ha visto el entrenamiento' src=\"/bundles/beinterface/plugins/timthumb/timthumb.php?src=/bundles/trainings/images/iconscalendar/eye" + (event.viewed ? 1:0) + ".png&w=10&zc=1\" /><img class='col-sx-3' src=\"/bundles/beinterface/plugins/timthumb/timthumb.php?src=/bundles/trainings/images/iconscalendar/feeling" + event.fbf  + ".png&w=16&zc=1\" /><img class='col-sx-3' src=\"/bundles/beinterface/plugins/timthumb/timthumb.php?src=/bundles/trainings/images/iconscalendar/battery" + event.fbn  + ".png&w=16&zc=1\" /><img class='col-sx-4' style='cursor:pointer;' title=\"" + event.title + "\" src=\"/bundles/beinterface/plugins/timthumb/timthumb.php?src=/bundles/trainings/images/iconscalendar/" + event.type + "" + event.level + ".png&w=32&zc=1\" /></div>"));
                            //element.find(".fc-event-title").remove();
                    },
    {% if configCalendar['eventAfterAllRender'] is defined %}
                    eventAfterAllRender:{{ configCalendar['eventAfterAllRender'] | raw }},
    {% endif %}
    {% if configCalendar['eventDrop'] is defined %}
            editable: true,
                    eventDrop:{{ configCalendar['eventDrop'] | raw }},
    {% endif %}
    {% if configCalendar['dayclick'] is defined %}
            dayClick: function (date, allDay, jsEvent, view) {
                var url = '{{ configCalendar['dayclick']['url'] }}';
                $("#modal_ajax").modal({
                    remote: url.replace('PARAMDATE', date.format()),
                    show: 1
                });
                }
                ,{% endif %}
        {% if configCalendar['eventclick'] is defined and configCalendar['eventclick'] %}
                    eventClick: function (calEvent, jsEvent, view) {
                        if (calEvent.type == 'bankholiday')
                            var url = '{{ configCalendar['eventclick']['bankholiday'] is defined ? configCalendar['eventclick']['bankholiday']['url'] : '#' }}';
                        else {
                            if (calEvent.type == 'availability')
                                var url = '{{ configCalendar['eventclick']['availability'] is defined ? configCalendar['eventclick']['availability']['url'] : '#'  }}';
                            else {
                                if (calEvent.type == 'nightshift')
                                    var url = '{{ configCalendar['eventclick']['nightshift'] is defined ? configCalendar['eventclick']['nightshift']['url'] : '#'  }}';
                                else
                                    app_shifts_viewshift
                            }

                        }


                        $("#modal_ajax").modal({
                            remote: url.replace('/00000', '/' + calEvent.id),
                            show: 1
                        });
                    }
        {% endif %}
                }
                );


            });
    </script>


    {% if avoidrefresh is not defined %}
        <script>

            var refreshedcalendar = false;

            function renderCalendar() {
                $('#{{ configCalendar['id'] }}').fullCalendar('removeEvents');

                if (!refreshedcalendar) {
                    $('#{{ configCalendar['id'] }}').fullCalendar('addEventSource', {
                        url: '{{ configCalendar['scriptphp_events'] }}',
                        type: 'POST',
                        error: function (e) {
                            alert('Error en el calendario: ' + e.responseJSON.errorDescription);
                        }
                    });
                    refreshedcalendar = true;
                } else
                    $('#{{ configCalendar['id'] }}').fullCalendar('refetchEvents');


            }
        </script>

    {% endif %}
    <script>
        jQuery(document).ready(function () {
        {% if avoidrefresh is not defined %}renderCalendar();{% else %}
                $('#{{ configCalendar['id'] }}').fullCalendar('addEventSource', {
                    url: '{{ configCalendar['scriptphp_events'] }}',
                    type: 'POST',
                    error: function (e) {
                        alert('Error en el calendario: ' + e.responseJSON.errorDescription);
                    }
                });{% endif %}
            });
        </script>
