{% spaceless %}
<!DOCTYPE html>
<html lang="es" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">	

        <title>{% block subtitle %}{% endblock %}{% block title %}{{ projectname }}{% endblock %}</title>

        <meta name="description" content="{% block metadescription %}{% endblock %}">
        <meta name="keywords" content="{% block metatags %}{% endblock %}">
        <meta name="author" content="EBS">

        <meta name="geo.region" content="ES-EX" />
        <meta name="geo.placename" content="Cáceres" />
        <meta name="geo.position" content="39;-6" />
        <meta name="ICBM" content="39, -6" />


        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <include expiration='7d' path='/bundles/**.css'></include>
    <include expiration='7d' path='/bundles/**.js'></include>
    <include expiration='7d' path='/bundles/**.gif'></include>
    <include expiration='7d' path='/bundles/**.jpeg'></include>
    <include expiration='7d' path='/bundles/**.jpg'></include>
    <include expiration='7d' path='/bundles/**.png'></include>

    <style>.no-js body { display: none;  } .js body { display: block; }</style>

{% block stylesheets %}{% endblock %}
{% block javascriptshead %}{% endblock %}
{% block otherhead %}{% endblock %}
{% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/images/favicon.ico') }}" />{% endblock %}    
</head>
<body id="publicweb" class="{% block classbody %}{% endblock %}">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block additionalscripts %}{% endblock %}
<script> document.getElementsByTagName("HTML")[0].className = "js";</script>
</body>  
</html>
{% endspaceless %}