<!DOCTYPE html>
<!-- 
Template Name: Greetik Soluciones SL - Responsive Admin build with Twitter Bootstrap 3.0
Version: 1.0
Author: Greetik Soluciones SL
Website: http://www.greetik.com/
-->
<!--[if IE 8]> <html lang="es" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="es" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta name="MobileOptimized" content="320">           
        
        <title>{% block subtitle %}{% endblock %}{% block title %}Gestión {{ projectnameabb }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascriptshead %}{% endblock %}
        {% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('/bundles/app/images/favicon.ico') }}" />{% endblock %}

        <link href="{{ asset('/bundles/hspaadmin/images/icons/apple-touch-icon.png') }}" rel="apple-touch-icon" />
        <link href="{{ asset('/bundles/hspaadmin/images/icons/apple-touch-icon-76x76.png') }}" rel="apple-touch-icon" sizes="76x76" />
        <link href="{{ asset('/bundles/hspaadmin/images/icons/apple-touch-icon-120x120.png') }}" rel="apple-touch-icon" sizes="120x120" />
        <link href="{{ asset('/bundles/hspaadmin/images/icons/apple-touch-icon-152x152.png') }}" rel="apple-touch-icon" sizes="152x152" />
        <link href="{{ asset('/bundles/hspaadmin/images/icons/apple-touch-icon-180x180.png') }}" rel="apple-touch-icon" sizes="180x180" />
        <link href="{{ asset('/bundles/hspaadmin/images/icons/icon-hires.png') }}" rel="icon" sizes="180x180" />
        <link href="{{ asset('/bundles/hspaadmin/images/icons/icon-normal.png') }}" rel="icon" sizes="120x120" />
        
        <link href="{{ asset('/bundles/app/css/custom.css') }}" rel="stylesheet" type="text/css"/>
    </head>
    <body  class="page-header-fixed page-sidebar-closed">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block additionalscripts %}{% endblock %}
    </body>
</html>
