{#
    Pacolmg
    Greetik Soluciones SL
    view the users table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Listado de Usuarios - {% endblock %}
{% set titlecontent = 'Usuarios'%}
{% set subtitlecontent = 'Edite y gestione los usuarios desde aquí' %}
{% set breadcrumb = [{'icon': 'cog', 'title': 'Configuración' , 'link': path('app_config')}, {'title': 'Usuarios', 'link': path('systemuser_listsystemusers'), 'icon': 'user'}] %}
{% block maincontent %}
    {% include('BEInterfaceBundle:_Default:warningfromflash.html.twig') %}
    {% include 'SystemuserBundle:Systemuser:tableusers.html.twig' %}
{% endblock %}