{% set configField = { 'label': 'Nombre', 'field': 'name'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Apellidos', 'field': 'surname' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Nombre de usuario', 'field': 'username' } %}
{% if configForm.id == 'insertsystemuser' and genuser is defined and genuser!='' %}
    {% set configField = configField | merge ({'value':genuser}) %}
{% endif %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% if configForm.id == 'insertsystemuser' %}
    {% set configField = { 'label': 'Contraseña', 'field': 'plainPassword', 'field2':'first' } %}
    {% if configForm.id == 'insertsystemuser' and genpass is defined and genpass!='' %}
        {% set configField = configField | merge ({'value':genpass, 'span':'Contraseña generada automáticamente, cópiela: '~genpass~''}) %}
    {% endif %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

    {% set configField = { 'label': 'Repita la Contraseña', 'field': 'plainPassword', 'field2':'second'} %}
    {% if configForm.id == 'insertsystemuser' and genpass is defined and genpass!='' %}
        {% set configField = configField | merge ({'value':genpass}) %}
    {% endif %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
{% endif %}

{% set configField = { 'label': 'Email', 'field': 'email' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}


{% set configField = { 'label': 'Teléfono', 'field': 'phone' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Dirección', 'field': 'address' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Fecha de Nacimiento', 'field': 'birthdate', 'classesinput':'pickdate' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Tipo', 'field': 'roles', 'classesinput':'select2' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

<div id ="fields_farmer" style="display:none;">
    {% set configField = { 'label': 'Ganadería', 'field': 'farm', 'classesinput':'select2' } %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% if configForm.id == 'insertsystemuser' %}
    <div id ="fields_newfarm" style="display:none;">
    {% set configField = { 'label': 'Nombre de Ganadería', 'field': 'farm_name'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
    {% set configField = { 'label': 'Sigla', 'field': 'farm_abb'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
    {% set configField = { 'label': 'Descripción de Ganadería', 'field': 'farm_description'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
    {% set configField = { 'label': 'REGA', 'field': 'farm_rega'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
    </div>
{% endif %}

</div>
    
<script>
    $(document).ready(function(){
        {% set idformfield = ((configForm.id == 'insertsystemuser')?'systemuserinsert':'registration_form') %}
        $('#{{ idformfield }}_roles').change(function(){
            if ($(this).val()=='ROLE_USER'){
                $('#fields_farmer').css('display', 'block');
            }
            else $('#fields_farmer').css('display', 'none');
            
            {% if configForm.id == 'insertsystemuser' %}$('#{{ idformfield }}_farm').trigger('change');{% endif %}
        });
        {% if configForm.id == 'insertsystemuser' %}
            $('#{{ idformfield }}_farm').change(function(){
                if ($(this).val()==''){
                    $('#fields_newfarm').css('display', 'block');
                }else $('#fields_newfarm').css('display', 'none');
            });
        {% endif %}

        $('#{{ idformfield }}_roles').trigger('change');
    });

</script>