{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}


{% block subtitle %}Nuevo {{ role=='ROLE_USER' ? 'Ganadero':'Usuario'}} - {% endblock %}
{% set titlecontent = 'Nuevo '~(role=='ROLE_USER' ? 'Ganadero':'Usuario') %}
{% set subtitlecontent = 'Complete los campos para añadir un nuevo '~(role=='ROLE_USER' ? 'ganadero':'usuario')~' al sistema' %}

{% if role=='ROLE_USER' %}
    {% set pathaction = path('systemuser_insertsystemuser') %}{% set pathcancel = path('systemuser_listfarmers') %}
    {% set breadcrumb = [{'title': 'Farmers', 'link': path('systemuser_listfarmers'), 'icon': 'user'}, {'title': 'Nuevo', 'link': path('systemuser_insertsystemuser', {'role':'farmer'}), 'icon': 'user'}] %}
{% else %}
    {% set pathaction = path('systemuser_insertsystemuser') %}{% set pathcancel = path('systemuser_listsystemusers') %}
    {% set breadcrumb = [{'icon': 'cog', 'title': 'Configuración' , 'link': path('app_config')}, {'title': 'Usuarios', 'link': path('systemuser_listsystemusers'), 'icon': 'user'}, {'title': 'Nuevo', 'link': path('systemuser_insertsystemuser'), 'icon': 'user'}] %}
{% endif %}

 {%
    set configForm = {
        'id' : 'insertsystemuser',
        'pathaction': pathaction,
        'pathcancel': pathcancel,
        'title': (role=='ROLE_USER' ? 'Ganadero':'Usuario'),
        'icon': 'user'
    }
 %}

{% block maincontent %}
    {% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
        {% block formcontent %}
                        {% if form_errors(new_form) %}
                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                       {% endif %}
                       {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}

                       {% include('SystemuserBundle:Systemuser:insertform.html.twig') %}
                       
                       {{ form_widget(new_form._token) }}
                       

        {% endblock %}                    
    {% endembed %}
    
  
{% endblock %}         

{% block additionalscripts %}
    {{ parent() }}
    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}  
    {% set fieldstodate = '.pickdate' %}
    {% include 'BEInterfaceBundle:_Scripts:date.html.twig' %}  
{% endblock %}