{%
    set configTable = {
                                'id': 'systemuser', 
                                'icon': 'user',
                                'noOptions':true,
                                'viewdata': {'url': 'systemuser_viewsystemuser'},
                                'fields': {'username': {'title':'Usuario', 'link_view': true}, 'name': {'title': 'Nombre'}, 'surname': {'title': 'Apellidos'}, 'email': {'title': 'Email'},  'typename': {'title': 'Tipo', 'filter':true}}
                               }
%}
{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('systemuser_insertsystemuser')}}) %}{% endif %}
{% if tabletitle is defined %}{% set configTable = configTable|merge( {'title': tabletitle}) %}{% else %}{% set configTable = configTable|merge( {'title': 'Usuarios'}) %}{% endif %}
{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}
