{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an systemuser
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% set isme = (app.user is defined and app.user is not null and item.username == app.user.username) %}

{% block subtitle %}{{ item.username }} - {{ item.typename }} - {% endblock %}
{% set titlecontent = item.typename %}
{% set subtitlecontent = 'Edite los datos de '~item.username ~' desde aquí' %}

{% set pathaction = path('systemuser_modifysystemuser', {'id': item.id}) %}{% set pathcancel = path('systemuser_listsystemusers') %}
{% set breadcrumb = [{'title': 'Usuarios', 'link': path('systemuser_listsystemusers'), 'icon': 'user'}, {'title': item.username, 'link': path('systemuser_viewsystemuser', {'id':  item.id}), 'icon': 'user'}] %}



{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Usuario</a></li>
                    <li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                                        {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}
                                        {% include('BEInterfaceBundle:_Default:warningfromflash.html.twig') %}                            
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3">
                                        <ul class="list-unstyled profile-nav">
                                            <li>
                                                {% if item.avatar %}
                                                    <img src="/uploads/systemuser/{{ item.id }}/{{ item.avatar }}" alt="Avatar {{ item.username }}" style="width:100%">
                                                {% else %}
                                                    <img src="{{ asset('/bundles/systemuser/images/avatar.png') }}" class="img-responsive" alt="Avatar" style="width:100%" /> 
                                                {% endif %}

                                            </li>
                                        </ul>
                                    </div>                             

                                    <div class="col-md-9 profile-info">
                                        {% set break=0 %}
                                        {% for field in new_form %}
                                            {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
                                        {% endfor %}                               
                                        {% for field in new_form_pass %}
                                            {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
                                        {% endfor %}                               
                                        {% if form_errors(new_form) %}
                                            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                        {% endif %} 
                                        {% if form_errors(new_form_pass) %}
                                            <div class="alert alert-danger">{{ form_errors(new_form_pass) }}</div>
                                        {% endif %}


                                        <h1>{{ item.name }} {{ item.surname}} ({{ item.username }})</h1>
                                        
                                        <ul class="list-inline">
                                            <li><i class="fa fa-calendar"></i> Añadido el {{ item.createdat|date("d/m/Y") }}</li>
                                            <li><i class="fa fa-arrow-up"></i> {{ item.birthdate| age }} años</li>
                                            <li><i class="fa fa-envelope"></i> {{ item.email }}</li>
                                            <li><i class="fa fa-mobile-phone"></i> {{ item.phone }}</li>
                                            <li><i class="fa fa-pushpin"></i> {{ item.address }}</li>
                                        </ul class="list-inline">
                                            {% if item.enabled==false %}<li><i class="fa fa-lock"></i> Bloqueado</li>{% endif %}
                                        </ul>
                                        
                                    </div>
                                    <!--end col-md-12-->

                                    <div class="clearfix"></div>
                                    {% if datamoney is defined %}
                                        {% set data = datamoney %}
                                        <div class="col-md-12" id="payments_listpayments">
                                            {%
                                    set configTable = {
                                                                'id': 'datamoney', 
                                                                'title': 'Registro de Pagos - Monedero Virtual', 
                                                                'icon': 'money',
                                                                'collapse': true,
                                                                'initCollapsed':true,
                                                                'noOptions': true,
                                                                'aaSorting': "[[ 0, 'desc' ]]",
                                                                'viewdata': {'url': 'controlcash_insertformpayment', 'extralink': 'data-target="#modal_ajax" data-toggle="modal"'},
                                                                'insertdata': {'url': path('controlcash_insertformpayment', {'id': 0, 'id_item': item.id, 'type':'user'}), 'extralink': 'data-toggle="modal" data-target="#modal_ajax"'},
                                                                'fields': {'paydate': {'title': 'Fecha', 'link_view':true},'isfee': {'title': '¿Cuota?', 'isboolean':true, 'filter':true}, 'money': {'title': 'Importe'}, 'description': {'title': 'Concepto'} },
                                                                'extrabtns': { 'payrate':{
                                                                                                    'url': path('controlcash_insertformpayment', {'id': 0,  'id_item': item.id, 'type':'user', 'fee':itemproject.fee}),
                                                                                                    'extralink': 'data-target="#modal_ajax" data-toggle="modal"',
                                                                                                    'icon': 'briefcase',
                                                                                                    'color': 'purple',
                                                                                                    'title': 'Cuota ('~itemproject.fee~')€'
                                                                                                        }
                                                                                                }
                                                               }

                                            %}

                                            {% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}
                                        </div>
                                    {% endif %}

                                </div>
                                <!--end row-->
                            </div>
                        </div>
                    </div>
                    <!--tab_1_2-->
                    <div class="tab-pane" id="tab_1_3">
                        <div class="row profile-account">
                            <div class="col-md-3">
                                <ul class="ver-inline-menu tabbable margin-bottom-10">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tab_1-1">
                                            <i class="fa fa-cog"></i> 
                                            Datos
                                        </a> 
                                        <span class="after"></span>                                    
                                    </li>
                                    {% if isme %}
                                        <li class="">
                                            <a data-toggle="tab" href="#tab_1-2">
                                                <i class="fa fa-key"></i> 
                                                Contraseña
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                    {% endif %}
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_1-3">
                                            <i class="fa fa-picture-o"></i> 
                                            Avatar
                                        </a> 
                                        <span class="after"></span>                                    
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_1-4">
                                            <i class="fa fa-trash"></i> 
                                            Eliminar
                                        </a> 
                                        <span class="after"></span>                                    
                                    </li>
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content">
                                    <div id="tab_1-1" class="tab-pane active">
                                        {%
                                set configForm = {
                                    'id' : 'modifysystemuser',
                                    'pathaction': pathaction,
                                    'pathcancel': pathcancel
                                }
                                        %}


                                        {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                            {% block formcontent %}
                                                {% if form_errors(new_form) %}
                                                    <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                {% endif %}

                                                {% include('SystemuserBundle:Systemuser:insertform.html.twig') %}


                                                {{ form_widget(new_form._token) }}

                                            {% endblock %}                    
                                        {% endembed %}

                                    </div>
                                    {% if isme %}
                                        <div id="tab_1-2" class="tab-pane">
                                            {%
                                    set configForm = {
                                        'id' : 'modifysystemuserpassword',
                                        'pathaction': path('systemuser_modifysystemuserpassword', { 'id': item.id }),
                                        'pathcancel': path('systemuser_listsystemusers')
                                    }
                                            %}


                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% if form_errors(new_form_pass) %}
                                                        <div class="alert alert-danger">{{ form_errors(new_form_pass) }}</div>
                                                    {% endif %}
                                                    {% set new_form = new_form_pass %}

                                                    {% set configField = { 'label': 'Contraseña Actual', 'field': 'current_password'} %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Nueva Contraseña', 'field': 'plainPassword', 'field2':'first' } %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

                                                    {% set configField = { 'label': 'Repita la Contraseña', 'field': 'plainPassword', 'field2':'second'} %}
                                                    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}


                                                    {{ form_widget(new_form_pass._token) }}

                                                {% endblock %}                    
                                            {% endembed %}

                                        </div>
                                    {% endif %}

                                    <div id="tab_1-3" class="tab-pane">
                                        <p>Seleccione una imagen, a ser posible cuadrada, como avatar del usuario</p>
                                        {% set _avatar = item.avatar %}{% set _avatartype = 'systemuser' %}
                                        {% set _pathform =  path('systemuser_changeavatarsystemuser', {'id': item.id}) %}
                                        {% include('BEInterfaceBundle:_Scripts:changeavatar.html.twig') %}
                                    </div>                                 

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div id="tab_1-4" class="tab-pane">
                                            <p>Eliminar Usuario</p>
                                            <form method="POST"  onsubmit="return confirm('ATENCIÓN: ESTA OPERACIÓN ES IRREVERSIBLE. ¿Seguro que desea eliminar el usuario?')" action="{{ path('systemuser_deletesystemuser', {'id': item.id}) }}">
                                                <button class="btn red" type="submit"><i class="fa fa-trash"></i> Eliminar</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!--end col-md-9-->                                   
                        </div>
                    </div>
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
    {% set idfield = 'systemuser_comments' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    
    {% set idfield = 'systemuser_publicdescription' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    
    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}  
    {% set fieldstodate = '.pickdate' %}
    {% include 'BEInterfaceBundle:_Scripts:date.html.twig' %}  
{% endblock %}    