{% extends "SystemuserBundle::layoutuser.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" id="login">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
        <label for="username">{{ 'security.login.username'|trans }} o email </label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"  placeholder="Usuario" class="form-control placeholder-no-fix" />
        </div>
    </div>

    <div class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>        
            <input type="password" id="password" name="_password" required="required"  placeholder="Password" class="form-control placeholder-no-fix" />
        </div>
    </div>
        
        {# if app.request.get('return') is defined and app.request.get('return')!='' %}
           
            <input type="hidden" id="_target_path" name="_target_path" value="{{ app.request.get('return') }}"/>
            {% endif #}
        

    <div class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    <div class="form-actions">
        <input type="submit" id="_submit" name="_submit" class="btn blue pull-right" value="{{ 'security.login.submit'|trans }}" />
    </div>
</form>
        
<a href="{{ path('fos_user_resetting_request') }}" style="color:white !important;" class="forgotpassword">*He olvidado mi contraseña</a>        
{% endblock fos_user_content %}
