<div class="column-filter-widgets" >
    <div class="column-filter-widget">
        <input class="inline form-control input-medium datepicker" id="filterfrom" placeholder="Desde" style="margin-right: 5px;"/> 
        <input class="inline form-control input-medium datepicker" id="filterto"  placeholder="Hasta" style="margin-right: 5px;" /> 
        <input class="input-medium select2-offscreen form-control inline" id="filteruser" style="margin-right: 5px;" >
        <select class="input-medium select2-offscreen form-control inline" id="filteraction" style="margin-right: 5px;" placeholder="Acción"><option value="">Acción</option>{% for text,id in actions %}<option value="{{ id }}">{{ text }}</option>{% endfor %}</select>
        <a href="javascript:cleanfilters();" class="btn btn-primary inline-block yellow" style="margin-top:10px !important;"><i class="fa fa-circle-o"></i> Limpiar Filtros</a>
        <div class="clearfix"></div>
        </div>
    <div class="clearfix"></div>
    </div>
<div class="clearfix"></div>