{#
    Pacolmg
    Greetik Soluciones SL
    view the log table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Log - {% endblock %}
{% set titlecontent = 'Log'%}
{% set subtitlecontent = 'Registro de acciones en la Aplicación' %}
{% set breadcrumb = [{'title': 'Log', 'link': path('systemlog_homepage'), 'icon': 'bell'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    {%
    set configTable = {
                                'id': 'log', 
                                'title': 'Log', 
                                'icon':'bell',
                                'aaSorting': "[[ 2, 'desc' ]]",
                                'noOptions':true,
                                'viewdata': {'url': 'systemlog_homepage'},
                                'fields': {
                                    'id': {'title': '#'},
                                    'ip': {'title': 'IP'},
                                    'logtime': {'title': 'Fecha'},
                                    'user': {'title': 'Usuario'},
                                    'logaction':{'title': 'Acción'},
                                    'logdescription':{'title': 'Descripción'}
                                },
                                'fromajax': {'params': '{"name": "action", "value":$("#filteraction").val()}, {"name": "fromdate", "value":$("#filterfrom").val()}, {"name": "todate", "value":$("#filterto").val()}, {"name": "user", "value":$("#filteruser").val()}', 'bProcessing':true, 'bServerSide':true, 'sAjaxSource': path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }
                               }
                              
    %}

    {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}
    {% include 'BEInterfaceBundle:_Default:successfromflash.html.twig' %}

    {% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}


    <script>
        $(document).ready(function () {

            var i = 0;
            $('#log_wrapper .clear').each(function () {
                if (i == 0) {
                    $('{% spaceless %}{% include "SystemlogBundle:Log:filterslog.html.twig" %}{% endspaceless %}').insertBefore($(this));
                }
                i++;
            });

            $('#log_wrapper .column-filter-widgets select').select2();
        });
    </script>
    <script src="//cdn.datatables.net/plug-ins/1.10.15/api/fnFilterClear.js"></script>
    <script>
        function cleanfilters() {
            $('#filterfrom').val('');
            $('#filterto').val('');
            $('#filteraction').val('');
            $('#filteraction').select2();
            $('#filteruser').select2("data", {'id': 0 , 'text':""});
            oTablelog.fnFilterClear();
        
            $('#filteruser').trigger('change');
        }
    </script>     
    <script>
        function formatdate(date) {
            if (!date)
                return '';
            var aux = date.split('/');
            return aux[2] + '-' + aux[1] + '-' + aux[0];
        }

        $(document).ready(function () {
            $('#filterfrom').on('changeDate', function () {
                var fit_start_time = formatdate($(this).val());
                var fit_end_time = formatdate($("#filterto").val());
                if (new Date(fit_start_time) > new Date(fit_end_time) || !fit_end_time) {
                    $("#filterto").datepicker('update', new Date(fit_start_time));
                }
                oTablelog.fnReloadAjax();
            });
            $('#filterto').on('changeDate', function () {
                var fit_start_time = formatdate($("#filterfrom").val());
                var fit_end_time = formatdate($(this).val());
                if (new Date(fit_start_time) > new Date(fit_end_time) || !fit_start_time) {
                    $("#filterfrom").datepicker('update', new Date(fit_end_time));
                }
                oTablelog.fnReloadAjax();
            })
        });
    </script>
<script>
    $(document).ready(function () {
        $('#filteraction').select2({placeholder: 'Acción'}).on("change", function(e) { oTablelog.fnReloadAjax();});
        
        $('#filteruser').select2({
        placeholder: "Usuario",
                minimumInputLength: 3,
                ajax: {
                url: "{{ path('systemuser_getforselect') }}",
                        dataType: 'json',
                        quietMillis: 100,
                        type: 'POST',
                        data: function (term, page) { // page is the one-based page number tracked by Select2
                        return {
                        q: term
                        };
                        },
                        results: function (data, page) {
                        if (data.errorCode > 0) {
                        alert(data.errorDescription);
                                return;
                        }
                        var more = (page * 10) < data.data.length; // whether or not there are more results available								 
                                // notice we return the value of more so Select2 knows if more results can be loaded
                                return {results: data.data, more: more};
                        }
                },
                escapeMarkup: function (m) {
                return m;
                } // we do not want to escape markup since we are displaying html in results
        }).on("change", function(e) { oTablelog.fnReloadAjax();});
        });
        </script>
    {% set fieldstodate = ".datepicker"%}
    {% set emptydefaultvaluedate = false%}
    {% include "BEInterfaceBundle:_Scripts:date.html.twig" %}
{% endblock %}