{#
    Pacolmg
    Greetik Soluciones SL
    view the farms table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Listado de Ganaderías - {% endblock %}
{% set titlecontent = 'Ganaderías'%}
{% set subtitlecontent = 'Edite y gestione las ganaderías desde aquí' %}

{% set breadcrumb = [{'icon': 'truck', 'title':'Ganaderías', 'link': path('farm_listfarms')}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
{% include "FarmBundle:Default:index.html.twig" %}
{% endblock %}