{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nueva Ganadería - {% endblock %}
{% set titlecontent = 'Nueva Ganadería'%}
{% set subtitlecontent = 'Complete los campos para añadir una nueva ganadería al directorio' %}

{% set pathaction = path('farm_insertfarm') %}{% set pathcancel = path('farm_listfarms') %}
{% set breadcrumb = [{'icon': 'truck', 'title':'Ganaderías', 'link': path('farm_listfarms')}, {'title': 'Nueva', 'link': path('farm_listfarms'), 'icon': 'truck'}] %}

{%
    set configForm = {
        'id' : 'insertfarm',
        'pathaction': pathaction,
        'pathcancel': pathcancel,
        'title': 'Ganadería',
        'icon': 'truck'
    }
%}

{% block maincontent %}
    {% include('FarmBundle:Default:insert.html.twig') %}
{% endblock %}         
