{% set maxlevel = 6 %}
{% set _animal = animal %}
{% if level is not defined or level == 1 %}
    {% set level = 1 %}
    <ul>
    {% endif %}
    {% if level < maxlevel %}
        {% set level = level +1 %}
        <li><a href="{{ ((animal.id)?path('farm_viewanimal', {'id': animal.id }):'#') }}">{{ animal.name }}{% if animal.tattoo %}<br />{{ animal.tattoo}}{% endif %}</a>
            {% if _animal.father is defined and _animal.mother is defined %}
                {% if level<maxlevel %}<ul>{% endif %}
                    {% if _animal.father and _animal.fatherdata is defined %}
                        {% set animal = _animal.fatherdata %}
                        {% include "FarmBundle:Default:animaltree.html.twig" %}
                    {% else %}
                        {# set animal = {'id': '', 'name': 'Padre de '~_animal.name, 'tattoo':'' } #}
                        {% set animal = {'id': '', 'name': '-', 'tattoo':'' } %}
                        {% include "FarmBundle:Default:animaltree.html.twig" %}
                    {% endif %}
                    {% if _animal.mother  and _animal.motherdata is defined %}
                        {% set animal = _animal.motherdata %}
                        {% include "FarmBundle:Default:animaltree.html.twig" %}
                    {% else %}
                        {# set animal = {'id': '', 'name': 'Madre de '~_animal.name, 'tattoo':'' } #}
                        {% set animal = {'id': '', 'name': '-', 'tattoo':'' } %}
                        {% include "FarmBundle:Default:animaltree.html.twig" %}
                    {% endif %}
                    {% if level<maxlevel  %}</ul>{% endif %}
            {% endif %}
        </li>
    {% endif %}
    {% if level==1%}<div class="clearfix"></div></ul><div class="clearfix"></div>{%endif %}