{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% set idmodal = 'dropanimal' %}
{% block idajaxloaderloader %}{{ idmodal }}{% endblock %}
{% block idajaxloaderbuttons %}{{ idmodal }}{% endblock %}

{% block modaltitle %}Baja Animal{% endblock %}

{% block modalbody %}
    {% if form_errors(new_form) %}
        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
    {% endif %}

    <form class="col-md-12" action="#" id="dropAnimalform">

        {% set configField = { 'label': 'Fecha de Baja', 'field': 'enddate', 'classesinput':'pickdateempty'} %}
        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
        <div class="clearfix"></div>

        {{ form_widget(new_form._token) }}
        <div class="clearfix"></div>
    </form>


{% endblock %}         

{% block modalbuttons %}
    <button type="button" id="btn_dropAnimal" class="btn blue">Guardar</button>
{% endblock %}

{% block modalscripts %}
    {% set fieldstodate = '.pickdateempty' %}
    {% set emptydefaultvaluedate = false%}
    {% include "BEInterfaceBundle:_Scripts:date.html.twig" %}


    <script>
        $(document).ready(function () {
             
           $('#btn_dropAnimal').click(function () {
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                $.post('{{ path('farm_dropanimal', {'id': id}) }}', $("#dropAnimalform").serialize(), function (r) {
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }
                    oTableanimals.fnReloadAjax();
                    $('.modal').modal('hide');
                });
            });

        });
    </script>
{% endblock %}

