<div class="column-filter-widgets" >
    <div class="column-filter-widget">
        <select class="input-medium select2-offscreen form-control inline" id="filterActive" placeholder="Acción"><option value="1" selected>Activos</option><option value="2">Referencia</option><option value="3">Baja</option><option value="">Todos</option></select>
        <div class="clearfix"></div>
        </div>
    <div class="clearfix"></div>
    </div>
<div class="clearfix"></div>