{%
    set configTable = {
                                'id': 'farms', 
                                'title': 'Ganaderías', 
                                'icon': 'truck',
                                'noOptions':true,
                                'viewdata': {'url': 'farm_viewfarm'},
                                'fields': {'rega': {'title': 'rega'}, 'abb': {'title': 'Sigla'}, 'name': {'title':'Nombre', 'link_view': true}, 'town': {'title':'Población'}, 'province_name': {'title':'Provincia'}, 'phone': {'title':'Tfno'}, 'mobile': {'title':'Móvil'}, 'active': {'title':'Activa', 'filter':true, 'isboolean':true}},
                                'extrabtns': { 'importfarms':{
                                    'url': path('farm_importfarmsform'),
                                    'extralink': 'data-target="#modal_ajax" data-toggle="modal"',
                                    'icon': 'arrow-up',
                                    'color': 'purple',
                                    'title': 'Importar'
                                        }
                                }
                               }
%}

{% include('BEInterfaceBundle:_Default:warningfromflash.html.twig') %}
{% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}

{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('farm_insertfarm')}}) %}{% endif %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}
