{% set configTable = {
'id': 'animals',
'title': 'Animales',
'icon':'paw',
'aaSorting': "[[ 0, 'desc' ]]",
'noOptions':true,
'viewdata': {'url': 'farm_listanimals'},
'iDisplayLength':100,
    'sPaginationType': 'full_numbers',
'fields': {
'birthdate': {'title': 'Fecha'},
'number': {'title': 'Tatuaje'},
'registerc': {'title': 'RNU'},
'registerd': {'title': 'RDU'},
'farm': {'title': 'Ganadería'},
'nombre': {'title': 'Nombre'},
'gender': {'title': 'Sexo'},
'crotal':{'title': 'Crotal'},
'forsale': {'title': 'Venta'},
'enddate': {'title': 'Fecha de Baja'},
},
'fromajax': {'params': '{"name": "onlyActive", "value": numloads==0 ?1:$("#filterActive").val()}','bProcessing':true, 'bServerSide':true, 'sAjaxSource': ((farm is defined)?path('farm_listanimals', {'farm':farm}):((parent is defined)?path('farm_listanimals', {'parent':parent}):path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')))) }
} %}
{% if titletable is defined and titletable != '' %}{% set configTable = configTable | merge ({'title':titletable }) %}{% endif %}
{% if app.request.attributes.get('_route') == 'fos_user_profile_show' %}{% set configTable = configTable|merge( {'insertdata': { 'url': path('farm_insertanimalmasive', {'farm':item.farmdata.id})}}) %}{% endif %}
{% if app.request.attributes.get('_route') == 'farm_viewfarm' %}{% set configTable = configTable|merge( {'insertdata': { 'url': path(masive is defined and masive==true ? 'farm_insertanimal':'farm_insertanimalmasive', {'farm':farm})}}) %}{% endif %}
{% if app.request.attributes.get('_route') == 'farm_viewfarm' or app.request.attributes.get('_route') == 'fos_user_profile_show' or app.request.attributes.get('_route') == 'visits_detailvisit' %}
    {% set configTable = configTable | merge({
    'fields': {
    'birthdate': {'title': 'Fecha'},
    'number': {'title': 'Tatuaje'},
    'nombre': {'title': 'Nombre'},
    'gender': {'title': 'Sexo'},
    'crotal':{'title': 'Crotal'},
    'register':{'title': 'Registro'},
    'mothername':{'title': 'Madre'},
    'fathername':{'title': 'Padre'},
    'forsale': {'title': 'Venta'},
    'enddate' : {'title': 'Baja'},
    'provisional':{'title': '*'}
    }
    }) %}
{% endif %}
{% if app.request.attributes.get('_route') == 'farm_listanimals' %}{% set configTable = configTable|merge( {'insertdata': { 'url': path(masive is defined and masive==true ? 'farm_insertanimalmasive':'farm_insertanimal', app.request.attributes.get('_route_params'))}}) %}{% endif %}
{% if app.request.attributes.get('_route') == 'farm_listanimals' %}
    {% set configTable = configTable | merge({
    'fields': {
    'birthdate': {'title': 'Fecha'},
    'number': {'title': 'Tatuaje'},
    'registerc': {'title': 'RNU'},
    'registerd': {'title': 'RDU'},
    'farm': {'title': 'Ganadería'},
    'nombre': {'title': 'Nombre'},
    'gender': {'title': 'Sexo'},
    'crotal':{'title': 'Crotal'},
    'forsale': {'title': 'Venta'},
    'price': {'title': 'Fecha de Baja'},
    'enddate' : {'title': 'Baja'}
    }
    }) %}
    {% set configTable = configTable|merge( {'extrabtns': { 'importanimals':{
    'url': path('farm_importanimalsform'),
    'extralink': 'data-target="#modal_ajax" data-toggle="modal"',
    'icon': 'arrow-up',
    'color': 'purple',
    'title': 'Importar'
    },
    'importanimalsindex':{
    'url': path('farm_importanimalsindexform'),
    'extralink': 'data-target="#modal_ajax" data-toggle="modal"',
    'icon': 'arrow-up',
    'color': 'purple',
    'title': 'Importar Méritos'
    }
    }}) %}{% endif %}
{% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}
{% include 'BEInterfaceBundle:_Default:successfromflash.html.twig' %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}

<script>
    var numloads = 0;
    $(document).ready(function () {

        var i = 0;
        $('#animals_wrapper .clear').each(function () {
            if (i == 0) {
                $('{% spaceless %}{% include "FarmBundle:Default:filtersanimal.html.twig" %}{% endspaceless %}').insertBefore($(this));
                numloads++;
            }
            i++;
        });

        $('#animals_wrapper .column-filter-widgets select').select2();
    });

    $(document).ready(function () {
        $('#filterActive').change(function () {
            oTableanimals.fnReloadAjax();
        });
    });
</script>