
{% set configField = { 'label': 'Peso al Nacer', 'field': 'birthweight'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Peso al Destete', 'field': 'weaningweight'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Facilidad de Nacimiento', 'field': 'easebirth'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Desarrollo Muscular', 'field': 'muscledev', 'classesinput':''} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Potencial de Crecimiento', 'field': 'weaningval', 'classesinput':''} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Desarrollo Esquelético', 'field': 'bonedev', 'classesinput':'' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}