{% if myfarm is not defined or myfarm!=true %}
    {% set configField = { 'label': 'Rega', 'field': 'rega'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
{% endif %}
{% set configField = { 'label': 'Nombre', 'field': 'name'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% if myfarm is not defined or myfarm!=true %}
    {% set configField = { 'label': 'Sigla', 'field': 'abb'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
{% endif %}
{% set configField = { 'label': 'Dirección', 'field': 'address'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Código Postal', 'field': 'zip'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Población', 'field': 'town'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Provincia', 'field': 'province'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Contacto 1', 'field': 'contact'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Contacto 2', 'field': 'contact2'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Teléfono', 'field': 'phone'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Otro', 'field': 'phone2'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Móvil', 'field': 'mobile'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'FAX', 'field': 'fax'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% if myfarm is not defined or myfarm!=true %}
    {% set configField = { 'label': 'CIF', 'field': 'cif'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

    {% set configField = { 'label': 'Cuenta', 'field': 'bankaccount'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

    {% set configField = { 'label': 'Etiqueta', 'field': 'namelabel'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

    {% set configField = { 'label': 'Titular', 'field': 'owner'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
{% endif %}
{% set configField = { 'label': 'Email', 'field': 'email'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% if myfarm is not defined or myfarm!=true %}
    {% set configField = { 'label': 'Rega Reducido', 'field': 'regaabb'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

    {% set configField = { 'label': 'Finca', 'field': 'fieldname'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

    {% set configField = { 'label': 'Municipio de la Finca', 'field': 'fieldtown'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

    {% set configField = { 'label': 'Provincia de la Finca', 'field': 'fieldprovince'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

    {% set configField = { 'label': 'Descripción', 'field': 'description'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
    <hr>
    {% set configField = { 'label': 'Baja', 'field': 'enddate', 'classesinput':'datepickerempty'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
{% endif %}
    
{% set fieldstodate = '.datepickerempty'%}
{% set emptydefaultvaluedate=false %}
{% include 'BEInterfaceBundle:_Scripts:date.html.twig'%}