{% set configField = { 'label': 'Nombre', 'field': 'name'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Fecha', 'field': 'fairdate', 'classesinput':'datepicker'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
<hr>
{% set configField = { 'label': 'Hasta', 'field': 'enddate', 'classesinput':'datepickerempty'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set fieldstodate = '.datepicker'%}
{% include 'BEInterfaceBundle:_Scripts:date.html.twig'%}

{% set fieldstodate = '.datepickerempty'%}
{% set emptydefaultvaluedate=false %}
{% include 'BEInterfaceBundle:_Scripts:date.html.twig'%}