{% set configField = { 'label': 'A la Venta', 'field': 'forsale'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

<div id="fieldsforsale">
    {% set configField = { 'label': 'Precio', 'field': 'price'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
</div>
    
{% set configField = { 'label': 'País', 'field': 'country', 'classesinput':'select2'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Tatuaje', 'field': 'tattoo'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Nombre', 'field': 'name'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Ganadería', 'field': 'farm', 'classesinput':'select2'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Origen', 'field': 'farmbirth', 'classesinput':'select2'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Sexo', 'field': 'gender', 'classesinput':'select2' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Crotal', 'field': 'crotal'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Nacimiento', 'field': 'birthdate', 'classesinput':'datepicker'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Madre', 'field': 'mother'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Padre', 'field': 'father'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Registro en C', 'field': 'registerc'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Fecha Registro en C', 'field': 'rnudate', 'classesinput':'datepickerempty'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Registro en D', 'field': 'registerd'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Fecha Registro Definitivo', 'field': 'rdudate', 'classesinput':'datepickerempty'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Calificación', 'field': 'points'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Fecha Índices', 'field': 'indexdate', 'classesinput':'datepickerempty'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
<hr>

{% set configField = { 'label': 'Baja', 'field': 'enddate', 'classesinput':'datepickerempty'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
<hr>
{% set configField = { 'label': 'Destete', 'field': 'weaningdate', 'classesinput':'datepickerempty'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Condición', 'field': 'weaningcondition', 'classesinput':'select2'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

<hr>
    {% set configField = { 'label': 'Número de parto', 'field': 'birthnum'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

    {% set configField = { 'label': 'Dificultad', 'field': 'calvingscore', 'classesinput':'select2'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

    {% set configField = { 'label': 'Gemelos', 'field': 'twin', 'classesinput':'select2'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}


{% set fieldstoselect = '.select2'%}
{% include 'BEInterfaceBundle:_Scripts:select.html.twig'%}
{% set fieldstodate = '.datepicker'%}
{% include 'BEInterfaceBundle:_Scripts:date.html.twig'%}

{% set fieldstodate = '.datepickerempty'%}
{% set emptydefaultvaluedate=false %}
{% include 'BEInterfaceBundle:_Scripts:date.html.twig'%}


<script>
    $(document).ready(function () {
        $('#animal_forsale').change(function(){
            
            if ($(this).is(':checked')){
                $('#fieldsforsale').css('display', 'block');
            }else $('#fieldsforsale').css('display', 'none');
        });
        
        $('#animal_forsale').trigger('change');
        
        $('#animal_father').select2({
        placeholder: "Padre",
                minimumInputLength: 3,
                ajax: {
                url: "{{ path('farm_getanimalforselect') }}",
                        dataType: 'json',
                        quietMillis: 100,
                        type: 'POST',
                        data: function (term, page) { // page is the one-based page number tracked by Select2
                        return {
                        q: term,
                                gender:{{ 'MACHO' |enum_constant  }},
                                all: true
                        };
                        },
                        results: function (data, page) {
                        if (data.errorCode > 0) {
                        alert(data.errorDescription);
                                return;
                        }
                        var more = (page * 10) < data.data.length; // whether or not there are more results available								 
                                // notice we return the value of more so Select2 knows if more results can be loaded
                                return {results: data.data, more: more};
                        }
                },
                escapeMarkup: function (m) {
                return m;
                } // we do not want to escape markup since we are displaying html in results
        }){% if item is defined and item.father != null %}.select2("data", {'id': {{ item.father }} , 'text':"{{ item.fatherdata.name }}"
        }
        ){% endif %};
        $('#animal_mother').select2({
        placeholder: "Madre",
                minimumInputLength: 3,
                ajax: {
                url: "{{ path('farm_getanimalforselect') }}",
                        dataType: 'json',
                        quietMillis: 100,
                        type: 'POST',
                        data: function (term, page) { // page is the one-based page number tracked by Select2
                        return {
                        q: term,
                                gender:{{ 'HEMBRA' |enum_constant  }},
                            all: true
                        };
                        },
                        results: function (data, page) {
                        if (data.errorCode > 0) {
                        alert(data.errorDescription);
                                return;
                        }
                        var more = (page * 10) < data.data.length; // whether or not there are more results available								 
                                // notice we return the value of more so Select2 knows if more results can be loaded
                                return {results: data.data, more: more};
                        }
                },
                escapeMarkup: function (m) {
                return m;
                } // we do not want to escape markup since we are displaying html in results
        }){% if item is defined and item.mother != null %}.select2("data", {'id': {{ item.mother }} , 'text':"{{ item.motherdata.name }}"}
        ){% endif %};
    });
</script>

