{% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
    {% block formcontent %}
        {% if form_errors(new_form) %}
            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
        {% endif %}
        {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}
        {% include 'BEInterfaceBundle:_Default:successfromflash.html.twig' %}

        <div class="row-fluid">
            <div class="col-xl-1">
                {% set configField = { 'label': 'Nacimiento', 'field': 'birthdate', 'classesinput':'datepickerempty'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="col-xl-1">
                {% set configField = { 'label': 'Nombre', 'field': 'name'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="col-xl-2">
                <div class="row">
                    <div class="col-xs-6">
                        {% set configField = { 'label': 'Tatuaje', 'field': 'tattoo'} %}
                        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                    </div>
                    <div class="col-xs-6">
                        {% set configField = { 'label': 'Crotal', 'field': 'crotal'} %}
                        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="row">
                    <div class="col-xs-6">
                        {% set configField = { 'label': 'Sexo', 'field': 'gender'} %}
                        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                    </div>
                    <div class="col-xs-6">
                        {% set configField = { 'label': 'Peso', 'field': 'birthweight'} %}
                        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-xl-2">
                {% set configField = { 'label': 'Padre', 'field': 'father'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="col-xl-2">
                {% set configField = { 'label': 'Madre', 'field': 'mother'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="col-xl-2">
                <div class="row">
                    <div class="col-xs-4">
                        {% set configField = { 'label': 'N', 'field': 'birthnum'} %}
                        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                    </div>
                    <div class="col-xs-4">
                        {% set configField = { 'label': 'D', 'field': 'calvingscore'} %}
                        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                    </div>
                    <div class="col-xs-4">
                        {% set configField = { 'label': 'T', 'field': 'twin'} %}
                        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p>*<strong>N</strong>: Número de Parto.<strong>D</strong>: Dificultad.<strong>T</strong>: Gemelos.</p>
        </div>

        {{ form_widget(new_form._token) }}

        {% set fieldstodate = '.datepicker'%}
        {% include 'BEInterfaceBundle:_Scripts:date.html.twig'%}

        {% set fieldstodate = '.datepickerempty'%}
        {% set emptydefaultvaluedate=false %}
        {% include 'BEInterfaceBundle:_Scripts:date.html.twig'%}

        {% set fieldstoselect = '.select2'%}
        {% include 'BEInterfaceBundle:_Scripts:select.html.twig'%}
        <style>
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0; 
            }    

            select {
                appearance:none;
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
            }
        </style>
        <script>
            $(document).ready(function () {

            $('#insertanimal').on('submit', function(){
            $('#insertanimal .btn').css('display', 'none');
            return true;
            });
            $('#animalmasive_father').select2({
            placeholder: "Padre",
                    minimumInputLength: 3,
                    ajax: {
                    url: "{{ path('farm_getanimalforselect') }}",
                            dataType: 'json',
                            quietMillis: 100,
                            type: 'POST',
                            data: function (term, page) { // page is the one-based page number tracked by Select2
                            return {
                            q: term,
                                    gender:{{ 'MACHO' |enum_constant  }}
                            };
                            },
                            results: function (data, page) {
                            if (data.errorCode > 0) {
                            alert(data.errorDescription);
                            return;
                            }
                            var more = (page * 10) < data.data.length; // whether or not there are more results available								 
                            // notice we return the value of more so Select2 knows if more results can be loaded
                            return {results: data.data, more: more};
                            }
                    },
                    escapeMarkup: function (m) {
                    return m;
                    } // we do not want to escape markup since we are displaying html in results
            }){% if item is defined and item.father != null %}.select2("data", {'id': {{ item.father }} , 'text':"{{ item.fatherdata.name }}"
            }
            ){% endif %};
            $('#animalmasive_mother').select2({
            placeholder: "Madre",
                    minimumInputLength: 3,
                    ajax: {
                    url: "{{ path('farm_getanimalforselect') }}",
                            dataType: 'json',
                            quietMillis: 100,
                            type: 'POST',
                            data: function (term, page) { // page is the one-based page number tracked by Select2
                            return {
                            q: term,
                                    gender:{{ 'HEMBRA' |enum_constant  }}
                            };
                            },
                            results: function (data, page) {
                            if (data.errorCode > 0) {
                            alert(data.errorDescription);
                            return;
                            }
                            var more = (page * 10) < data.data.length; // whether or not there are more results available								 
                            // notice we return the value of more so Select2 knows if more results can be loaded
                            return {results: data.data, more: more};
                            }
                    },
                    escapeMarkup: function (m) {
                    return m;
                    } // we do not want to escape markup since we are displaying html in results
            }){% if item is defined and item.mother != null %}.select2("data", {'id': {{ item.mother }} , 'text':"{{ item.motherdata.name }}"}
            ){% endif %};
            });
            
            //quitar intro
            $(document).ready(function() {
            $(window).keydown(function(event){
            if (event.keyCode == 13) {
            event.preventDefault();
            return false;
            }
            });
            });
        </script>        
    {% endblock %}                    
{% endembed %}