{% set configField = { 'label': 'A la Venta', 'field': 'forsale'} %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

<div id="fieldsforsale">
    {% set configField = { 'label': 'Precio', 'field': 'price'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

    {% set configField = { 'label': 'Desde', 'field': 'salefrom', 'classesinput':'pickdate'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
</div>

{% set fieldstodate='.pickdate'%}
{% include "BEInterfaceBundle:_Scripts:date.html.twig" %}
<script>
    $(document).ready(function () {
        $('#animal_partial_forsale').change(function(){
            
            if ($(this).is(':checked')){
                $('#fieldsforsale').css('display', 'block');
            }else $('#fieldsforsale').css('display', 'none');
        });
        
        $('#animal_partial_forsale').trigger('change');        
    });
</script>

