{% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
    {% block formcontent %}
        {% if form_errors(new_form) %}
            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
        {% endif %}
        {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}

        {% include('FarmBundle:Default:insertform.html.twig') %}

        {{ form_widget(new_form._token) }}
    {% endblock %}                    
{% endembed %}