{%
    set configTable = {
                        'id': 'fairsections', 
                        'icon': 'calendar',
                        'aaSorting': ' [[0, "desc"]]',
                        'noOptions':true,
                        'viewdata': {'url': 'fairs_insertfairsectionform', 'extralink': 'data-toggle="modal" data-target="#modal_ajax"', 'paramsurl':{'id_fair':id_fair}},
                        'fields': {'id': {'title':'#', 'link_view':true},'gender_name': {'title': 'Sexo'},'frommonths': {'title': 'Desde'},'tomonths': {'title': 'Hasta'}}
                       }
%}
{% if tabletitle is defined %}{% set configTable = configTable|merge( {'title': tabletitle}) %}{% else %}{% set configTable = configTable|merge( {'title': 'Secciones'}) %}{% endif %}
{% if insertAllow is defined and insertAllow==true %}{% set configTable = configTable|merge( {'insertdata': {'url': path('fairs_insertfairsectionform', {'id_fair':id_fair}), 'extralink': 'data-toggle="modal" data-target="#modal_ajax"'}}) %}{% endif %}
{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}