{%
    set configTable = {
                        'id': 'fair', 
                        'icon': 'calendar',
                        'aaSorting': ' [[0, "desc"]]',
                        'noOptions':true,
                        'viewdata': {'url': 'fairs_viewfair'},
                        'fields': {'fairdate': {'title':'Día', 'link_view':true, 'isdate':true},'name': {'title': 'Nombre'}}
                       }
%}
{% if tabletitle is defined %}{% set configTable = configTable|merge( {'title': tabletitle}) %}{% else %}{% set configTable = configTable|merge( {'title': 'Ferias'}) %}{% endif %}
{% if insertAllow is defined and insertAllow==true %}{% set configTable = configTable|merge( {'insertdata': {'url': path('fairs_insertfairform'), 'extralink': 'data-toggle="modal" data-target="#modal_ajax"'}}) %}{% endif %}
{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}