{%
    set configTable = {
                        'id': 'fairanimals', 
                        'icon': 'calendar',
                        'aaSorting': ' [[0, "desc"]]',
                        'noOptions':true,
                        'viewdata': {'url': 'fairs_insertfairanimalform', 'extralink': 'data-toggle="modal" data-target="#modal_ajax"', 'paramsurl':{'id_fair':id_fair}},
                        'fields': {'section_name': {'title': 'Sección', 'link_view':true}, 'tattoo': {'title': 'Tatuaje'},'name': {'title': 'Nombre'},'farmname': {'title': 'Ganadería'},'gender_name': {'title': 'Sexo'},'birthdate': {'title': 'Fecha N.', 'isdate': true}}
                       }
%}
{% if tabletitle is defined %}{% set configTable = configTable|merge( {'title': tabletitle}) %}{% else %}{% set configTable = configTable|merge( {'title': 'Animales'}) %}{% endif %}
{% if insertAllow is defined and insertAllow==true %}{% set configTable = configTable|merge( {'insertdata': {'url': path('fairs_insertfairanimalform', {'id_fair':id_fair}), 'extralink': 'data-toggle="modal" data-target="#modal_ajax"'}}) %}{% endif %}
{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}