{% if item.points or item.easebirth or item.muscledev or item.weaningval or item.bonedev %}
    <p>&nbsp;</p>
    <div class="portlet sale-summary">
        <div class="portlet-title">
            <div class="caption">Puntuación</div>
        </div>
        <div class="portlet-body">
            <ul class="list-unstyled">
                {% if item.points %}
                    <li>
                        <span class="sale-info">Puntos <i class="fa fa-bolt"></i></span> 
                        <span id="points_earned" class="sale-num">{{ item.points | round }}</span>
                    </li>
                {% endif%}
                {% if item.easebirth %}
                    <li>
                        <span class="sale-info">Fac. Parto <i class="fa fa-bookmark"></i></span> 
                        <span id="points_spent" class="sale-num">{{ item.easebirth | round }}</span>
                    </li>               
                {% endif%}
                {% if item.muscledev %}
                    <li>
                        <span class="sale-info">Des. Muscular <i class="fa fa-shield"></i></span> 
                        <span id="points_balance" class="sale-num">{{ item.muscledev | round }}</span>
                    </li>               
                {% endif %}
                {% if item.weaningval %}
                    <li>
                        <span class="sale-info">Potencial de Crecimiento <i class="fa fa-hand-scissors-o"></i></span> 
                        <span id="points_balance" class="sale-num">{{ item.weaningval | round }}</span>
                    </li>                
                {% endif %}
                {% if item.bonedev %}
                    <li>
                        <span class="sale-info">Desarrollo Esquelético <i class="fa fa-leaf"></i></span> 
                        <span id="points_balance" class="sale-num">{{ item.bonedev | round }}</span>
                    </li>             
                {% endif %}
                <li>
                    <span class="sale-info">Aptitud Cárnica <i class="fa fa-cutlery"></i></span> 
                    <span id="points_balance" class="sale-num">{{ item.meatap | round }}</span>
                </li>             
            </ul>
        </div>
    </div>
{% endif %}