<div class="row">
    <div class="col-md-12">
        {% if item.forsale %}<div class="alert alert-info">{{ item.name }} está a la venta por {{ item.price }}€</div>{% endif %}
        <h1>{{ item.name }} ({{ item.tattoo}})</h1>
        {% if deleteAllow is defined and deleteAllow==true %}
        <div class="btn-group">
            {#set pathdelete= path('farm_deleteanimal', {'id': item.id })%}
            {% set id = item.id %}
            {% include('BEInterfaceBundle:_Scripts:deleteAny.html.twig') #}
            <div class="clearfix"></div>
        </div>
        {% endif %}
    </div>
    <div class="clearfix"></div>
</div>
<ul class="list-inline">
    {% if item.state %}<li class=""><i class="icon fa fa-asterisk"></i> {{ item.state | readable_enum('AnimalstateType') }}</li>{% endif %}
    {% if item.registerc %}<li class=""><i class="icon fa fa-bookmark-o"></i> {{ item.registerc }}</li>{% endif %}
    {% if item.registerd %}<li class=""><i class="icon fa fa-bookmark"></i> {{ item.registerd }}</li>{% endif %}
    {% if item.crotal %}<li class=""><i class="icon fa fa-certificate"></i> {{ item.crotal }}</li>{% endif %}
    {% if item.birthdate %}<li class=""><i class="icon fa fa-calendar"></i> {{ item.birthdate | date('d/m/Y') }} ({{ item.birthdate | age }} Años)</li>{% endif %}
    {% if item.gender %}<li class=""><i class="icon fa fa-{{ item.gender | getIconGender }}"></i> {{ item.gender | readable_enum('AnimalgenderType') }}</li>{% endif %}
    {% if item.farm %}<li class=""><i class="icon fa fa-map-signs"></i> {{ item.farmname }}</li>{% endif %}
    {% if item.farmbirth %}<li class=""><i class="icon fa fa-map-signs"></i> Origen: {{ item.farmbirthdata.name }}</li>{% endif %}
</ul>
<ul class="list-inline">
    {% if item.mother %}<li class=""><i class="icon fa fa-sitemap"></i><i class="icon fa fa-venus"></i> Madre: {{ item.motherdata.name }}</li>{% endif %}
    {% if item.father %}<li class=""><i class="icon fa fa-sitemap"></i><i class="icon fa fa-mars"></i> Padre: {{ item.fatherdata.name }}</li>{% endif %}
</ul>
<ul class="list-inline">
    {% if item.birthweight %}<li class=""><i class="icon fa fa-balance-scale"></i><i class="icon fa fa-venus"></i> Peso al Nacer: {{ item.birthweight }}Kg</li>{% endif %}
    {% if item.weaningweight %}<li class=""><i class="icon fa fa-balance-scale"></i><i class="icon fa fa-mars"></i> Peso al Destete: {{ item.weaningweight }}Kg</li>{% endif %}
</ul>