{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of a farm
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.name }} - Ganadería - {% endblock %}
{% set titlecontent = 'Ganadería' %}
{% set subtitlecontent = 'Edite los datos de '~item.name ~' desde aquí' %}

{% set breadcrumb = [{'icon': 'map-signs', 'title':'Ganaderías', 'link': path('farm_listfarms')}, {'title': item.name, 'link': path('farm_viewfarm', {'id':  item.id}), 'icon': 'map-signs'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Ganadería</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-5 profile-info">

                                        {% include "BEInterfaceBundle:_Modules:viewformerrors.html.twig" %}
                                        {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}    
                                        <div class="row">
                                            <div class="col-md-10">
                                                <h1>{{ item.name }}</h1>
                                                <!--<div class="btn-group">
                                                    {%set pathdelete= path('farm_deletefarm', {'id': item.id })%}
                                                    {% set id = item.id %}
                                                    {% include('BEInterfaceBundle:_Scripts:deleteAny.html.twig') %}
                                                    <div class="clearfix"></div>
                                                </div>-->
                                            </div>
                                            <div class="col-md-2">
                                                {% if item.avatar %}
                                                    <img src="/uploads/farm/{{ item.id }}/{{ item.avatar }}" alt="Logo {{ item.name }}" style="width:100%">
                                                {% else %}
                                                    <img src="{{ asset('/bundles/app/images/logo.jpg') }}" class="img-responsive" alt="Avatar" style="width:100%" /> 
                                                {% endif %}
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <p>{{ item.description | raw }}</p>
                                        <ul class="list-inline">
                                            <li class=""><i class="icon fa fa-certificate"></i> {{ item.rega}} (Reducido: {{ item.regaabb }})</li>
                                            <li class=""><i class="icon fa fa-bookmark"></i> {{ item.abb}}</li>
                                            <li class=""><i class="icon fa fa-map-marker"></i> {{ item.address }} - {{ item.zip}} - {{ item.town }} ({{ item.province}})</li>
                                        </ul>
                                        <ul class="list-inline">
                                            {% if item.contact %}<li class=""><i class="icon fa fa-user"></i> {{ item.contact }}</li>{% endif %}
                                            {% if item.contact2 %}<li class=""><i class="icon fa fa-user"></i> {{ item.contact2 }}</li>{% endif %}                                        
                                            {% if item.phone %}<li class=""><i class="icon fa fa-phone"></i> {{ item.phone }}</li>{% endif %}                                        
                                            {% if item.phone2 %}<li class=""><i class="icon fa fa-phone"></i> {{ item.phone2 }}</li>{% endif %}                                        
                                            {% if item.mobile %}<li class=""><i class="icon fa fa-mobile"></i> {{ item.mobile }}</li>{% endif %}                                        
                                            {% if item.fax %}<li class=""><i class="icon fa fa-fax"></i> {{ item.fax }}</li>{% endif %}                                        
                                            {% if item.bankaccount %}<li class=""><i class="icon fa fa-euro"></i> {{ item.bankaccount }}</li>{% endif %}                                        
                                        </ul>    
                                        <ul class="list-inline">
                                            {% if item.namelabel %}<li class=""><i class="icon fa fa-envelope"></i> {{ item.namelabel }}</li>{% endif %}
                                            {% if item.owner %}<li class=""><i class="icon fa fa-user"></i> {{ item.owner }}</li>{% endif %}                                        
                                            {% if item.email %}<li class=""><i class="icon fa fa-at"></i> {{ item.email }}</li>{% endif %}                                        
                                            {% if item.fieldname %}<li class=""><i class="icon fa fa-paw"></i> {{ item.fieldname }}</li>{% endif %}                                        
                                            {% if item.fieldtown %}<li class=""><i class="icon fa fa-map-signs"></i> {{ item.fieldtown }}</li>{% endif %}                                        
                                        </ul>    
                                        <div class="clearfix"></div>                                        
                                    </div>
                                    {#<div class="col-md-7">
                                        {% set tabletitle = 'Administradores de '~item.name %}
                                        {% set insertAllow = false %}
                                        {% set data = item.admins %}
                                        {% set withoutfarmname = true %}
                                        {% include 'SystemuserBundle:Farmer:tablefarmers.html.twig' %}
                                    </div>#}
                                    <!--end col-md-2-->
                                    <div class="col-md-7" id="list_visits">
                                        {% set data = item.visits %}
                                        {% set _itemtype = 'farm' %}
                                        {% set _itemid = item.id %}
                                        {% include 'AppBundle:Visit:index.html.twig' %}
                                    </div>
                                    <div class="clearfix"></div>
                                    
                                    <div class="col-md-12">
                                        {% set tabletitle = 'Animales de '~item.name %}
                                        {% set farm = item.id %}
                                        {% set masiveinsert = true %}
                                        {% include "FarmBundle:Default:indexanimal.html.twig" %}
                                    </div>
                                </div>
                                <!--end row-->

                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_2-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="fa fa-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#tab_1-2">
                                                <i class="fa fa-picture-o"></i> 
                                                Logo
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#tab_1-3">
                                                <i class="fa fa-map-marker"></i> 
                                                Localización
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {%
                                set configForm = {
                                    'id' : 'modifyfarm',
                                    'pathaction': path('farm_modifyfarm', { 'id': item.id }),
                                    'pathcancel': path('farm_listfarms')
                                }
                                            %}


                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% if form_errors(new_form) %}
                                                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                    {% endif %}

                                                    {% include 'FarmBundle:Default:insertform.html.twig' %}    

                                                    {{ form_widget(new_form._token) }}

                                                {% endblock %}                    
                                            {% endembed %}

                                        </div>
                                        <div id="tab_1-2" class="tab-pane">                                       
                                            {% set _avatar = item.avatar %}{% set _avatartype = 'farm' %}
                                            {% set _pathform =  path('farm_changeavatarfarm', {'id': item.id}) %}
                                            {% include('BEInterfaceBundle:_Scripts:changeavatar.html.twig') %}
                                        </div>
                                        <div id="tab_1-3" class="tab-pane">
                                            <div style="height:300px; width:100%;" id="map_canvas"></div>
                                            {% set configMarker = {
                                                 'getpath': path('farm_getposition', {'id':item.id}),
                                                 'savepath': path('farm_saveposition', {'id':item.id}),
                                                 'tab': 'tab_1-3',
                                                 'mapcanvas': 'map_canvas'
                                               }
                                            %}
                                            {% include('BEInterfaceBundle:_Scripts:mapposition.html.twig') %}
                                        </div>                                        
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}

{% endblock %}    