{#
    Pacolmg
    Greetik Soluciones SL
    view the fairs calendar
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Ferias - {% endblock %}
{% set titlecontent = 'Ferias'  %}
{% set subtitlecontent = 'Seleccione uno del listado de ferias para ver su detalle o haga click en un día nuevo para añadirlo' %}
{% set breadcrumb = [{'icon': 'cog', 'title': 'Configuración' , 'link': path('app_config')}, {'title': 'Ferias' , 'link': path('fairs_listfairs'), 'icon': 'calendar'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
<div class="row">
    {% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}
<div class="col-md-6" id="tablefairs">
    {% include('FarmBundle:Default:tablefairs.html.twig') %}
    </div>
    <div class="col-md-6">
{% set configCalendar = {
        'scriptphp_events': path('fairs_getfairs', {}),
        'collapse': false,
        'eventclick': {'fair':{'url':path('fairs_viewfair', {'id':'00000'}) }},
        'dayclick': {'url':path('fairs_insertfairform', {'date':'PARAMDATE'}) },
        'viewopts':'listYear,month',
        'id': 'calendar' }
%}

{# probablemente usemos el calendario en mÃ¡s puntos del sistema, así que mejor tenerlo centralizado y no coger el propio del bundle#}
{# include 'FarmBundle:Scripts:calendar.html.twig' #}
{% include 'AppBundle:Scripts:calendar.html.twig' %}
</div>
<div class="clearfix"></div>
</div>
{% endblock %}