{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of a farm
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.name }} - Feria - {% endblock %}
{% set titlecontent = 'Feria' %}
{% set subtitlecontent = 'Edite los datos de '~item.name ~' desde aquí' %}

{% set breadcrumb = [{'icon': 'calendar', 'title':'Ferias', 'link': path('fairs_listfairs')}, {'title': item.name, 'link': path('fairs_viewfair', {'id':  item.id}), 'icon': 'calendar'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Feria</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 profile-info">

                                        {% include "BEInterfaceBundle:_Modules:viewformerrors.html.twig" %}
                                        {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}    
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>{{ item.name }}</h1>
                                                <div class="btn-group">
                                                    {%set pathdelete= path('fairs_deletefair', {'id': item.id })%}
                                                    {% set id = item.id %}
                                                    {% include('BEInterfaceBundle:_Scripts:deleteAny.html.twig') %}
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                        <div class="clearfix"></div>                                        
                                    <div class="col-md-4" id="tablefairsections">
                                        {% set data = item.sections %}
                                        {% set id_fair = item.id %}
                                        {% include "FarmBundle:Default:tablefairsections.html.twig" %}
                                    </div>
                                    <div class="col-md-8" id="tablefairanimals">
                                        {% set data = item.animals %}
                                        {% include "FarmBundle:Default:tablefairanimals.html.twig" %}
                                    </div>


                                </div>
                                <!--end row-->

                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_fairstree-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="fa fa-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {%
                                set configForm = {
                                    'id' : 'modifyfairs',
                                    'pathaction': path('fairs_modifyfair', { 'id': item.id }),
                                    'pathcancel': path('fairs_listfairs')
                                }
                                            %}


                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% if form_errors(new_form) %}
                                                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                    {% endif %}

                                                    {% include 'FarmBundle:Default:insertfairform.html.twig' %}    

                                                    {{ form_widget(new_form._token) }}
                                                {% endblock %}                    
                                            {% endembed %}

                                        </div>                                     
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}

{% endblock %}    