{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {# form_enctype(form) #} method="POST" class="fos_user_resetting_reset" id="login">
    {# form_widget(form) #}
    {% set new_form = form %}
    {% set configField = { 'label': 'Contraseña', 'field': 'plainPassword', 'field2':'first' } %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

    {% set configField = { 'label': 'Repítala', 'field': 'plainPassword', 'field2':'second'} %}
    {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
    
    {{ form_widget(new_form._token) }}
    <div class="form-actions">
        <input type="submit" class="btn blue pull-right" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</form>
