{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Post - {% endblock %}
{% set titlecontent = 'Nuevo Post' %}
{% set subtitlecontent = 'Rellene los campos para insertar un post '%}
{% set breadcrumb = [{'title': 'Web' , 'link': path('app_webcontent'), 'icon': 'certificate'},{'title': 'Blog', 'link': path('blog_listposts', {'idproject':idproject}), 'icon': 'file-text'}, {'title': 'Nuevo', 'link': path('blog_insertpost', {'idproject':idproject}), 'icon': 'file-text'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    {% include('BlogBundle:Default:insert.html.twig') %}                       
{% endblock %}         

{% block additionalscripts %}
    {{ parent() }}
    {% include('BlogBundle:Default:insertscripts.html.twig') %}

{% endblock %}