/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-ene-2016, 12:14:53
    Author     : Paco
*/

/* iPads (portrait and landscape) ----------- */
    .table-responsive {
        overflow-x: scroll !important;
        overflow-y:hidden !important;
    }

#insertanimal input[type=number] {
    -moz-appearance:textfield;
}

#insertanimal .form-control{
    padding-left:1px !important; padding-right:1px !important;
}

#insertanimal input[type=number]::-webkit-inner-spin-button,
#insertanimal input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#insertanimal{
    padding-left: 3px !important;
    padding-right: 3px !important;
}

#insertanimal input{
    padding-left:1px !important; padding-right:1px !important;
}

.page-sidebar-menu li > a > .badge{
    float:left !important;
}

.modal-open {
    overflow-y: scroll !important;
}
.rowOdd { background: #dedede;}
.rowheader {background:black !important; color:white !important;}

.btn { margin-bottom: 10px !important;}

.login{ background: url('/bundles/app/images/fondo-login.jpg') top center no-repeat !important;}
.login .content{
    background: rgba(0, 0, 0, .4) !important;

}

.fc-event-container .fc-content, .fc-list-item-title.fc-widget-content{
    cursor: pointer;
}
#summarytable{
    overflow-x: scroll;
}
#summarytable thead th{
    background:#333;
    text-align:center;
    color:white;
}

#summarytable tbody td{
    background: #f7f6ef;
    text-align:center;
    font-size:10px;
    font-weight: normal;
}
#summarytable tbody td.residente{
    background:#333;
    color:white;
    text-align:left;
}

#summarytable tbody td.weekend{
    background:#c4c4c4;
}

#summarytable tbody td.vacationday{
    background:#f27983 !important;
}


.table thead > tr > th{
    /* These are technically the same, but use both 
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;*/
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .form-control {padding:0px !important; }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .form-control {padding:0px !important; }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .form-control {padding:3px 6px !important; }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .form-control {padding:3px 6px !important; }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .form-control {padding:3px 6px !important; }
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .form-control {padding:3px 6px !important; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .form-control {padding:3px 6px !important; }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .form-control {padding:0px !important; }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .form-control {padding:0px !important; }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .form-control {padding:0px !important; }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .form-control {padding:0px !important; }
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .form-control {padding:0px !important; }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .form-control {padding:0px !important; }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .form-control {padding:0px !important; }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .form-control {padding:0px !important; }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .form-control {padding:0px !important; }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .form-control {padding:0px !important; }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .form-control {padding:0px !important; }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .form-control {padding:0px !important; }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .form-control {padding:0px !important; }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .form-control {padding:0px !important; }
}