{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Gpx en {{ 'Mapa' }} - {% endblock %}
{% set titlecontent = 'Nuevo Gpx en Mapa' %}
{% set subtitlecontent = 'Rellene los campos para insertar un gpx '%}
{% set breadcrumb = [{'title': 'Web' , 'link': path('app_webcontent'), 'icon': 'certificate'}, {'title': 'Mapa', 'link': path('gmap_viewmap', {'idproject':idproject}), 'icon': 'map-marker'}, {'title': 'Nuevo', 'link': path('gmap_insertgpx', {'idproject':idproject}), 'icon': 'map-marker'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}


{% block maincontent %}
    {% include "GmapBundle:Default:insertgpx.html.twig" %}
{% endblock %}         

