{%
    set configTable = {
                                'id': 'visits', 
                                'insertdata': {'url': path('visits_insertformvisit', {'item_type': _itemtype, 'item_id': _itemid} ), 'extralink': 'data-target="#modal_ajax" data-toggle="modal"'},
                                'title': 'Visitas', 
                                'icon': 'drivers-license',
                                'noOptions':true,
                                'viewdata': {'url': 'visits_insertformvisit', 'paramsurl': {'item_type': _itemtype, 'item_id': _itemid }, 'extralink': 'data-target="#modal_ajax" data-toggle="modal"'},
                                'fields': {'visitdate': {'title': 'Fecha', 'isdate':true, 'link_view': true}, 'statename': {'title':'Estado'}},
                                'aaSorting': '[[0, "desc"]]',
                               }
%}

{% include('BEInterfaceBundle:_Default:warningfromflash.html.twig') %}
{% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}
