{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% set idmodal = 'visits' %}
{% block idajaxloaderloader %}{{ idmodal }}{% endblock %}
{% block idajaxloaderbuttons %}{{ idmodal }}{% endblock %}

{% block modaltitle %}{% if id is defined and id>0 %}Editar{% else %}Nueva {% endif %} Visita{% endblock %}

{% block modalbody %}
    {% if form_errors(new_form) %}
        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
    {% endif %}

    <form class="col-md-12" action="#" id="insertVisitform">

        {% set configField = { 'label': 'Fecha', 'field': 'visitdate', 'classesinput':'pickdate' } %}
        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

        {% set configField = { 'label': 'Detalles', 'field': 'description'} %}
        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

        {% set configField = { 'label': 'Observaciones (PRIVADO)', 'field': 'privatedescription'} %}
        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

        {% set configField = { 'label': 'Estado', 'field': 'state', 'classesinput':'select2'} %}
        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}


        {{ form_widget(new_form._token) }}
        <div class="clearfix"></div>
    </form>


{% endblock %}         

{% block modalbuttons %}
    {% if id is defined and id!='' and id!=0 %}<button type="button" id="btn_deleteVisit" class="btn red left-btn">Eliminar</button>{% endif %}
    <button type="button" id="btn_saveVisit" class="btn blue">Guardar</button>
{% endblock %}

{% block modalscripts %}
{% set fieldstodate = '.pickdate' %}
{% include "BEInterfaceBundle:_Scripts:date.html.twig" %}

{% set fieldstoselect = '.select2' %}
{% include "BEInterfaceBundle:_Scripts:select.html.twig" %}

    <script>
        $(document).ready(function () {
            $('#btn_saveVisit').click(function () {
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                $.post('{{ path('visits_insertmodifyvisit', {'item_id':item_id, 'item_type': item_type, 'id': id}) }}', $("#insertVisitform").serialize(), function (r) {
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }

                    $('#list_visits').html(r);

                    $('.modal').modal('hide');
                });
            });

            $('#btn_deleteVisit').click(function () {
                if (!confirm('¿Realmente desea eliminar la visita? OPERACIÓN IRREVERSIBLE'))
                    return;
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                $.post('{{ path('visits_dropvisit', {'id':id}) }}', $("#insertVisitform").serialize(), function (r) {
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }

                    $('#list_visits').html(r);

                    $('.modal').modal('hide');
                });
            });
        });
    </script>
{% endblock %}

