<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
            @media print{
                @page{
                    size: letter landscape;
                    -webkit-transform: translateY('page height') rotate(270deg/*or 90deg*/);
                    -webkit-transform-origin: 0% 0%;         
                }
            }



            body {
                font-family: Arial;
                -webkit-transform: translateY('page height') rotate(270deg/*or 90deg*/);
                -webkit-transform-origin: 0% 0%; 
            }

            nh1 {
                width: 1400px; 
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-size: 20px;

            }

            tittle2 {
                color: blue; 
                text-align: center;
                font-size: 16px;

            }

            h3 {

                text-align: center;


            }

            .bordertittle {

                font-size: 12px;

                float: left;
                padding: 4px 8px;

            }

            .bordertittle2 {

                font-size: 12px;
                border-style: solid;
                border-width: 1px;
                float: left;
                padding: 2px 8px;

            }

            .borderh3 {

                border-style: solid;
                border-width: 2px;
                padding: 2px 2px;
                text-align: center;
                width:1400px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 5px;

            }

            .bordername {

                font-size: 12px;
                float: left;
                padding: 4px 8px;

            }

            .bordernamevert {

                font-size: 12px;
                float: left;
                padding: 20px 0px;

            }

            .container {
                width: 1436px !important;
                /*
                overflow:hidden;
                background-position: 0px 0px;
                
                */
                background-image: url(http://www.uniondecharoles.es/bundles/app/images/fondo_uchae.jpg);
                background-position: 10px 122px;
                background-repeat: no-repeat;
                background-repeat: no-repeat;
                position: relative;
            }

            .box1 {
                width: 1400px;
                height: 200px;
                float: left;
                margin: 5px;
                font-size: 12px;
                border-style: solid;
                border-width: 1px;
                float: left;
                padding: 30px 8px;

            }

            .box2 {
                width: 695px;
                height: 150px;
                float: left;
                margin: 5px;
                font-size: 12px;
                border-style: solid;
                border-width: 1px;
                padding: 20px 8px;

            }

            .box3 {
                width: 342.5px;
                height: 135px;
                float: left;
                margin: 5px;
                font-size: 12px;
                border-style: solid;
                border-width: 1px;
                padding: 25px 0px;


            }

            .box4 {
                width: 166.25px;
                height: 100px;
                float: left;
                margin: 5px;
                font-size: 12px;
                border-style: solid;
                border-width: 1px;
                padding: 8px 8px;

            }



            .borderbox1 {

                font-size: 12px;
                border-style: solid;
                border-width: 2px;
                float: left;
                padding: 8px 8px;


            }

            .verticaltext {
                writing-mode: vertical-rl;
                text-orientation: upright;
                -webkit-transform: rotate(270deg);
                -webkit-transform-origin: center bottom auto;
                float: left;

            }

            .column2 {
                float: left;
                width: 180px;
            }


            .column2float {
                float: left;
                width: 100px;
                font-size:14px
            }

            .column3 {
                float: left;
                width: 110px;
                font-size:10px;
            }

            .box3 .bordernamevert {
                margin-left: -17px;
                margin-top: 5px;
            }

            .box2 .bordernamevert {
                margin-top: 10px;
            }

            .box1 .bordernamevert {
                margin-top: 20px;
            }
            
            .box1 .bordername{
                font-size:18px;
            }

            .box2 .bordername{
                font-size:18px;
            }

            .box3 .bordername{
                font-size:16px;
            }

        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body>
        <div style="width:1200px; margin-left: auto; margin-right: auto;">
            <div class="column2" style="width:100px;"><img src="http://www.uniondecharoles.es/bundles/app/images/logo_uchae.jpg" style="width: 140%;margin-left: -100px;"></div>

            <div class="column2"  style="width:1000px;">
                <p style="text-align: center;	font-size: 20px; font-weight: bold;">UNIÓN DE CRIADORES DE GANADO VACUNO SELECTO DE LA RAZA CHAROLESA DE ESPAÑA</p>
                <p style="color: blue; 	text-align: center;	font-size: 20px; font-weight: bold;"><i>CERTIFICADO GENEALÓGICO</i></p>
            </div>

            <div class="column2" style="width:100px;"><img src="http://www.uniondecharoles.es/bundles/app/images/logo_uchae.jpg" style="width: 140%;margin-left: 70px;"></div>
        </div>

        <div class="container">

            {% set fontsizebox1 = 20 %}
            <div class="box1" style=" margin-top:50px !important;">
                <div class="bordernamevert verticaltext">Animal</div>

                <div style="width:1300px; margin-left: 150px; margin-bottom:-30px;">
                    <div class="bordername" style="font-size: {{ fontsizebox1 }}px; width:150px;">{{  item.name }}</div>
                    <div class="bordername" style="font-size: {{ fontsizebox1 }}px; width:150px;">{{ item.tattoo }}</div>
                    <div class="bordername" style="font-size: {{ fontsizebox1 }}px; width:200px;">{{ item.crotal }}</div>
                    <div class="bordername" style="font-size: {{ fontsizebox1 }}px; width:200px;">F.Nto.: {{ item.birthdate | date('d/m/Y')}}</div>
                    <div class="bordername" style="font-size: {{ fontsizebox1 }}px; width:120px;">{% if item.points %}{{ item.registerd }}{% endif %}</div>
                    <div class="bordername" style="font-size: {{ fontsizebox1 }}px; width:100px;">Cal.: {% if item.points %}{{ item.points }}{% endif %}</div>
                    <div class="bordername" style="font-size: {{ fontsizebox1 }}px; width:60px;">{% if item.points %}{{ item.points | getPointstext(item.gender) }}{% endif %}</div>
                    <div style="clear:both;"></div>
                </div>
                <div style="width:1300px; margin-left: auto; margin-right: auto;">
                    <div class="bordertittle" style="font-size: {{ fontsizebox1 }}px;">Sexo:</div> <div class="bordername" style=" font-size: {{ fontsizebox1 }}px; width:20px;"><strong>{{ item.gender | getAbbGender }}</strong> </div>
                    <div class="bordertittle" style="font-size: {{ fontsizebox1 }}px;">Propietario:</div> <div class="bordername" style=" font-size: {{ fontsizebox1 }}px; width:450px;"><strong>{{ item.farmdata.name }}</strong> </div>
                    {% if item.farmbirth %}<div class="bordertittle" style="font-size: {{ fontsizebox1 }}px;">Criador</div><div class="bordername" style="font-size: {{ fontsizebox1 }}px; width:450px;"><strong>{{ item.farmbirthdata.name }}</strong></div>{% endif %}
                    <div style="clear:both;"></div>
                </div>
                <div style="width:1300px; margin-left: auto; margin-right: auto;">
                    <div class="bordertittle" style="margin-left:230px; font-size: {{ fontsizebox1 }}px;">P.Nac: </div> <div class="bordername" style=" font-size: {{ fontsizebox1 }}px; width:50px;"><strong>{% if item.birthweight %}{{ item.birthweight | round }}{% endif %}</strong> </div>
                    <div class="bordertittle" style="font-size: {{ fontsizebox1 }}px;">P.120:</div> <div class="bordername" style=" font-size: {{ fontsizebox1 }}px; width:50px;"><strong>{% if item.weaningweight %}{{ item.weaningweight | round }}{% endif %}</strong> </div>
                    <div class="bordertittle" style="font-size: {{ fontsizebox1 }}px;">F.Parto:</div><div class="bordername" style="font-size: {{ fontsizebox1 }}px; width:70px;"><strong>{% if item.easebirth %}{{ item.easebirth | round }}{% endif %}</strong></div>
                    <div class="bordertittle" style="font-size: {{ fontsizebox1 }}px;">P.Crec: </div> <div class="bordername" style=" font-size: {{ fontsizebox1 }}px; width:50px;"><strong>{% if item.weaningval %}{{ item.weaningval | round }}{% endif %}</strong> </div>
                    <div class="bordertittle" style="font-size: {{ fontsizebox1 }}px;">D.Musc:</div> <div class="bordername" style=" font-size: {{ fontsizebox1 }}px; width:50px;"><strong>{% if item.muscledev %}{{ item.muscledev | round }}{% endif %}</strong> </div>
                    <div class="bordertittle" style="font-size: {{ fontsizebox1 }}px;">D.Esq:</div><div class="bordername" style="font-size: {{ fontsizebox1 }}px; width:50px;"><strong>{% if item.bonedev %}{{ item.bonedev | round }}{% endif %}</strong></div>
                </div>


            </div>

            <div class="box2">
                <div class="bordernamevert verticaltext" style="text-align:left;">Padre</div>
                {% if item.father is defined and item.father>0%}
                    <div class="column2" style="width:65% !important;">
                        <div class="bordername" style="width:100px;">{{ item.fatherdata.name}} </div><div style="clear:both;"></div><div style="clear:both;"></div>
                        <div class="bordername" style="width:100px;">{{ item.fatherdata.tattoo}}</div><div style="clear:both;"></div><div style="clear:both;"></div>
                        <div class="bordername" style="width:100px;">{{ item.fatherdata.crotal}}</div><div style="clear:both;"></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="column2" style="width:30% !important;">
                        <div class="bordertittle column2float">F.Parto:</div><div class="bordername" style="font-size: 14px; width:70px;"><strong>{% if item.fatherdata.easebirth %}{{ item.fatherdata.easebirth | round }}{% endif %}</strong></div><div style="clear:both;"></div>
                        <div class="bordertittle column2float">P.Crec: </div> <div class="bordername" style=" font-size: 14px; width:50px;"><strong>{% if item.fatherdata.weaningval %}{{ item.fatherdata.weaningval | round }}{% endif %}</strong> </div><div style="clear:both;"></div>
                        <div class="bordertittle column2float">D.Musc:</div> <div class="bordername" style=" font-size: 14px; width:50px;"><strong>{% if item.fatherdata.muscledev %}{{ item.fatherdata.muscledev | round }}{% endif %}</strong> </div><div style="clear:both;"></div>
                        <div class="bordertittle column2float">D.Esq:</div><div class="bordername" style="font-size: 14px; width:50px;"><strong>{% if item.fatherdata.bonedev %}{{ item.fatherdata.bonedev | round }}{% endif %}</strong></div><div style="clear:both;"></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="clear:both;"></div>
                {% else %}
                    {% include "AppBundle:Print:emptybox2.html.twig"%}
                {% endif %}

            </div>
            <div class="box2" style="margin-right: 0px !important; ">
                <div class="bordernamevert verticaltext" style="text-align:left;">Madre</div>
                {% if item.mother is defined and item.mother>0%}
                    <div class="column2" style="width:65% !important;">
                        <div class="bordername" style="width:400px;">{{ item.motherdata.name}} </div>
                        <div style="clear:both;"></div>
                        <div class="bordername" style="width:400px;">{{ item.motherdata.tattoo}}</div>
                        <div style="clear:both;"></div>
                        <div class="bordername" style="width:400px;">{{ item.motherdata.crotal}}</div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="column2" style="width:28% !important;">
                        <div class="bordertittle column2float">F.Parto:</div><div class="bordername" style="font-size: 14px; width:70px;"><strong>{% if item.motherdata.easebirth %}{{ item.motherdata.easebirth | round }}{% endif %}</strong></div><div style="clear:both;"></div>
                        <div class="bordertittle column2float">P.Crec: </div> <div class="bordername" style=" font-size: 14px; width:50px;"><strong>{% if item.motherdata.weaningval %}{{ item.motherdata.weaningval | round }}{% endif %}</strong> </div><div style="clear:both;"></div>
                        <div class="bordertittle column2float">D.Musc:</div> <div class="bordername" style=" font-size: 14px; width:50px;"><strong>{% if item.motherdata.muscledev %}{{ item.motherdata.muscledev | round}}{% endif %}</strong> </div><div style="clear:both;"></div>
                        <div class="bordertittle column2float">D.Esq:</div><div class="bordername" style="font-size: 14px; width:50px;"><strong>{% if item.motherdata.bonedev %}{{ item.motherdata.bonedev | round }}{% endif %}</strong></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="clear:both;"></div>
                {% else %}
                    {% include "AppBundle:Print:emptybox2.html.twig"%}
                {% endif %}


            </div>
            <div class="clearfix"></div>
            <div class="box3">
                <div class="bordernamevert verticaltext" style="text-align:left;">Abuelo Paterno</div>

                {% if item.father is defined and item.father>0 and item.fatherdata.father is defined and item.fatherdata.father>0%}
                    <div class="column3" style="margin-left:-30px; width:50% !important;">
                        <div class="bordername" style="width:100px;">{{ item.fatherdata.fatherdata.name}} </div><div style="clear:both;"></div>
                        <div class="bordername" style="width:100px;">{{ item.fatherdata.fatherdata.tattoo}}</div><div style="clear:both;"></div>
                        <div class="bordername" style="width:100px;">{{ item.fatherdata.fatherdata.crotal}}</div><div style="clear:both;"></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="column3" style="width:38% !important;">
                        <div  style="margin-top:-10px !important;"><div class="bordertittle">F.Parto:&nbsp;</div><div class="bordername" style="width:50px;">{% if item.fatherdata.fatherdata.easebirth %}{{ item.fatherdata.fatherdata.easebirth | round}}{% else  %}-{% endif %}</div>
                        <div style="clear:both;"></div>
                        </div>
                        <div  style="margin-top:-16px !important;"><div class="bordertittle" >P.Crec:&nbsp;&nbsp;</div> <div class="bordername" style="width:50px;">{% if item.fatherdata.fatherdata.weaningval %}{{ item.fatherdata.fatherdata.weaningval | round}}{% else  %}-{% endif %} </div>
                        <div style="clear:both;"></div>
                        </div>
                        <div  style="margin-top:-16px !important;"><div class="bordertittle">D.Musc:</div> <div class="bordername" style="width:50px;">{% if item.fatherdata.fatherdata.muscledev %}{{ item.fatherdata.fatherdata.muscledev | round}}{% else  %}-{% endif %} </div>
                        <div style="clear:both;"></div>
                        </div>
                        <div  style="margin-top:-16px !important;"><div class="bordertittle">D.Esq:&nbsp;&nbsp;</div><div class="bordername" style="width:50px;">{% if item.fatherdata.fatherdata.bonedev %}{{ item.fatherdata.fatherdata.bonedev | round}}{% else  %}-{% endif %}</div>
                            <div style="clear:both;"></div></div>
                    </div>
                    <div style="clear:both;"></div>
                {% else %}
                    {% include "AppBundle:Print:emptybox3.html.twig"%}
                {% endif %}

            </div>
            <div class="box3">
                <div class="bordernamevert verticaltext" style="text-align:left;">Abuela Paterna</div>
                {% if item.father is defined and item.father>0 and item.fatherdata.mother is defined and item.fatherdata.mother>0%}
                    <div class="column3" style="margin-left:-30px; width:50% !important;">
                        <div class="bordername" style="width:400px;">{{ item.fatherdata.motherdata.name}} </div><div style="clear:both;"></div>
                        <div class="bordername" style="width:400px;">{{ item.fatherdata.motherdata.tattoo}}</div><div style="clear:both;"></div>
                        <div class="bordername" style="width:400px;">{{ item.fatherdata.motherdata.crotal}}</div><div style="clear:both;"></div>
                    </div>
                    <div class="column3" style="width:38% !important;">
                        <div  style="margin-top:-10px !important;"><div class="bordertittle">F.Parto:&nbsp;</div><div class="bordername" style="width:50px;">{% if item.fatherdata.motherdata.easebirth %}{{ item.fatherdata.motherdata.easebirth | round}}{% else  %}-{% endif %}</div>
                            <div style="clear:both;"></div>
                        </div>
                        <div  style="margin-top:-16px !important;"><div class="bordertittle" >P.Crec:&nbsp;&nbsp;</div> <div class="bordername" style="width:50px;">{% if item.fatherdata.motherdata.weaningval %}{{ item.fatherdata.motherdata.weaningval | round}}{% else  %}-{% endif %} </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div  style="margin-top:-16px !important;"><div class="bordertittle">D.Musc:</div> <div class="bordername" style="width:50px;">{% if item.fatherdata.motherdata.muscledev %}{{ item.fatherdata.motherdata.muscledev | round}}{% else  %}-{% endif %} </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div  style="margin-top:-16px !important;"><div class="bordertittle">D.Esq:&nbsp;&nbsp;</div><div class="bordername" style="width:50px;">{% if item.fatherdata.motherdata.bonedev %}{{ item.fatherdata.motherdata.bonedev | round}}{% else  %}-{% endif %}</div>
                            <div style="clear:both;"></div></div>
                    </div>
                    <div style="clear:both;"></div>
                {% else %}
                    {% include "AppBundle:Print:emptybox3.html.twig"%}
                {% endif %}
            </div>	
            <div class="box3">
                <div class="bordernamevert verticaltext" style="text-align:left;">Abuelo Materno</div>
                {% if item.mother is defined and item.mother>0 and item.motherdata.father is defined and item.motherdata.father>0%}
                    <div class="column3" style="margin-left:-30px; width:50% !important;">		
                        <div class="bordername" style="width:400px;">{{ item.motherdata.fatherdata.name}} </div><div style="clear:both;"></div>
                        <div class="bordername" style="width:400px;">{{ item.motherdata.fatherdata.tattoo}}</div><div style="clear:both;"></div>
                        <div class="bordername" style="width:400px;">{{ item.motherdata.fatherdata.crotal}}</div><div style="clear:both;"></div>
                    </div>
                    <div class="column3" style="width:38% !important;">
                        <div  style="margin-top:-10px !important;"><div class="bordertittle">F.Parto:&nbsp;</div><div class="bordername" style="width:50px;">{% if item.motherdata.fatherdata.easebirth %}{{ item.motherdata.fatherdata.easebirth | round}}{% else  %}-{% endif %}</div>
                            <div style="clear:both;"></div>
                        </div>
                        <div  style="margin-top:-16px !important;"><div class="bordertittle" >P.Crec:&nbsp;&nbsp;</div> <div class="bordername" style="width:50px;">{% if item.motherdata.fatherdata.weaningval %}{{ item.motherdata.fatherdata.weaningval | round}}{% else  %}-{% endif %} </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div  style="margin-top:-16px !important;"><div class="bordertittle">D.Musc:</div> <div class="bordername" style="width:50px;">{% if item.motherdata.fatherdata.muscledev %}{{ item.motherdata.fatherdata.muscledev | round}}{% else  %}-{% endif %} </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div  style="margin-top:-16px !important;"><div class="bordertittle">D.Esq:&nbsp;&nbsp;</div><div class="bordername" style="width:50px;">{% if item.motherdata.fatherdata.bonedev %}{{ item.motherdata.fatherdata.bonedev | round}}{% else  %}-{% endif %}</div>
                            <div style="clear:both;"></div></div>
                    </div>
                    <div style="clear:both;"></div>
                {% else %}
                    {% include "AppBundle:Print:emptybox3.html.twig"%}
                {% endif %}
            </div>	
            <div class="box3" style="margin-right: 0px !important;">
                <div class="bordernamevert verticaltext" style="text-align:left;">Abuela Materna</div>
                {% if item.mother is defined and item.mother>0 and item.motherdata.mother is defined and item.motherdata.mother>0%}
                    <div class="column3" style="margin-left:-30px; width:50% !important;">
                        <div class="bordername" style="width:400px;">{{ item.motherdata.motherdata.name}} </div><div style="clear:both;"></div>
                        <div class="bordername" style="width:400px;">{{ item.motherdata.motherdata.tattoo}}</div><div style="clear:both;"></div>
                        <div class="bordername" style="width:400px;">{{ item.motherdata.motherdata.crotal}}</div><div style="clear:both;"></div>
                    </div>
                    <div class="column3" style="width:38% !important;">
                        <div  style="margin-top:-10px !important;"><div class="bordertittle">F.Parto:&nbsp;</div><div class="bordername" style="width:50px;">{% if item.motherdata.motherdata.easebirth %}{{ item.motherdata.motherdata.easebirth | round}}{% else  %}-{% endif %}</div>
                            <div style="clear:both;"></div>
                        </div>
                        <div  style="margin-top:-16px !important;"><div class="bordertittle" >P.Crec:&nbsp;&nbsp;</div> <div class="bordername" style="width:50px;">{% if item.motherdata.motherdata.weaningval %}{{ item.motherdata.motherdata.weaningval | round}}{% else  %}-{% endif %} </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div  style="margin-top:-16px !important;"><div class="bordertittle">D.Musc:</div> <div class="bordername" style="width:50px;">{% if item.motherdata.motherdata.muscledev %}{{ item.motherdata.motherdata.muscledev | round}}{% else  %}-{% endif %} </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div  style="margin-top:-16px !important;"><div class="bordertittle">D.Esq:&nbsp;&nbsp;</div><div class="bordername" style="width:50px;">{% if item.motherdata.motherdata.bonedev %}{{ item.motherdata.motherdata.bonedev | round}}{% else  %}-{% endif %}</div>
                            <div style="clear:both;"></div></div>
                    </div>
                    <div style="clear:both;"></div>
                {% else %}
                    {% include "AppBundle:Print:emptybox3.html.twig"%}
                {% endif %}
            </div>
            <div class="clearfix"></div>
            <div class="box4">
                {% if item.father is defined and item.father>0 and item.fatherdata.father is defined and item.fatherdata.father>0 and item.fatherdata.fatherdata.father is defined and item.fatherdata.fatherdata.father>0%}
                    <div class="bordername" style="width:100px;">{{ item.fatherdata.fatherdata.fatherdata.name }} </div><br>
                    <div class="bordername" style="width:100px;">{{ item.fatherdata.fatherdata.fatherdata.tattoo }}</div><br>
                    <div class="bordername" style="width:100px;">{{ item.fatherdata.fatherdata.fatherdata.crotal }}</div><br>
                {% else %}
                    {% include "AppBundle:Print:emptybox4.html.twig"%}
                {% endif %}
            </div>
            <div class="box4">
                {% if item.father is defined and item.father>0 and item.fatherdata.father is defined and item.fatherdata.father>0 and item.fatherdata.fatherdata.mother is defined and item.fatherdata.fatherdata.mother>0%}
                    <div class="bordername" style="width:200px;">{{ item.fatherdata.fatherdata.motherdata.name }}  </div><br>
                    <div class="bordername" style="width:200px;">{{ item.fatherdata.fatherdata.motherdata.tattoo }} </div><br>
                    <div class="bordername" style="width:200px;">{{ item.fatherdata.fatherdata.motherdata.crotal }} </div><br>
                {% else %}
                    {% include "AppBundle:Print:emptybox4.html.twig"%}
                {% endif %}
            </div>
            <div class="box4">

                {% if item.father is defined and item.father>0 and item.fatherdata.mother is defined and item.fatherdata.mother>0 and item.fatherdata.motherdata.father is defined and item.fatherdata.motherdata.father>0%}
                    <div class="bordername" style="width:200px;">{{ item.fatherdata.motherdata.fatherdata.name }}  </div><br>
                    <div class="bordername" style="width:200px;">{{ item.fatherdata.motherdata.fatherdata.tattoo }} </div><br>
                    <div class="bordername" style="width:200px;">{{ item.fatherdata.motherdata.fatherdata.crotal }} </div><br>
                {% else %}
                    {% include "AppBundle:Print:emptybox4.html.twig"%}
                {% endif %}
            </div>
            <div class="box4">

                {% if item.father is defined and item.father>0 and item.fatherdata.mother is defined and item.fatherdata.mother>0 and item.fatherdata.motherdata.mother is defined and item.fatherdata.motherdata.mother>0%}
                    <div class="bordername" style="width:200px;">{{ item.fatherdata.motherdata.motherdata.name }}  </div><br>
                    <div class="bordername" style="width:200px;">{{ item.fatherdata.motherdata.motherdata.tattoo }} </div><br>
                    <div class="bordername" style="width:200px;">{{ item.fatherdata.motherdata.motherdata.crotal }} </div><br>
                {% else %}
                    {% include "AppBundle:Print:emptybox4.html.twig"%}
                {% endif %}
            </div>
            <div class="box4">
                {% if item.mother is defined and item.mother>0 and item.motherdata.father is defined and item.motherdata.father>0 and item.motherdata.fatherdata.father is defined and item.motherdata.fatherdata.father>0%}
                    <div class="bordername" style="width:200px;">{{ item.motherdata.fatherdata.fatherdata.name }} </div><br>
                    <div class="bordername" style="width:200px;">{{ item.motherdata.fatherdata.fatherdata.tattoo }}</div><br>
                    <div class="bordername" style="width:200px;">{{ item.motherdata.fatherdata.fatherdata.crotal }}</div><br>
                {% else %}
                    {% include "AppBundle:Print:emptybox4.html.twig"%}
                {% endif %}
            </div>
            <div class="box4">
                {% if item.mother is defined and item.mother>0 and item.motherdata.father is defined and item.motherdata.father>0 and item.motherdata.fatherdata.mother is defined and item.motherdata.fatherdata.mother>0%}
                    <div class="bordername" style="width:200px;">{{ item.motherdata.fatherdata.motherdata.name }}  </div><br>
                    <div class="bordername" style="width:200px;">{{ item.motherdata.fatherdata.motherdata.tattoo }} </div><br>
                    <div class="bordername" style="width:200px;">{{ item.motherdata.fatherdata.motherdata.crotal }} </div><br>
                {% else %}
                    {% include "AppBundle:Print:emptybox4.html.twig"%}
                {% endif %}
            </div>
            <div class="box4">

                {% if item.mother is defined and item.mother>0 and item.motherdata.mother is defined and item.motherdata.mother>0 and item.motherdata.motherdata.father is defined and item.motherdata.motherdata.father>0%}
                    <div class="bordername" style="width:200px;">{{ item.motherdata.motherdata.fatherdata.name }}  </div><br>
                    <div class="bordername" style="width:200px;">{{ item.motherdata.motherdata.fatherdata.tattoo }} </div><br>
                    <div class="bordername" style="width:200px;">{{ item.motherdata.motherdata.fatherdata.crotal }} </div><br>
                {% else %}
                    {% include "AppBundle:Print:emptybox4.html.twig"%}
                {% endif %}
            </div>
            <div class="box4" style="margin-right: 0px !important;">

                {% if item.mother is defined and item.mother>0 and item.motherdata.mother is defined and item.motherdata.mother>0 and item.motherdata.motherdata.mother is defined and item.motherdata.motherdata.mother>0%}
                    <div class="bordername" style="width:200px;">{{ item.motherdata.motherdata.motherdata.name }}  </div><br>
                    <div class="bordername" style="width:200px;">{{ item.motherdata.motherdata.motherdata.tattoo }} </div><br>
                    <div class="bordername" style="width:200px;">{{ item.motherdata.motherdata.motherdata.crotal }} </div><br>
                {% else %}
                    {% include "AppBundle:Print:emptybox4.html.twig"%}
                {% endif %}
            </div>
            <div class="clearfix"></div>
            

        </div>


        <div style="width:1400px; margin-left: auto; margin-right: auto; margin-top: 80px;">
            <div class="bordername" style="width:250px;"><strong>Badajoz</strong>, {{ ((item.rdudate and item.rdudate > date('1972-01-01'))?item.rdudate:"now")  | date('d')}} de {{ ((item.rdudate and item.rdudate > date('1972-01-01'))?item.rdudate:"now")  | date('m') | getMonthName }} de {{ ((item.rdudate and item.rdudate > date('1972-01-01'))?item.rdudate:"now")  | date('Y')}} </div>

            <div class="bordername bordertittle2" style="width:400px;">Certificado genealógico expedido conforme a la Decision 2005/379/CE de la Comisión para los intercambios intracomunitarios.</div>
            <div class="bordername" style="width:200px; text-align:center; margin-left:300px;"><strong>VºBº<br>EL DIRECTOR TÉCNICO</strong> <br> <img style="margin-top:-10px; width:100%; border:0px !important;" src="http://www.uniondecharoles.es/bundles/app/images/Firma-Jacinto-Rodriguez.png"></div>
            <div class="bordername" style="width:200px; text-align:center; margin-left:50px;"><strong>EL SECRETARIO</strong> <br> <img style="margin-top:-10px; width:100%; border:0px !important;" src="http://www.uniondecharoles.es/bundles/app/images/Firma-Maximo-Trigo.png"></div>
        </div>
    </body>