<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>

body {
	font-family: Arial;
}

h1 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 20px;

}

h2 {
	color: blue;
	text-align: center;

}

h3 {
	
	text-align: center;
	
	
}

.bordertittle {
	
	font-size: 12px;
	border-style: solid;
	border-width: 2px;
	float: left;
	padding: 2px 8px;

}

.borderh3 {
	
	border-style: solid;
	border-width: 2px;
	padding: 2px 2px;
	text-align: center;
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;

}

.bordername {
	
	font-size: 12px;
	float: left;
	padding: 4px 8px;

}

.container {
	width: 1200px;
	height:500px;
	border-style: solid;
	border-width: 2px;
	padding: 20px 20px;
	position: relative;
        margin-left:auto;
        margin-right:auto;
}

.box1 {
	position: absolute;
	top:  170px; 
	left: 150px;
	text-align: center;
	font-weight: bold;
}

.box2 {
	position: absolute;
	top:  220px; 
	left: 150px;
	
}

.box3 {
	position: absolute;
	top:  70px; 
	left: 500px;
	text-align: center;
	font-weight: bold;
	
}

.box4 {
	position: absolute;
	top:  120px; 
	left: 500px;
	
}

.box5 {
	position: absolute;
	top:  300px; 
	left: 500px;
	text-align: center;
	font-weight: bold;
	
}

.box6 {
	position: absolute;
	top:  350px; 
	left: 500px;
	
}

.box7 {
	position: absolute;
	top:  10px; 
	left: 850px;
	
}

.box8 {
	position: absolute;
	top:  140px; 
	left: 850px;
	
}

.box9 {
	position: absolute;
	top:  270px; 
	left: 850px;
	
}

.box10 {
	position: absolute;
	top:  400px; 
	left: 850px;
	
}

.borderbox1 {
	
	font-size: 12px;
	border-style: solid;
	border-width: 2px;
	float: left;
	padding: 8px 8px;
	width: 250px;

}

</style>
</head>

<body>

    <div style="width:1200px; margin-left: auto; margin-right: auto;">
	<div style="float:left; width:100px;"><img src="http://www.uniondecharoles.es/bundles/app/images/logo_uchae.jpg" style="width:100px;"></div>

	<div  style=" float:left; width:1000px;">
		<p style="text-align: center;	font-size: 20px; font-weight: bold;">UNIÓN DE CRIADORES DE GANADO VACUNO SELECTO DE LA RAZA CHAROLESA DE ESPAÑA</p>
		<p style="color: blue; 	text-align: center;	font-size: 20px; font-weight: bold;"><i>CERTIFICADO DE NACIMIENTO</i></p>
                <p class="borderh3">Certificado genealógico expedido conforme a la Decision 2005/379/CE de la Comisión para los intercambios intracomunitarios</p>
	</div>

	<div style="float:left; width:100px;"><img src="http://www.uniondecharoles.es/bundles/app/images/logo_uchae.jpg" style="width:100px;"></div>
        <div style="clear:both;"></div>
</div>



<div style="width:1200px; margin-left: auto; margin-right: auto;">
<div class="bordertittle" style="width:108px !important;">Nombre del animal</div> <div class="bordername" style="width:150px;">{{ item.name }} </div>
<div class="bordertittle">Número</div><div class="bordername" style="width:150px;">{{ item.tattoo }}</div>
<div class="bordertittle" style="width:125px !important;">Fecha de Nacimiento</div><div class="bordername" style="width:80px;">{{ item.birthdate | date('d/m/Y') }}</div>
<div class="bordertittle">Sexo</div><div class="bordername" style="width:10px;">{{ item.gender | getAbbGender }}</div>
<div class="bordertittle">Crotal</div><div class="bordername" style="width:30px;">{{ item.crotal}}</div>
<div style="clear:both;"></div>
</div>
<br />

<div style="width:1200px; margin-left: auto; margin-right: auto;">
<div class="bordertittle">Propietario</div> <div class="bordername" style="width:280px;">{{ item.farmdata.name }} </div>
{% if item.farmbirth %}<div class="bordertittle">Criador</div><div class="bordername" style="width:280px;">{{ item.farmbirthdata.name }}</div>{% endif %}
<div class="bordertittle" style="width:290px !important;">Número de Inscripción en el Registro de Nacimiento</div><div class="bordername" style="width:100px !important;">{{ item.registerc }}</div>
<div style="clear:both;"></div>
</div>
<div style="height:10px; width:100%"></div>


<div class="container">
<p style="font-size:12px;">Licencia de UCHAE</P>

		<div class="box1 borderbox1">
			ANIMAL PRINCIPAL
			
		</div>

		<div class="box2 borderbox1">
			<div class="bordertittle" style="width:50px;">Número</div> <div class="bordername" style="width:150px;">{{ item.tattoo}} </div><br><br>
			<div class="bordertittle" style="width:50px;">Nombre</div><div class="bordername" style="width:150px;">{{ item.name }}</div><br><br>
			<div class="bordertittle" style="width:50px;">Crotal</div><div class="bordername" style="width:150px;">{{ item.crotal }}</div><br><br>
			<div class="bordertittle" style="width:50px;">Criador</div><div class="bordername" style="width:150px;">{{ item.farmdata.name }}</div><br><br>
			
		</div>	
		
		<div class="box3 borderbox1">
			PADRE
			
		</div>

		<div class="box4 borderbox1">
                {% if item.father is defined and item.father>0%}
			<div class="bordertittle" style="width:50px;">Número</div> <div class="bordername" style="width:150px;">{{ item.fatherdata.tattoo}} </div><br><br>
			<div class="bordertittle" style="width:50px;">Nombre</div><div class="bordername" style="width:150px;">{{ item.fatherdata.name}}</div><br><br>
			<div class="bordertittle" style="width:50px;">Crotal</div><div class="bordername" style="width:150px;">{{ item.fatherdata.crotal}}</div><br><br>
                {% else %}
                    {% include('AppBundle:Print:emptybox.html.twig') %}
                {% endif %}
		</div>	
		
		<div class="box5 borderbox1">
			MADRE
			
		</div>

		<div class="box6 borderbox1">
                {% if item.mother is defined and item.mother>0%}
			<div class="bordertittle" style="width:50px;">Número</div> <div class="bordername" style="width:150px;">{{ item.motherdata.tattoo}} </div><br><br>
			<div class="bordertittle" style="width:50px;">Nombre</div><div class="bordername" style="width:150px;">{{ item.motherdata.name}}</div><br><br>
			<div class="bordertittle" style="width:50px;">Crotal</div><div class="bordername" style="width:150px;">{{ item.motherdata.crotal}}</div><br><br>					
                {% else %}
                    {% include('AppBundle:Print:emptybox.html.twig') %}
                {% endif %}
		</div>
		<div class="box7 borderbox1">
                {% if item.father is defined and item.father>0 and item.fatherdata.father is defined and item.fatherdata.father>0%}
			<div class="bordertittle" style="width:50px;">Número</div> <div class="bordername" style="width:150px;">{{ item.fatherdata.fatherdata.tattoo}} </div><br><br>
			<div class="bordertittle" style="width:50px;">Nombre</div><div class="bordername" style="width:150px;">{{ item.fatherdata.fatherdata.name}}</div><br><br>
			<div class="bordertittle" style="width:50px;">Crotal</div><div class="bordername" style="width:150px;">{{ item.fatherdata.fatherdata.crotal}}</div><br><br>					
                {% else %}
                    {% include('AppBundle:Print:emptybox.html.twig') %}
                {% endif %}
		</div>
		<div class="box8 borderbox1">
                {% if item.father is defined and item.father>0 and item.fatherdata.mother is defined and item.fatherdata.mother>0%}
			<div class="bordertittle" style="width:50px;">Número</div> <div class="bordername" style="width:150px;">{{ item.fatherdata.motherdata.tattoo}} </div><br><br>
			<div class="bordertittle" style="width:50px;">Nombre</div><div class="bordername" style="width:150px;">{{ item.fatherdata.motherdata.name}}</div><br><br>
			<div class="bordertittle" style="width:50px;">Crotal</div><div class="bordername" style="width:150px;">{{ item.fatherdata.motherdata.crotal}}</div><br><br>
                {% else %}
                    {% include('AppBundle:Print:emptybox.html.twig') %}
                {% endif %}
		</div>
		<div class="box9 borderbox1">
                {% if item.mother is defined and item.mother>0 and item.motherdata.father is defined and item.motherdata.father>0%}
			<div class="bordertittle" style="width:50px;">Número</div> <div class="bordername" style="width:150px;">{{ item.motherdata.fatherdata.tattoo}} </div><br><br>
			<div class="bordertittle" style="width:50px;">Nombre</div><div class="bordername" style="width:150px;">{{ item.motherdata.fatherdata.name}}</div><br><br>
			<div class="bordertittle" style="width:50px;">Crotal</div><div class="bordername" style="width:150px;">{{ item.motherdata.fatherdata.crotal}}</div><br><br>					
                {% else %}
                    {% include('AppBundle:Print:emptybox.html.twig') %}
                {% endif %}
		</div>
		<div class="box10 borderbox1">
                {% if item.mother is defined and item.mother>0 and item.motherdata.mother is defined and item.motherdata.mother>0%}
			<div class="bordertittle" style="width:50px;">Número</div> <div class="bordername" style="width:150px;">{{ item.motherdata.motherdata.tattoo}} </div><br><br>
			<div class="bordertittle" style="width:50px;">Nombre</div><div class="bordername" style="width:150px;">{{ item.motherdata.motherdata.name}}</div><br><br>
			<div class="bordertittle" style="width:50px;">Crotal</div><div class="bordername" style="width:150px;">{{ item.motherdata.motherdata.crotal}}</div><br><br>
                {% else %}
                    {% include('AppBundle:Print:emptybox.html.twig') %}
                {% endif %}
		</div>
                <div style="position:absolute; width:200px; left:50px; bottom:30px; "><img src="http://img.fenixzone.net/i/yFVC4J0.png" style="width:100%"></div>
</div>

<br>

<div style="width:1200px; margin-left: auto; margin-right: auto;">
<div class="bordername" style="width:600px;">El Secretario Ejecutivo CERTIFICA, que una vez comprobados los datos obtenidos del
reconocimiento del presente animal por los Servicios Técnicos de UCHAE, confirma su
inscripción en el Registro de Nacimientos.
<br>
<strong>Badajoz</strong>, {{ ((item.rnudate and item.rnudate > date('1972-01-01'))?item.rnudate:"now")  | date('d')}} de {{ ((item.rnudate and item.rnudate > date('1972-01-01'))?item.rnudate:"now")  | date('m') | getMonthName }} de {{ ((item.rnudate and item.rnudate > date('1972-01-01'))?item.rnudate:"now")  | date('Y')}} </div>
<div class="bordername" style="width:200px; text-align:center;"><strong>VºBº<br>EL DIRECTOR TÉCNICO</strong><br /><img style="width:100%; margin-top:-16px;" src="http://www.uniondecharoles.es/bundles/app/images/Firma-Jacinto-Rodriguez.png"></div>
<div class="bordername" style="width:200px; text-align:center;"><strong>EL SECRETARIO</strong><br /><img style="width:100%; margin-top:-16px;" src="http://www.uniondecharoles.es/bundles/app/images/Firma-Maximo-Trigo.png"></div>

</body>