<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
            @media print{
                @page{
                    size: letter landscape;
                    -webkit-transform: translateY('page height') rotate(270deg/*or 90deg*/);
                    -webkit-transform-origin: 0% 0%;         
                }
            }



            body {
                font-family: Arial;
                -webkit-transform: translateY('page height') rotate(270deg/*or 90deg*/);
                -webkit-transform-origin: 0% 0%; 
            }
            .container{
                width:100%;
                margin-right: auto;
                margin-left:auto;

            }

            .bordered{
                border:1px solid black;
            }

            .verticaltext{
                width:5%;
                float:left;
                margin-top: 10px;
                writing-mode: vertical-rl;
                text-orientation: upright;
                -webkit-transform: rotate(270deg);
                -webkit-transform-origin: center bottom auto;
                float: left;
            }

            .horizontaltext{
                width:95%;
                float:left;
            }

            .floatleft{
                float:left;
            }
            .floatright{
                float:right;
                text-align: right;
            }
            .withpadding{
                padding:5px 15px;
            }

            .gigante{
                font-size:36px;
                text-align:center;
            }

            .grande{
                font-size:32px;
            }

            .mediano{
                font-size:26px;
            }
            .peque{
                font-size:18px;
            }

            .bloque{
                margin-bottom:50px;
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body>

        <div class="container">
            <div class='bloque'>
                <div style="width:30%; float:left;"><img src="http://www.uniondecharoles.es/bundles/app/images/logo_uchae.jpg" style="width: 90%;"></div>
                <div style="width:70%; float:left;" class='gigante'>UNIÓN DE CRIADORES DE GANADO VACUNO SELECTO DE LA RAZA CHAROLESA DE ESPAÑA</div>
                <div class='clearfix'></div>
            </div>

            <div id='relleno' class='bloque'>&nbsp;</div>
            <div class='bordered grande bloque withpadding'>
                <div >Ganadería:</div>
                <div>{{ farm.name }}</div>
            </div>
            <div id='relleno' class='bloque'>&nbsp;</div>
            <div id='numero' class='bloque'>
                <div class='bordered grande floatleft withpadding' style='width:82%;'>
                    Nº de Reproductoras
                </div>
                <div class='bordered grande floatright withpadding' style='width:15%'>
                    {{ num }}
                </div>
                <div class='clearfix'></div>
            </div>
            <div id='cuota' class='bloque'>
                <div class='bordered grande floatleft withpadding' style='width:82%;'>
                    Cuota por Reproductora
                </div>
                <div class='bordered grande floatright withpadding' style='width:15%'>
                    {{ price | number_format }}€
                </div>
                <div class='clearfix'></div>
            </div>
            <div id='cuotatotal' class='bloque'>
                <div class='bordered grande floatleft withpadding' style='width:82%;'>
                    CUOTA REPRODUCTORA {{ semester }}º SEMESTRE {{ 'now' | date('Y') }}
                </div>
                <div class='bordered grande floatright withpadding' style='width:15%'>
                    {{ (price*num) | number_format }}€
                </div>
                <div class='clearfix'></div>
            </div>
            <div id='relleno' class='bloque'>&nbsp;</div>
            <div id='relleno' class='bloque'>&nbsp;</div>
            <div id='cuotatotal2' class='bloque'>
                <div class='bordered grande floatleft withpadding' style='width:82%;'>
                    CUOTA TOTAL
                </div>
                <div class='bordered grande floatright withpadding' style='width:15%'>
                    {{ (price*num) | number_format }}€
                </div>
                <div class='clearfix'></div>
            </div>
            <div id='textofinal' class='bloque bordered mediano' style='text-align:center;'>
                A partir del {% if semester == 1%}1 de Julio{% else %}1 de Enero{% endif%} recibirá en su cuenta el cargo del recibo emitido correspondiente a los conceptos arriba indicados.
            </div>
            <div id='relleno' class='bloque'>&nbsp;</div>
            <div id='relleno' class='bloque'>&nbsp;</div>
            <div id='textopie' class='bloque peque' style='text-align:center;'>
                CIF: G06507115 - C/Santo Domingo, 65 Entreplanta Oficina 1;06001 - BADAJOZ www.uniondecharoles.es
            </div>
        </div>

    </body>
