<div class="bordertittle" style="width:50px;">Número</div> <div class="bordername" style="width:150px;">&nbsp; </div><br><br>
<div class="bordertittle" style="width:50px;">Nombre</div><div class="bordername" style="width:150px;">&nbsp;</div><br><br>
<div class="bordertittle" style="width:50px;">Crotal</div><div class="bordername" style="width:150px;">&nbsp;</div><br><br>					

