<div class="column2" >	
    <div class="bordername" style="width:400px;">&nbsp;</div><br>
    <div class="bordername" style="width:400px;">&nbsp;</div><br>
    <div class="bordername" style="width:400px;">&nbsp;</div><br>
</div>
<div class="column2">
    <div class="bordertittle" >&nbsp;</div><div class="bordername" style="width:50px;">&nbsp;</div>
    <div class="bordertittle" >&nbsp;</div> <div class="bordername" style="width:50px;">&nbsp; </div>
    <div class="bordertittle">&nbsp;</div> <div class="bordername" style="width:50px;">&nbsp; </div>
    <div class="bordertittle">&nbsp;</div><div class="bordername" style="width:50px;">&nbsp;</div>
</div>		