<div class="column3" >
    <div class="bordername" style="width:100px;">&nbsp;</div><br>
    <div class="bordername" style="width:100px;">&nbsp;</div><br>
    <div class="bordername" style="width:100px;">&nbsp;</div><br>
</div>
<div class="column3">
    <div class="bordertittle" >&nbsp; </div><div class="bordername" style="width:50px;">&nbsp;</div>
    <div class="bordertittle" >&nbsp; </div> <div class="bordername" style="width:50px;">&nbsp; </div>
    <div class="bordertittle">&nbsp;</div> <div class="bordername" style="width:50px;">&nbsp; </div>
    <div class="bordertittle">&nbsp;</div><div class="bordername" style="width:50px;">&nbsp;</div>
</div>