<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
            @media print{
                @page{
                    size: letter landscape;
                    -webkit-transform: translateY('page height') rotate(270deg/*or 90deg*/);
                    -webkit-transform-origin: 0% 0%;         
                }
            }



            body {
                font-family: Arial;
                -webkit-transform: translateY('page height') rotate(270deg/*or 90deg*/);
                -webkit-transform-origin: 0% 0%; 
            }
            .container{
                width:100%;
                margin-right: auto;
                margin-left:auto;

            }

            .bordered{
                border:1px solid black;
            }

            .verticaltext{
                width:5%;
                float:left;
                margin-top: 10px;
                writing-mode: vertical-rl;
                text-orientation: upright;
                -webkit-transform: rotate(270deg);
                -webkit-transform-origin: center bottom auto;
                float: left;
            }

            .horizontaltext{
                width:95%;
                float:left;
            }

            .floatleft{
                float:left;
            }
            .floatright{
                float:right;
            }

            .grande{
                font-size:26px;
            }

            .mediano{
                font-size:22px;
            }
            .peque{
                font-size:16px;
            }

            #bisabuelos .bordered{
                padding: 3px;
                padding-top:15px;
                padding-bottom:15px;
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body>

        <div class="container">
            <!--encabezado-->
            <div style="width:10%; float:left;"><img src="http://www.uniondecharoles.es/bundles/app/images/logo_uchae.jpg" style="width: 90%;"></div>

            <div style="width:79%; float:left;">
                <p style="text-align: center;	font-size: 20px; font-weight: bold;">UNIÓN DE CRIADORES DE GANADO VACUNO SELECTO DE LA RAZA CHAROLESA DE ESPAÑA</p>
                <p style="color: blue; 	text-align: center;	font-size: 20px; font-weight: bold;"><i>CERTIFICADO GENEALÓGICO</i></p>
            </div>

            <div style="width:10%; float:right;"><img src="http://www.uniondecharoles.es/bundles/app/images/logo_uchae.jpg" style="width: 90%;"></div>
            <div class="clearfix"></div>

            <div id='arbol' style='    background-repeat: no-repeat;
                 background-attachment: fixed;
                 background-position: 50% 50%;  background-image:  url({{ item.gender == 1 ? app.request.getSchemeAndHttpHost()~'/bundles/app/images/fondocartamacho.jpg': app.request.getSchemeAndHttpHost()~'/bundles/app/images/fondocartahembra.jpg'}});'>
                <!--Animal-->
                <div class="bordered" style='margin-bottom:10px;margin-top:2px;'>
                    <div class="verticaltext grande" style='margin-top:40px;'>Animal</div>
                    <div class="horizontaltext">
                        <div class='grande floatleft' style='width:26%;'>{{ item.name }}</div>
                        <div class='grande floatleft' style='width:14%;'>{{ item.tattoo }}</div>
                        <div class='grande floatleft' style='width:18%;'>{{ item.crotal }}</div>
                        <div class='grande floatleft' style='width:17%;'>F.Nto: {{ ((item.birthdate) ? item.birthdate | date ('d/m/Y') : '-') }}</div>
                        <div class='grande floatleft' style='width:10%;'>{{ ((item.registerd) ? item.registerd : ((item.registerc)?item.registerc:'') ) }}</div>
                        <div class='grande floatright' style='width:15%; text-align: right;'>{% if item.points %}Cal: {{ item.points }} <strong>{{ item.points | getPointstext(item.gender) }}</strong>{% endif %}</div>
                        <div class="clearfix"></div>
                        <div class='grande floatleft' style='width:8%;'>Sexo: <strong>{{ ((item.gender)? item.gender | getAbbGender : '-' ) }}</strong></div>
                        <div class='mediano floatleft' style='width:46%;'>Propietario: <strong>{{ item.farmdata.name }}</strong></div>
                        {% if item.farmbirth%}<div class='mediano floatright' style='width:46%;'>Criador: <strong>{{ item.farmbirthdata.name }}</strong></div>{% endif %}
                        <div class="clearfix"></div>
                        {% if item.birthweight %}<div class='grande floatleft' style='width:16%;'>P.Nac: <strong>{{ item.birthweight | round }}</strong></div>{% endif %}
                        {% if item.weaningweight %}<div class='grande floatleft' style='width:16%;'>P.120: <strong>{{ item.weaningweight | round }}</strong></div>{% endif %}
                        {% if item.easebirth %}<div class='grande floatleft' style='width:16%;'>F.Parto: <strong>{{ item.easebirth | round }}</strong></div>{% endif %}
                        {% if item.weaningval %}<div class='grande floatleft' style='width:16%;'>P.Crec: <strong>{{ item.weaningval | round }}</strong></div>{% endif %}
                        {% if item.muscledev %}<div class='grande floatleft' style='width:16%;'>D.Musc: <strong>{{ item.muscledev | round }}</strong></div>{% endif %}
                        {% if item.bonedev %}<div class='grande floatright' style='width:16%;'>D.Esq: <strong>{{ item.bonedev | round }}</strong></div>{% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                {#------------------- PADRES ---------------#}
                <div id='padres' style='margin-bottom:10px;'>
                    <!--padre-->
                    <div class="bordered floatleft" style='width:49.75%; margin-right:0.5%;'>
                        <div class="verticaltext grande" style='margin-top:90px;'>Padre</div>
                        <div class="horizontaltext">
                            {% if item.father %}
                                <div class='grande'>{{ item.fatherdata.name ? item.fatherdata.name : "-" }}</div>
                                <div class='grande'>{{ item.fatherdata.tattoo ? item.fatherdata.tattoo : "-" }}</div>
                                <div class='grande'>{{ item.fatherdata.crotal ? item.fatherdata.crotal : "-" }}</div>
                                <div style='min-height: 70px; margin-top:90px;'>
                                    {% if item.fatherdata.easebirth %}<div class='grande floatleft' style='width:25%;'>F.Parto: <strong>{{ item.fatherdata.easebirth | round }}</strong></div>{% endif %}
                                    {% if item.fatherdata.weaningval %}<div class='grande floatleft' style='width:25%;'>P.Crec: <strong>{{ item.fatherdata.weaningval | round }}</strong></div>{% endif %}
                                    {% if item.fatherdata.muscledev %}<div class='grande floatleft' style='width:25%;'>D.Musc: <strong>{{ item.fatherdata.muscledev | round }}</strong></div>{% endif %}
                                    {% if item.fatherdata.bonedev %}<div class='grande floatright' style='width:25%;'>D.Esq: <strong>{{ item.fatherdata.bonedev | round }}</strong></div>{% endif %}
                                    <div class="clearfix"></div>
                                </div>
                            {% else %}
                                <div style='min-height:272px;'></div>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--madre-->
                    <div class="bordered floatright" style='width:49.75%;'>
                        <div class="verticaltext grande" style='margin-top:90px;'>Madre</div>
                        <div class="horizontaltext">
                            {% if item.mother %}
                                <div class='grande'>{{ item.motherdata.name ? item.motherdata.name : "-" }}</div>
                                <div class='grande'>{{ item.motherdata.tattoo ? item.motherdata.tattoo : "-" }}</div>
                                <div class='grande'>{{ item.motherdata.crotal ? item.motherdata.crotal:"-" }}</div>
                                <div style='min-height:70px; margin-top:90px;'>
                                    {% if item.motherdata.easebirth %}<div class='grande floatleft' style='width:25%;'>F.Parto: <strong>{{ item.motherdata.easebirth | round }}</strong></div>{% endif %}
                                    {% if item.motherdata.weaningval %}<div class='grande floatleft' style='width:25%;'>P.Crec: <strong>{{ item.motherdata.weaningval | round }}</strong></div>{% endif %}
                                    {% if item.motherdata.muscledev %}<div class='grande floatleft' style='width:25%;'>D.Musc: <strong>{{ item.motherdata.muscledev | round }}</strong></div>{% endif %}
                                    {% if item.motherdata.bonedev %}<div class='grande floatright' style='width:25%;'>D.Esq: <strong>{{ item.motherdata.bonedev | round }}</strong></div>{% endif %}
                                    <div class="clearfix"></div>
                                </div>
                            {% else %}
                                <div style='min-height:272px;'></div>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                {#------------------- ABUELOS ---------------#}
                <!-- Abuelo paterno -->
                {% set minheight = 62 %}
                {% set margintop = 54 %}
                {% set minheightbox = 210 %}
                <div id='abuelos' style='margin-bottom:10px;'>
                    <div class="bordered floatleft" style='width:24.75%; margin-right:0.5%;'>
                        <div class="verticaltext peque" style='margin-top:120px;'>Abuelo&nbsp;Paterno</div>
                        <div class="horizontaltext">
                            {% if item.father and item.fatherdata.father %}
                                <div class='mediano'>{{ item.fatherdata.fatherdata.name ? item.fatherdata.fatherdata.name : "-" }}</div>
                                <div class='mediano'>{{ item.fatherdata.fatherdata.tattoo ? item.fatherdata.fatherdata.tattoo:"-" }}</div>
                                <div class='mediano'>{{ item.fatherdata.fatherdata.crotal ? item.fatherdata.fatherdata.crotal : "-" }}</div>
                                <div style='min-height:{{ minheight }}px; margin-top:{{ margintop }}px;'>
                                    {% if item.fatherdata.fatherdata.easebirth %}<div class='peque floatleft' style='width:25%;'>F.Parto: <strong>{{ item.fatherdata.fatherdata.easebirth | round }}</strong></div>{% endif %}
                                    {% if item.fatherdata.fatherdata.weaningval %}<div class='peque floatleft' style='width:25%;'>P.Crec: <strong>{{ item.fatherdata.fatherdata.weaningval | round }}</strong></div>{% endif %}
                                    {% if item.fatherdata.fatherdata.muscledev %}<div class='peque floatleft' style='width:25%;'>D.Musc: <strong>{{ item.fatherdata.fatherdata.muscledev | round }}</strong></div>{% endif %}
                                    {% if item.fatherdata.fatherdata.bonedev %}<div class='peque floatright' style='width:25%;'>D.Esq: <strong>{{ item.fatherdata.fatherdata.bonedev | round }}</strong></div>{% endif %}
                                    <div class="clearfix"></div>
                                </div>
                            {% else %}
                                <div style='min-height:{{ minheightbox }}px;'></div>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="bordered floatleft" style='width:24.75%; margin-right:0.5%;'>
                        <div class="verticaltext peque" style='margin-top:120px;'>Abuela&nbsp;Paterna</div>
                        <div class="horizontaltext">
                            {% if item.father and item.fatherdata.mother %}
                                <div class='mediano'>{{ item.fatherdata.motherdata.name ? item.fatherdata.motherdata.name : "-" }}</div>
                                <div class='mediano'>{{ item.fatherdata.motherdata.tattoo ? item.fatherdata.motherdata.tattoo : "-" }}</div>
                                <div class='mediano'>{{ item.fatherdata.motherdata.crotal ? item.fatherdata.motherdata.crotal : "-" }}</div>
                                <div style='min-height:{{ minheight }}px; margin-top:{{ margintop }}px;'>
                                    {% if item.fatherdata.motherdata.easebirth %}<div class='mediano floatleft' style='width:25%;'>F.Parto: <strong>{{ item.fatherdata.motherdata.easebirth | round }}</strong></div>{% endif %}
                                    {% if item.fatherdata.motherdata.weaningval %}<div class='mediano floatleft' style='width:25%;'>P.Crec: <strong>{{ item.fatherdata.motherdata.weaningval | round }}</strong></div>{% endif %}
                                    {% if item.fatherdata.motherdata.muscledev %}<div class='mediano floatleft' style='width:25%;'>D.Musc: <strong>{{ item.fatherdata.motherdata.muscledev | round }}</strong></div>{% endif %}
                                    {% if item.fatherdata.motherdata.bonedev %}<div class='mediano floatright' style='width:25%;'>D.Esq: <strong>{{ item.fatherdata.motherdata.bonedev | round }}</strong></div>{% endif %}
                                    <div class="clearfix"></div>
                                </div>
                            {% else %}
                                <div style='min-height:{{ minheightbox }}px;'></div>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="bordered floatleft" style='width:24.75%;'>
                        <div class="verticaltext peque" style='margin-top:120px;'>Abuelo&nbsp;Materno</div>
                        <div class="horizontaltext">
                            {% if item.mother and item.motherdata.father %}
                                <div class='mediano'>{{ item.motherdata.fatherdata.name ? item.motherdata.fatherdata.name : "-" }}</div>
                                <div class='mediano'>{{ item.motherdata.fatherdata.tattoo ? item.motherdata.fatherdata.tattoo : "-" }}</div>
                                <div class='mediano'>{{ item.motherdata.fatherdata.crotal ? item.motherdata.fatherdata.crotal : "-" }}</div>
                                <div style='min-height:{{ minheight }}px; margin-top:{{ margintop }}px;'>
                                    {% if item.motherdata.fatherdata.easebirth %}<div class='peque floatleft' style='width:25%;'>F.Parto: <strong>{{ item.motherdata.fatherdata.easebirth | round }}</strong></div>{% endif %}
                                    {% if item.motherdata.fatherdata.weaningval %}<div class='peque floatleft' style='width:25%;'>P.Crec: <strong>{{ item.motherdata.fatherdata.weaningval | round }}</strong></div>{% endif %}
                                    {% if item.motherdata.fatherdata.muscledev %}<div class='peque floatleft' style='width:25%;'>D.Musc: <strong>{{ item.motherdata.fatherdata.muscledev | round }}</strong></div>{% endif %}
                                    {% if item.motherdata.fatherdata.bonedev %}<div class='peque floatright' style='width:25%;'>D.Esq: <strong>{{ item.motherdata.fatherdata.bonedev | round }}</strong></div>{% endif %}
                                    <div class="clearfix"></div>
                                </div>
                            {% else %}
                                <div style='min-height:{{ minheightbox }}px;'></div>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="bordered floatright" style='width:24.75%;'>
                        <div class="verticaltext peque" style='margin-top:120px;'>Abuela&nbsp;Materna</div>
                        <div class="horizontaltext">
                            {% if item.mother and item.motherdata.mother %}
                                <div class='mediano'>{{ item.motherdata.motherdata.name ? item.motherdata.motherdata.name : "-" }}</div>
                                <div class='mediano'>{{ item.motherdata.motherdata.tattoo ? item.motherdata.motherdata.tattoo: "-" }}</div>
                                <div class='mediano'>{{ item.motherdata.motherdata.crotal ? item.motherdata.motherdata.crotal : "-" }}</div>
                                <div style='min-height:{{ minheight }}px; margin-top:{{ margintop }}px;'>
                                    {% if item.motherdata.motherdata.easebirth %}<div class='peque floatleft' style='width:25%;'>F.Parto: <strong>{{ item.motherdata.motherdata.easebirth | round }}</strong></div>{% endif %}
                                    {% if item.motherdata.motherdata.weaningval %}<div class='peque floatleft' style='width:25%;'>P.Crec: <strong>{{ item.motherdata.motherdata.weaningval | round }}</strong></div>{% endif %}
                                    {% if item.motherdata.motherdata.muscledev %}<div class='peque floatleft' style='width:25%;'>D.Musc: <strong>{{ item.motherdata.motherdata.muscledev | round }}</strong></div>{% endif %}
                                    {% if item.motherdata.motherdata.bonedev %}<div class='peque floatright' style='width:25%;'>D.Esq: <strong>{{ item.motherdata.motherdata.bonedev | round }}</strong></div>{% endif %}
                                    <div class="clearfix"></div>
                                </div>
                            {% else %}
                                <div style='min-height:{{ minheightbox }}px;'></div>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                {#------------------- ABUELOS ---------------#}
                <!-- Abuelo paterno -->
                {% set width = 12.35 %}
                {% set marginright = 0.25 %}
                {% set minheightbox = 66 %}
                <div id='bisabuelos' style='margin-bottom:20px;'>
                    <div class="bordered floatleft" style='width:{{ width }}%; margin-right:{{marginright}}%;'>
                        {% if item.father and item.fatherdata.father and item.fatherdata.fatherdata.father %}
                            <div class='peque'>{{ item.fatherdata.fatherdata.fatherdata.name ? item.fatherdata.fatherdata.fatherdata.name : "-" }}</div>
                            <div class='peque'>{{ item.fatherdata.fatherdata.fatherdata.tattoo ? item.fatherdata.fatherdata.fatherdata.tattoo : "-" }}</div>
                            <div class='peque'>{{ item.fatherdata.fatherdata.fatherdata.crotal ? item.fatherdata.fatherdata.fatherdata.crotal : "-" }}</div>
                        {% else %}
                            <div style='min-height:{{ minheightbox }}px;'></div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="bordered floatleft" style='width:{{ width }}%; margin-right:{{marginright}}%;'>
                        {% if item.father and item.fatherdata.father and item.fatherdata.fatherdata.mother %}
                            <div class='peque'>{{ item.fatherdata.fatherdata.motherdata.name ? item.fatherdata.fatherdata.motherdata.name : "-" }}</div>
                            <div class='peque'>{{ item.fatherdata.fatherdata.motherdata.tattoo ? item.fatherdata.fatherdata.motherdata.tattoo : "-" }}</div>
                            <div class='peque'>{{ item.fatherdata.fatherdata.motherdata.crotal ? item.fatherdata.fatherdata.motherdata.crotal : "-" }}</div>
                        {% else %}
                            <div style='min-height:{{ minheightbox }}px;'></div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="bordered floatleft" style='width:{{ width }}%; margin-right:{{marginright}}%;'>
                        {% if item.father and item.fatherdata.mother and item.fatherdata.motherdata.father %}
                            <div class='peque'>{{ item.fatherdata.motherdata.fatherdata.name ? item.fatherdata.motherdata.fatherdata.name : "-" }}</div>
                            <div class='peque'>{{ item.fatherdata.motherdata.fatherdata.tattoo ? item.fatherdata.motherdata.fatherdata.tattoo : "-" }}</div>
                            <div class='peque'>{{ item.fatherdata.motherdata.fatherdata.crotal ? item.fatherdata.motherdata.fatherdata.crotal : "-" }}</div>
                        {% else %}
                            <div style='min-height:{{ minheightbox }}px;'></div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="bordered floatleft" style='width:{{ width }}%; margin-right:{{marginright}}%;'>
                        {% if item.father and item.fatherdata.mother and item.fatherdata.motherdata.mother %}
                            <div class='peque'>{{ item.fatherdata.motherdata.motherdata.name ? item.fatherdata.motherdata.motherdata.name : "-" }}</div>
                            <div class='peque'>{{ item.fatherdata.motherdata.motherdata.tattoo ? item.fatherdata.motherdata.motherdata.tattoo : "-" }}</div>
                            <div class='peque'>{{ item.fatherdata.motherdata.motherdata.crotal ? item.fatherdata.motherdata.motherdata.crotal : "-" }}</div>
                        {% else %}
                            <div style='min-height:{{ minheightbox }}px;'></div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="bordered floatleft" style='width:{{ width }}%; margin-right:{{marginright}}%;'>
                        {% if item.mother and item.motherdata.father and item.motherdata.fatherdata.father %}
                            <div class='peque'>{{ item.motherdata.fatherdata.fatherdata.name ? item.motherdata.fatherdata.fatherdata.name : "-" }}</div>
                            <div class='peque'>{{ item.motherdata.fatherdata.fatherdata.tattoo ? item.motherdata.fatherdata.fatherdata.tattoo : "-" }}</div>
                            <div class='peque'>{{ item.motherdata.fatherdata.fatherdata.crotal ? item.motherdata.fatherdata.fatherdata.crotal : "-" }}</div>
                        {% else %}
                            <div style='min-height:{{ minheightbox }}px;'></div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="bordered floatleft" style='width:{{ width }}%; margin-right:{{marginright}}%;'>
                        {% if item.mother and item.motherdata.father and item.motherdata.fatherdata.mother %}
                            <div class='peque'>{{ item.motherdata.fatherdata.motherdata.name ? item.motherdata.fatherdata.motherdata.name : "-" }}</div>
                            <div class='peque'>{{ item.motherdata.fatherdata.motherdata.tattoo ? item.motherdata.fatherdata.motherdata.tattoo : "-" }}</div>
                            <div class='peque'>{{ item.motherdata.fatherdata.motherdata.crotal ? item.motherdata.fatherdata.motherdata.crotal : "-" }}</div>
                        {% else %}
                            <div style='min-height:{{ minheightbox }}px;'></div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="bordered floatleft" style='width:{{ width }}%;'>
                        {% if item.mother and item.motherdata.mother and item.motherdata.motherdata.father %}
                            <div class='peque'>{{ item.motherdata.motherdata.fatherdata.name ? item.motherdata.motherdata.fatherdata.name : "-" }}</div>
                            <div class='peque'>{{ item.motherdata.motherdata.fatherdata.tattoo ? item.motherdata.motherdata.fatherdata.tattoo : "-" }}</div>
                            <div class='peque'>{{ item.motherdata.motherdata.fatherdata.crotal ? item.motherdata.motherdata.fatherdata.crotal : "-" }}</div>
                        {% else %}
                            <div style='min-height:{{ minheightbox }}px;'></div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="bordered floatright" style='width:{{ width }}%;'>
                        {% if item.mother and item.motherdata.mother and item.motherdata.motherdata.mother %}
                            <div class='peque'>{{ item.motherdata.motherdata.motherdata.name ? item.motherdata.motherdata.motherdata.name : "-" }}</div>
                            <div class='peque'>{{ item.motherdata.motherdata.motherdata.tattoo ? item.motherdata.motherdata.motherdata.tattoo : "-" }}</div>
                            <div class='peque'>{{ item.motherdata.motherdata.motherdata.crotal ? item.motherdata.motherdata.motherdata.crotal : "-" }}</div>
                        {% else %}
                            <div style='min-height:{{ minheightbox }}px;'></div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <!---- pie --->
            <div class='floatleft' style='width:24%; margin-right:1%;'><strong>Badajoz</strong>, {{ ((item.rdudate and item.rdudate > date('1972-01-01'))?item.rdudate:"now")  | date('d')}} de {{ ((item.rdudate and item.rdudate > date('1972-01-01'))?item.rdudate:"now")  | date('m') | getMonthName }} de {{ ((item.rdudate and item.rdudate > date('1972-01-01'))?item.rdudate:"now")  | date('Y')}}</div>
            <div class='floatleft bordered peque' style='width:20%; margin-right:1%;'>
                Certificado genealógico expedido conforme a la Decision 2005/379/CE de la Comisión para los intercambios intracomunitarios.
            </div>
            <div class='floatleft  peque' style='width:28%; margin-right:1%; position:relative;'>
                <div style='text-align: center;'><strong>VºBº<br>EL DIRECTOR TÉCNICO</strong></div>
                <div style='position:absolute;top:-30px; '><img style="width:100%; border:0px !important;" src="http://www.uniondecharoles.es/bundles/app/images/Firma-Jacinto-Rodriguez.png"></div>
            </div>
            <div class='floatright  peque' style='width:24%; position:relative; text-align: center;'>
                <div style='text-align: center;'><strong>EL SECRETARIO</strong></div>
                <div style='position:absolute;top:-30px; '><img style="width:100%; border:0px !important;" src="http://www.uniondecharoles.es/bundles/app/images/Firma-Maximo-Trigo.png"></div>
            </div>
        </div>

    </body>