<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>

            body {
                font-family: Arial;
            }



            h3 {

                text-align: center;


            }

            p{
                font-size:14px !important;
            }
            .bordername {

                font-size: 12px;
                float: left;
                padding: 4px 8px;

            }

            .container {
                width: 1200px;
                height: 400px;

            }



            .box1 {
                width: 1400px;
                height: 600px;

                margin-left: auto;
                margin-right: auto;

                font-size: 12px;
                border-style: solid;
                border-width: 1px;

                padding: 30px 8px;

            }

            .box2 {
                width: 300px;
                height: 100px;
                margin-left: auto;
                margin-right: auto;
                font-size: 12px;
                border-style: solid;
                border-width: 1px;
                padding: 20px 40px;

            }

            .box3 {
                width: 300px;
                height: 100px;
                margin-left: auto;
                margin-right: auto;
                font-size: 12px;
                border-style: solid;
                border-width: 0px;
                padding: 20px 40px;

            }

            .box1 {
                width: 1000px;
                height: 300px;

                margin-left: auto;
                margin-right: auto;

                font-size: 12px;
                border-style: solid;
                border-width: 1px;

                padding: 30px 8px;

            }

            .box4 {
                width: 1000px;
                height: 200px;

                margin-left: auto;
                margin-right: auto;

                font-size: 12px;
                border-style: solid;
                border-width: 0px;

                padding: 30px 8px;

            }



            .column2 {
                float: left;
                width: 180px;
            }


            .datetittle {
                float: left;
            }

            .textfooter {
                text-align:center;
            }

            .bordertittle {

                font-size: 12px;
                border-style: solid;
                border-width: 2px;
                float: left;
                padding: 2px 8px;

            }

            .bordertittle2 {

                text-align:center;
                width: 120px;
                height: 33px;
                margin-left: auto;
                margin-right: auto;
                font-size: 12px;
                border-style: solid;
                border-width: 1px;
                float: left;
                padding: 8px 8px;

            }




        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body style="position:relative">
        <div style="width:1000px; margin-left: auto; margin-right: auto; min-height:1300px;">
            <div class="column2" style="width:100px;"><img src="http://www.uniondecharoles.es/bundles/app/images/logo_uchae.jpg" style="width:100px;"></div>

            <div class="column2"  style="width:800px;">
                <p style="text-align: center;	font-size: 20px; font-weight: bold;">UNIÓN DE CRIADORES DE GANADO VACUNO SELECTO DE LA RAZA CHAROLESA DE ESPAÑA</p>
                <p style="color: blue; 	text-align: center;	font-size: 20px; font-weight: bold;"><i>FICHA DE TRABAJO DE CAMPO</i></p>
            </div>

            <div class="column2" style="width:100px;"><img src="http://www.uniondecharoles.es/bundles/app/images/logo_uchae.jpg" style="width:100px;"></div>


        <div class="clearfix"></div>

        <div class="box2 " style="width:1000px; margin-left: auto; margin-right: auto;">

            <div class="bordertittle">GANADERÍA</div> <div class="bordername" style="width:150px;">{{ visit.farm.name }} </div><br><br>
            <div class="bordertittle">EXPLOTACIÓN</div><div class="bordername" style="width:150px;">{{ visit.farm.rega }}</div>


            <div class="bordertittle">SIGLA</div><div class="bordername" style="width:80px;">{{ visit.farm.abb }}</div>
            <div class="bordertittle">LOCALIDAD</div><div class="bordername" style="width:10px;">{{ visit.farm.town }}</div>

        </div>










            <div class="clearfix"></div>

            <H3>TRABAJO REALIZADO</H3><!-- Es el recuento de operaciones realizadas: número de registros definitivos asignados, etc... -->

            <div class="box3" style="width:1000px; margin-left: auto; margin-right: auto;">

                <P class="bordertittle2">PESADAS</P> <P class="bordertittle2">CAL. IBOVAL</P><P class="bordertittle2">REG. RNU</P>
                <P class="bordertittle2">REG. RDU</P><P class="bordertittle2">ANALÍTICAS</P><P class="bordertittle2">FERIAS</P><P class="bordertittle2">BAJAS</P><BR><BR><BR>
                <P class="bordertittle2">{{ visit.num_weights}}</P><P class="bordertittle2">{{ visit.num_index}}</P><P class="bordertittle2">{{ visit.num_registerc}}</P>
                <P class="bordertittle2">{{ visit.num_registerd}}</P><P class="bordertittle2">0</P><P class="bordertittle2">{{ visit.num_fairs}}</P><P class="bordertittle2">{{ visit.num_end}}</P>



            </div>

            <div class="clearfix"></div>

            <div class="box1">






                <div style="margin: 10px">

                    <H3>OBSERVACIONES</H3>
                    <P>&nbsp;</P>
                    {% set stringanimals = '' %}
                    {% set cont=0 %}
                    {% for animal in visit.animals %}
                        {% if animal.weight %}
                            {% set stringanimals = stringanimals~((stringanimals=='')?'':', ')~animal.animaltattoo %}
                            {% set cont = cont+1 %}
                        {% endif %}
                    {% endfor %}
                    {% if cont>0 %}
                        <p>Se pesaron {{ cont }} animales: {{ stringanimals }}</p>
                    {% endif %}

                    {% set stringanimals = '' %}
                    {% set cont=0 %}
                    {% for animal in visit.animals %}
                        {% if animal.indexanimal %}
                            {% set stringanimals = stringanimals~((stringanimals=='')?'':', ')~animal.animaltattoo %}
                            {% set cont = cont+1 %}
                        {% endif %}
                    {% endfor %}
                    {% if cont>0 %}
                        <p>Se asignaron índices a {{ cont }} animales: {{ stringanimals }}</p>
                    {% endif %}

                    {% set stringanimals = '' %}
                    {% set cont=0 %}
                    {% for animal in visit.animals %}
                        {% if animal.enddate %}
                            {% set stringanimals = stringanimals~((stringanimals=='')?'':', ')~animal.animaltattoo %}
                            {% set cont = cont+1 %}
                        {% endif %}
                    {% endfor %}
                    {% if cont>0 %}
                        <p>Se dieron de baja {{ cont }} animales: {{ stringanimals }}</p>
                    {% endif %}

                    {% set stringanimals = '' %}
                    {% set cont=0 %}
                    {% for animal in visit.animals %}
                        {% if animal.register and 'RNU' in animal.register %}
                            {% set stringanimals = stringanimals~((stringanimals=='')?'':', ')~animal.animaltattoo %}
                            {% set cont = cont+1 %}
                        {% endif %}
                    {% endfor %}
                    {% if cont>0 %}
                        <p>Se asignaron {{ cont }} certificado(s) de nacimiento(s)correspondientes a los siguientes ejemplares: {{ stringanimals }}</p>
                    {% endif %}
                    {% set stringanimals = '' %}
                    {% set cont=0 %}
                    {% for animal in visit.animals %}
                        {% if (animal.register and 'RD' in animal.register) or (animal.points and animal.points>0) %}
                            {% set stringanimals = stringanimals~((stringanimals=='')?'':', ')~animal.animaltattoo %}
                            {% set cont = cont+1 %}
                        {% endif %}
                    {% endfor %}
                    {% if cont>0 %}
                        <p>Se asignaron {{ cont }} carta(s) genealógica(s) correspondientes a los siguientes ejemplares: {{ stringanimals }}</p>
                    {% endif %}




                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="box4" style="position:absolute; bottom:0px;"><!-- Esto va al final de la página -->

            <p>Fecha: {{ visit.visitdate  | date('d')}} de {{ visit.visitdate  | date('m') | getMonthName }} de {{ visit.visitdate  | date('Y')}}</p>



            <div style="width:45%; float:left;">

                <div class="datesign" style="width:300px; text-align:center;">FIRMA DEL TÉCNICO VETERINARIO<br><img src="http://img.fenixzone.net/i/fSBAk6t.png" style="width:300px;"> <br>Fdo. Jacinto Rodríguez Suárez-Bárcena<br>Director Técnico <br> </div>
            </div>

            <div style="width:45%; float:right;">

                <div class="datesign" style="width:300px; height:155px; text-align:center;">FIRMA DEL GANADERO </div>
                <div class="datesign" style="width:300px; ">Fdo.:</div>

            </div>


            <p>&nbsp;</p>
            <hr width="1000" />
            <p>COPIA PARA EL GANADERO Y LA OFICINA</p>
            <p>Impreso el {{ 'now' | date('d/m/Y') }}</p>

        </div>

    </body>