<DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>

body {
	font-family: Arial;
}



h3 {
	
	text-align: center;
	
	
}
p{
	font-size:20px !important;
}

.bordername {
	
	font-size: 16px;
	float: left;
	padding: 4px 8px;

}

.container {
	width: 1200px;
        margin-right:auto;
        margin-left: auto;
	
}



.box1 {
	width: 100%;
	height: 600px;
	
	margin-left: auto;
	margin-right: auto;
	
	font-size: 12px;
	/*border-style: solid;
	border-width: 1px;*/
	
	padding: 30px 8px;
	
}

.box2 {
	width: 40%;
        margin-right:20%;
	height: 150px;
	float: right;
	margin: 5px;
	font-size: 12px;
	/*border-style: solid;
	border-width: 1px;*/
	padding: 20px 40px;
	
}



.column2 {
	float: left;
	width: 15%;
}


.datetittle {
	float: right;
}

.textfooter {
	text-align:center;
}

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<div class="container">
	<div class="column2" ><img src="http://www.uniondecharoles.es/bundles/app/images/logo_uchae.jpg" style="width:100%;"></div>

	<div class="column2"  style="width:70% !important;">
		<p style="text-align: center;	font-size: 20px; font-weight: bold;">UNIÓN DE CRIADORES DE GANADO VACUNO SELECTO DE LA RAZA CHAROLESA DE ESPAÑA</p>
		<p style="text-align: center;	font-size: 20px; font-weight: bold;"><i>INFORME DE VISITA REALIZADA</i></p>
	</div>

	<div class="column2" ><img src="http://www.uniondecharoles.es/bundles/app/images/logo_uchae.jpg" style="width:100%;"></div>
</div>

<div class="container">


		
		
		<div class="box2 datetittle">
			
			
				<div class="bordername" style="width:400px;">{{ visit.farm.name }} </div><br>
                <div class="bordername" style="width:400px;">{{ visit.farm.address }}</div><br>
                <div class="bordername" style="width:400px;">{{ visit.farm.zip }}</div><br>
                <div class="bordername" style="width:400px;">{{ visit.farm.town }}, {{ visit.farm.province | readable_enum('ProvinceType') }}</div><br>
			
			
			
			
		</div>
		<div class="clearfix"></div>
		<div class="box1">
			
			{#<p style="margin-top:20px; margin-right:20px; text-align: right;">Badajoz, {{ "now"  | date('d')}} de {{ "now"  | date('m') | getMonthName }} de {{ "now"  | date('Y')}}</p>#}
			<p style="margin-top:20px; margin-right:20px; text-align: right;">Badajoz, {{ visit.visitdate  | date('d')}} de {{visit.visitdate  | date('m') | getMonthName }} de {{ visit.visitdate  | date('Y')}}</p>

			
			
			<div style="margin: 80px 40px; font-size: 16px !important;">
				
				                    <p>Estimado asociado:</p>
                    <p>Adjunto le remito la siguiente documentación de su ganadería tras la última visita del día {{ visit.visitdate  | date('d/m/Y')}}.</p>
                    {% set stringanimals = '' %}
                    {% set cont=0 %}
                    {% for animal in visit.animals %}
                        {% if animal.register and 'RNU' in animal.register %}
                            {% set stringanimals = stringanimals~((stringanimals=='')?'':', ')~animal.animaltattoo %}
                            {% set cont = cont+1 %}
                        {% endif %}
                    {% endfor %}
                    {% if cont>0 %}
                        <p>{{ cont }} certificado(s) de nacimiento(s)correspondientes a los siguientes ejemplares:</p>
                        <p>{{ stringanimals }}</p>
                    {% endif %}
                    {% set stringanimals = '' %}
                    {% set cont=0 %}
                    {% for animal in visit.animals %}
                        {% if (animal.register and 'RD' in animal.register) or (animal.points and animal.points>0) %}
                            {% set stringanimals = stringanimals~((stringanimals=='')?'':', ')~animal.animaltattoo %}
                            {% set cont = cont+1 %}
                        {% endif %}
                    {% endfor %}
                    {% if cont>0 %}
                        <p>{{ cont }} carta(s) genealógica(s) correspondientes a los siguientes ejemplares:</p>
                        <p>{{ stringanimals }}</p>
                    {% endif %}
                    <p>Sin otro particular reciba un cordial saludo.</p>
				
			</div>
				
			

		</div>
		
		
		
		
		
</div>

<div class="clearfix"></div>


<div class="container" style="position:absolute; bottom:0px; ">

	<div class="datetittle" style="width:420px; text-align:center; margin-bottom:26px; margin-right:100px;"><img src="http://www.uniondecharoles.es/bundles/app/images/Firma-Jacinto-Rodriguez.png" style="width:420px;"> <br>Fdo. Jacinto Rodríguez Suárez-Bárcena<br>Director Técnico <br> </div>
	<div class="clearfix"></div>
	<div class="textfooter">C/Santo Domingo, 65 Entreplanta Oficina 1 - Badajoz 06001 - Telf.924 253970 y FAX: 924 237346<br>
e-mail: uniondecharoles@hotmail.com - Pag. web: www.uniondecharoles.es</div>
	
</div>
</body>