{% set h1='403'%}
{% extends 'AppBundle:PublicPages:inside.html.twig' %}

{% block additionalscripts %}{% include "AppBundle:PublicPages:include_css.html.twig" %}{% endblock %}

{% block content %}
                <div class="center wow fadeInDown">
                    <h1>403</h1>
                    <p>No tiene permiso para ver la sección a la que está intentando acceder <a href="{{ path('publicweb_homepage') }}">vuelva al inicio de {{ projectname }}.</a></p>
                </div>
{% endblock %}
