{% set nobreadcrumb = true %}
{% set h1='404'%}
{% extends 'AppBundle:PublicPages:inside.html.twig' %}

{% block additionalscripts %}{% include "AppBundle:PublicPages:include_css.html.twig" %}{% endblock %}

{% block content %}
               <h1>404</h1>
                    <p>Ups... No encontramos la sección a la que está intentando acceder, <a href="{{ path('publicweb_homepage') }}">vuelva al inicio de {{ projectname }} haciendo click aquí.</a></p>
{% endblock %}
