<div class="blog">
    {% for _post in blog %}
        <article class="post post-medium">
            <div class="row">

                <div class="col-md-4">
                    <div class="post-image">
                        <div style="text-align: center;">
                            <div class="img-thumbnail">
                                <img class="img-responsive" src="{{ _post.images[0] is defined ? _post.images[0].url : asset('/bundles/app/images/logo_uchae.jpg') }}" style="max-height:150px !important;" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">

                    <div class="post-content">

                        <h2><a href="{{ path('publicweb_post', {'title':_post.title | spaceencodeurl(true), 'id':_post.id}) }}">{{ _post.title }}</a></h2>
                        <p>{{ _post.body | summarytextbywords(35) | raw }}</p>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="post-meta">
                        <span><i class="fa fa-calendar"></i> {{ _post.publishdate | date('d') }} de {{ _post.publishdate | date('m') | getMonthName }} de {{ _post.publishdate | date('Y') }} </span>
                        <!-- <span><i class="fa fa-user"></i> By <a href="#">John Doe</a> </span> -->
                        {% if _post.tags | length > 0%}<span><i class="fa fa-tag"></i> {{ _post.tags | join(', ') }}</span>{% endif %}
                        <a href="{{ path('publicweb_post', {'title':_post.title | spaceencodeurl(true), 'id':_post.id}) }}" class="btn btn-xs btn-primary pull-right">Leer Más...</a>
                        <p><br></p>
                    
                    </div>
                </div>
                
            </div>

        </article>    
    {% endfor %}
</div>

{% if section.numpages is defined and section.numpages>0 %}
    {%set paginatorparameters=app.request.attributes.get('_route_params')%}
    {%set pathpaginator=app.request.attributes.get('_route')%}
    {%include "AppBundle:PublicPages:paginator.html.twig"%}

{% endif %}