<div class="form-group">
    <label for="field_{{ formgroup.id }}">{{ formgroup.name }}</label>
    {% if formgroup.formfieldtype == 'EMAIL' | enum_constant %}
        <input type="email" placeholder="" id="field_{{ formgroup.id }}" name="field_{{ formgroup.id }}" value="{{ ((app.request.get("field_"~formgroup.id)!='')?app.request.get("field_"~formgroup.id)) }}" class="form-control">
    {% else %}{% if formgroup.formfieldtype == 'TEXT' | enum_constant('WebfieldType') %}
            <input type="text" placeholder="" id="field_{{ formgroup.id }}" name="field_{{ formgroup.id }}" value="{{ ((app.request.get("field_"~formgroup.id)!='')?app.request.get("field_"~formgroup.id)) }}" class="form-control">
        {% else %}
            {% if formgroup.formfieldtype == 'TEXTAREA' | enum_constant %}
                <textarea id="field_{{ formgroup.id }}" name="field_{{ formgroup.id }}" row="5" class="form-control">{{ ((app.request.get("field_"~formgroup.id)!='')?app.request.get("field_"~formgroup.id)) }}</textarea>
            {% else %}{% if formgroup.formfieldtype == 'CHECKBOX' | enum_constant %}
                    <input type="checkbox" id="field_{{ formgroup.id }}" name="field_{{ formgroup.id }}" value="1" class="form-control" />
                {% else %}
            {% if formgroup.formfieldtype == 'MULTISELECT' | enum_constant %}{% set _multiselect = false %}{% else %}{% set _multiselect = true %}{% endif %}
            <select id="field_{{ formgroup.id }}" name="field_{{ formgroup.id }}{{ ((_multiselect==true)?'[]':'') }}" class="form-control select2" {{ ((_multiselect==true)?'multiple':'') }} />
            {% include 'Appbundle:Publicpages:contactform_selector.html.twig' %}  
        </select>
    {% endif %}
{% endif %}
{% endif %}
{% endif %}
</div>
