{% set arrayerror = app.session.flashbag.get('error') %}
{%if  arrayerror | length > 0 %}<div class="status alert alert-danger"> {{ arrayerror[0]}} </div> {%endif%}          

{% set arraysuccess = app.session.flashbag.get('success') %}
{%if  arraysuccess | length > 0 %}<div class=" status alert alert-success"> {{ arraysuccess[0]}} </div> {%endif%}          

<script src='https://www.google.com/recaptcha/api.js?hl=es'></script>

<div class="row-fluid contact-wrap"> 
    <h4>{{((titlecontactform is defined)? titlecontactform: '')}}</h4>
    <form  id="contactform_{{ idmodule }}" class="contact-form main-contact-form" name="contact-form" method="post" >
      
            <div class="col-md-12">
                {% for formgroup in contactform %}
                    {% include "AppBundle:PublicPages:contactform_formgroup.html.twig"  %}
                {% endfor %}
            </div>
      
        <p>&nbsp; </p>
        <div style="text-align: center;">
            <div class="g-recaptcha" data-sitekey="{{ recaptchapublic }}"></div>
        </div>
        <input type="hidden" name="sendmail" value="{{ idmodule }}">
        <input type="submit" id="btn_contactform_{{ idmodule }}"  class="btn btn-large pull-right" value="Enviar" />
        <p>&nbsp; </p>
    </form>
</div>
        
<script>
    document.getElementById('contactform_{{ idmodule }}').onsubmit = function(){
        document.getElementById('btn_contactform_{{ idmodule }}').style.display = 'none';
    }
</script>
