{% extends 'AppBundle:PublicPages:inside.html.twig' %}

{% set h1 = farm.name %}
{% block subtitle %}{{ farm.name is not null and farm.name != '' ? '' : farm.name~' - ' }}{% endblock %}

{% block additionalscripts %}{% include "AppBundle:PublicPages:include_css.html.twig" %}{% endblock %}
{% block metadescription %}{{ farm.description }}{% endblock %}

{% block otherhead %}<link rel="canonical" href="{{ url('publicweb_farm', {'name':farm.name | spaceencodeurl(true), 'id':farm.id}) }}" />{% endblock %}

{% block content %}
    {% set widthcolumn = 12 %}
    {% set insertcolumnright = true %}

    <div class="row">
        <div class="col-md-4">

            <div>
                <span class="img-thumbnail">
                    {% if farm.avatar %}
                    <img alt="" height="300" class="img-responsive" src="/uploads/farm/{{ farm.id }}/{{ farm.avatar }}">
                    {% else%}
                    <img class="img-responsive" src="/bundles/app/images/logo_uchae.jpg" alt="">
                    {% endif %}
                </span>
            </div>


        </div>
        <div class="col-md-8">

            <h2 class="mb-none"><strong>{{ farm.name }}</strong></h2>
            <h4 class="heading-primary">{{ farm.town }}{% if farm.province %} ({{ farm.province | readable_enum('ProvinceType') }}){% endif %}</h4>

            <hr class="solid">

            {{ farm.description }}

            <ul class="list list-icons">
                {% if farm.email %}<li><i class="fa fa-envelope"></i> <a href="mailto:{{ farm.email }}">{{ farm.email }}</a></li>{% endif %}
                <li><i class="fa fa-phone"></i> <a href="tel:{{ farm.phone }}">{{ farm.phone }}</a></li>
                <li><i class="fa fa-map-marker"></i> {{ farm.address }}</li>
            </ul>

        </div>
        <div class="clearfix"></div>
        <div class="row" style="margin: 10px auto;">
            <div id="map" class="col-md-12"></div>
            <div class="clearfix"></div>
        </div>
    </div>    

    {% if farm.lat and farm.lng %}
        <script>

            function initMap() {
                var myLatLng = {lat:{{ farm.lat }}, lng: {{ farm.lng}} };

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10,
                    center: myLatLng
                });

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: '{{ farm.name }}'
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key={{ gm_apikey }}&callback=initMap">
        </script>
    {% endif %}
{% endblock %}








