{% if provinces is defined and provinces | length>0 %}
    <p><a href="javascript:togglemap();" id="btntogglemap">Mostrar/Ocultar mapa</a></p>
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/map/lib/raphael-min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/map/lib/spain-map.js') }} "></script>
    <div class="visible-lg" id="map_block">
        <div id="farms_map"style="display:none;"></div>
        <script type="text/javascript">
            new SpainMap({
                spainMap: {{ provinces | json_encode() | raw }},
                id: 'farms_map',
                width: 700,
                height: 500,
                fillColor: "#eeeeee",
                strokeColor: "#cccccc",
                strokeWidth: 0.7,
                selectedColor: "#F85A16",
                animationDuration: 200,
                onClick: function (province, event) {
                    path = "{{ path("publicweb_farmsprovince", {'province':'00000'}) }}";
                    location.href = path.replace('/00000', '/' + province.id);
                }
                //onMouseOver: function(province, event) {
                //  console.log('Navigating through ' + province.name);
                //},
                //onMouseOut: function(province, event) {
                //  console.log('Leaving ' + province.name);
                //}
            });
            function togglemap(){
                    $("#farms_map").toggle();
            }
        </script>

    </div>
{% endif %}