{% set dropdown=false %}
{% if menusection.hidemenu != true %}
    {% if menusection.__children is defined and menusection.__children | length >0  and levelmenu<=maxlevels-1 %}
        {% for cs in menusection.__children %}{% if cs.hidemenu != true %}{% set dropdown = true %}{% endif %}{% endfor %}
    {% endif %}

    {% set li_url = path('publicweb_section', {'title':menusection.title | spaceencodeurl(true), 'id':menusection.id}) %}


    <li class="{{ ((dropdown==true)?'has-dropdown':'') }} {{ ((app.request.attributes.get('_route') == 'publicweb_section' or app.request.attributes.get('_route') == 'publicweb_post') and idfirstparent==menusection.id)? 'active' :''}}">
    {% if levelmenu==0 %}{% set idsection = menusection.id %}{% set titlesection = menusection.title %}{% endif %}
    {% if dropdown == true %}
        <a {{ ((dropdown==true)?'class="dropdown-toggle" data-toggle="dropdown"':'') }} href="{{ li_url }}">{{ menusection.title }}</a>
        {% set _menusection = menusection %}
        {% set levelmenu=levelmenu+1 %}

        {% if levelmenu<=maxlevels %}
            <ul class="{{ ((dropdown==true)?'dropdown animated-fast fadeInUpMenu':'') }}" style="min-width: 150px !important; display: none;">
                {% for menusection in _menusection.__children %}
                    {# dump(menusection) #}
                    {% include "AppBundle:PublicPages:include_header_menuli.html.twig" %}
                {% endfor %}
            </ul>
        {% endif %}
        {% set menusection = _menusection %}
    {% else %}   
        <a style="white-space: normal !important;" href="{{ ((menusection.isacatalog is defined and menusection.isacatalog==true)?path('publicweb_section', {'title':titlesection | spaceencodeurl(true), 'id':idsection, 'category': menusection.id}):li_url) }}">{{ menusection.title }}</a>
    {% endif %}
</li>
{% endif %}