{% if ytvideos | length > 0 %}
    <h2>Vídeos</h2>
    <div class="row row-bottom-padded-md">
        <div class="col-md-12">
            <ul id="fh5co-portfolio-list">
                {% set i=0 %}
                {% for video in ytvideos %}
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(http://img.youtube.com/vi/{{ video.idyt }}/0.jpg); ">
                        <a class="swipebox" href="{{ video.path }}">
                            <div class="case-studies-summary">
                                <span>{{ video.title }}</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>          
{% endif  %}