<aside class="sidebar">
    {% if tags is defined%}
        <div class="widget tags">
            <h3>Tags/Etiquetas</h3>
            <ul class="cloud">
                {% set i = 0 %}
                {% for tag in tags %}
                    {% set color = i%3 %}
                    <a href="{{ path('publicweb_tag', {'tag': tag.name | url_encode() }) }}"><li class="tagsize{{ tag.relevance}} color{{color}}">{{ tag.name }}</li></a>&nbsp;
                            {% set i=i+1 %}
                        {% endfor %}
            </ul>
        </div>
        <div class="clearfix"></div>

    {% endif %}


    <h3>Últimos Posts</h3>
    <ul class="nav nav-list mb-xlg">
        {% for _post in lastnews %}
            <li><a href="{{ path('publicweb_post', {'id':_post.id, 'title':_post.title | spaceencodeurl(true)}) }}">{{ _post.title }}</a></li>
            {% endfor %}
        <div class="clearfix"></div>
    </ul>
    <div class="clearfix"></div>
</aside>