<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

<!-- Animate.css -->
<link rel="stylesheet" href="{{ asset('/bundles/app/css/animate.css') }}"  >
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="{{ asset('/bundles/app/css/icomoon.css') }}"  >
<!-- Bootstrap  -->
<link rel="stylesheet" href="{{ asset('/bundles/app/css/bootstrap.css') }}"  >

<!-- Magnific Popup -->
<link rel="stylesheet" href="{{ asset('/bundles/app/css/magnific-popup.css') }}"  >

<!-- Owl Carousel  -->
<link rel="stylesheet" href="{{ asset('/bundles/app/css/owl.carousel.min.css') }}"  >
<link rel="stylesheet" href="{{ asset('/bundles/app/css/owl.theme.default.min.css') }}"  >

<!-- Theme style  -->
<link rel="stylesheet" href="{{ asset('/bundles/app/css/style.css') }}"  >

<!-- Modernizr JS -->
<script src="{{ asset('/bundles/app/js/modernizr-2.6.2.min.js') }} "></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="{{ asset('/bundles/app/js/respond.min.js') }}"></script>
<![endif]-->

<!-- ligthbox -->
<link rel="stylesheet" href="{{ asset('/bundles/app/js/swipebox/src/css/swipebox.min.css') }}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css') }}"  >


<link rel="stylesheet" href="{{ asset('/bundles/app/css/custompublic.css') }}">

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="{{ asset('/bundles/app/js/jquery.min.js') }}"></script>
<!-- jQuery Easing -->
<script src="{{ asset('/bundles/app/js/jquery.easing.1.3.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('/bundles/app/js/bootstrap.min.js') }}"></script>
<!-- Waypoints -->
<script src="{{ asset('/bundles/app/js/jquery.waypoints.min.js') }}"></script>
<!-- Stellar Parallax -->
<script src="{{ asset('/bundles/app/js/jquery.stellar.min.js') }}"></script>
<!-- Carousel -->
<script src="{{ asset('/bundles/app/js/owl.carousel.min.js') }}"></script>
<!-- countTo -->
<script src="{{ asset('/bundles/app/js/jquery.countTo.js') }}"></script>
<!-- Magnific Popup -->
<script src="{{ asset('/bundles/app/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('/bundles/app/js/magnific-popup-options.js') }}"></script>
<!-- ligthbox -->
<script src="{{ asset('/bundles/app/js/swipebox/lib/ios-orientationchange-fix.js') }}"></script>
<script src="{{ asset('/bundles/app/js/swipebox/src/js/jquery.swipebox.min.js') }}"></script>
<!-- Main -->
<script src="{{ asset('/bundles/app/js/main.js') }}"></script>
