{% if images | length > 0 %}
    <h2>Imágenes</h2>
    <div class="row row-bottom-padded-md">
        <div class="col-md-12">
            <ul id="fh5co-portfolio-list">
                {% set i=0 %}
                {% for image in images%}
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url({{ image.url }}); ">
                        <a class="swipebox" href="{{ image.url }}">
                            <div class="case-studies-summary">
                                <span>{{ image.name }}</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>          
{% endif  %}