<div class="row-fluid">
    {% for animal in animals %}
    <div class="col-md-4 text-center animate-box">
        <div class="services animal-selling" style="margin-top: 10px !important;">
            <span>{% if animal.images is defined and animal.images | length>0 %}<img class="img-responsive" src="{{ animal.images[0]. url }}" alt="">{% else %}
            <img class="img-responsive" src="/bundles/app/images/logo_uchae.jpg" alt="">{% endif %}</span>
            <h3>{{ animal.name }}</h3>
            <p>{{ animal.farmname }}</p>
            <p><a href="{{ path('publicweb_animal', {'id':animal.id, 'name': animal.name | spaceencodeurl(true)})}}" class="btn btn-primary btn-outline btn-sm">{{ animal.price }}€ <i class="icon-eur"></i></a></p>
        </div>
    </div>
    {% endfor %}
    <div class='clearfix'></div>
</div>