<ul class="breadcrumb">
    <li><a href="{{ path('publicweb_homepage') }}">Inicio</a></li>
        {% if breadcrumb is defined %}
            {% for bc in breadcrumb %}    
            {% if (bc.extra != 'isacatalog') %}{% set idsection=bc.id %}{% set titlesection=bc.title %}{% endif %}
        <li><a href="{{ ((bc.extra is defined and bc.extra=='isacatalog')?path('publicweb_section', {'title':titlesection | spaceencodeurl(true), 'id':idsection, 'category': bc.id}):path('publicweb_section', {'title':bc.title | spaceencodeurl(true), 'id':bc.id})) }}">{{ bc.title }}</a></li>
        {% endfor %}
    {% endif %}

{% if 'publicweb_devtool' in app.request.attributes.get('_route') %}
    <li><a href="{{ path('publicweb_devtools') }}">Herramientas Online</a></li>
        {% if tool is defined %}
        <li><a href="{{ path(tool.path) }}">{{ tool.title }}</a></li>
        {% endif %}
    {% endif %}

{% if tag is defined %}<li><a href="{{ path('publicweb_tag', {'tag':tag | url_encode }) }}">{{ tag }}</a></li>{% endif %}
{% if post is defined %}<li><a href="{{ path('publicweb_post', {'id':post.id, 'title':post.title | spaceencodeurl(true)}) }}">{{ post.title}}</a></li>{% endif %}
{% if product is defined %}<li><a href="{{ path('publicweb_product', {'id':product.product.product.id, 'title':product.product.fields.mainfield | spaceencodeurl(true)}) }}">{{ product.product.fields.mainfield}}</a></li>{% endif %}
</ul>