{% if documents | length > 0 %}
    <div class="featured-boxes featured-boxes-style-2">
        <div class="row-fluid">
            {%for i,document in documents%}     
                <div class="col-md-4">
                    <a class="" href="{{document.url}}" target="_blank" style="text-decoration:none">
                        <div class="featured-box featured-box-secondary featured-box-effect-4" style="height: 250px; overflow: hidden;">
                            <div class="box-content">
                                <i class="icon-featured icon icon-file"></i>
                                <h4>{{ document.name }}</h4>
                                {{ document.comments | raw }}
                                <p><span class="lnk learn-more">[Descargar <i class='fa fa-arrow-down'></i>]</span></p>
                            </div>
                        </div>
                    </a>
                </div>    
                {% if (i+1)%3 == 0%}
                    <div class='clearfix'></div>
                    </div><div class="row-fluid">
                {% endif %}
            {% endfor %}
            <div class='clearfix'></div>
        </div>
    </div>

{%endif%}