{% if links | length > 0 %}
    <div class="row-fluid">
        <h4>Enlaces</h4>
        <ul>
            {%for link in links%} 
                <li>
                    <a href="{{link.link}}" title="{{ link.name }}" target="_blank">{{link.name}}</a>
                </li>
            {%endfor%}
        </ul>
    </div><!-- //LEAVE A COMMENT -->                            
{%endif%}                
