{% include 'AppBundle:PublicPages:include_farms_map.html.twig'%}
{% if farms | length > 0 %}
    {#

    <div class="row-fluid">
        <div class="portfolio-list sort-destination" data-sort-id="portfolio">
            {% for i,farm in farms%}
                <div class="col-md-4 isotope-item brands">
                    <div class="portfolio-item">
                        <a href="{{ path('publicweb_farm', {'name': farm.name | spaceencodeurl(true), 'id': farm.id}) }}" >
                            <span class="thumb-info thumb-info-lighten thumb-info-bottom-info thumb-info-centered-icons"><span class="thumb-info-wrapper">
                                    <img src="{{ farm.avatar ? "/uploads/farm/"~farm.id~"/"~farm.avatar : '/bundles/app/images/logo_uchae.jpg' }}" class="img-responsive" alt="{{ farm.name }}">
                                    <span class="thumb-info-title"> <span class="thumb-info-inner font-size-xs line-height-xs pt-xs">{{ farm.name }}</span> </span> </span> </span> 
                        </a>
                    </div>
                </div>
                {% if (i+1)%3 == 0%}
                    <div class='clearfix'></div>
                </div></div><div class="row-fluid"><div class="portfolio-list sort-destination">
            {% endif %}
        {% endfor %}
            <div class='clearfix'></div>
        </div>
    </div>
#}
    <div class="row-fluid">
        <ul>
            {% for i,farm in farms%}
                        <a href="{{ path('publicweb_farm', {'name': farm.name | spaceencodeurl(true), 'id': farm.id}) }}" >
                            <li>{{ farm.name }}</li>
                        </a>
            {% endfor %}
        </ul>
    </div>

{% if section.numpages is defined and section.numpages>0 %}
        {%set paginatorparameters=app.request.attributes.get('_route_params')%}
        {%set pathpaginator=app.request.attributes.get('_route')%}
        {%include "AppBundle:PublicPages:paginator.html.twig"%}

    {% endif %}
{% endif %}