<footer id="fh5co-footer" class="fh5co-bg" style="background-image: url({{ asset('/bundles/app/images/img_bg_1.jpg') }});" role="contentinfo">
    <div class="overlay"></div>
    <div class="container">
        <div class="row row">
            <div class="col-md-4 col-sm-12">
                <p> <img src="/bundles/app/images/logo_uchae.jpg"/></p>
                <h3>UCHAE</h3>
                <ul class="fh5co-footer-links">
                    <li><i class="icon-pin"></i> C/Santo Domingo 65, entreplanta, of. 1 </li>
                    <li> CP 06001 Badajoz</li>
                    <li><i class="icon-phone"></i> 924 25 39 70</li>
                    <li><i class="icon-mail"></i> info@uniondecharoles.es</li>

                </ul>
                <p></p>	
                <p><a class="btn btn-primary" href="/secciones/como-asociarse-10">Quiero Asociarme</a></p>
                <p></p>
            </div>

            <div class="col-md-4 col-sm-12">
                <h3>Información de Interés</h3>
                <ul class="fh5co-footer-links">
                    <li><a href="/secciones/convenio-de-colaboracion-uchae-msd-20">Convenio de Colaboración UCHAE-MSD</a> </li>
                    <li><a href="/secciones/legislacion-18">Legislación</a> </li>
                    <li><a href="/secciones/politica-de-privacidad-y-cookies-22">Política de Privacidad y Cookies</a> </li>
                    <li><a href="/secciones/clausula-de-protección-de-datos-23">Cláusula de Protección de Datos</a></li>
                    <li><a href="/secciones//secciones/gesvac-4-0-28">Información de Interés</a></li>
                </ul>
                <p></p>
            </div>

            <div class="col-md-4 col-sm-12">


                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fuchae2015%2F&tabs&width=340&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                <p></p>
            </div>
        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2017</small> 
                    <small class="block">Diseño Web y Consultoría TIC <a href="http://greetik.com/" target="_blank">Greetik Soluciones SL</a></small>
                </p>
                <p>
                <ul class="fh5co-social-icons">

                    <li><a href="https://www.facebook.com/uchae2015" target="_blank"><i class="icon-facebook"></i></a></li>

                </ul>
                </p>
            </div>
        </div>

    </div>
</footer>
