<nav class="fh5co-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <p class="num"><i class="fa fa-phone"></i> 924 25 39 70 <i class="icon-mail"></i> info@uniondecharoles.es </p>
                    <ul class="fh5co-social">

                        <li><a href="https://www.facebook.com/uchae2015" target="_blank"><i class="icon-facebook"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <a href="{{ path('publicweb_homepage') }}"><img src="{{ asset('/bundles/app/images/logo_uchae.jpg') }}" alt="uchae" style="width: 140px;"></a>

                </div>
                <div class="col-xs-10 text-right menu-1">
                    <p></p>
                    <ul>
                        <li class="{{ ((app.request.attributes.get('_route') == 'publicweb_homepage') ? 'active':'') }}"><a href="{{ path('publicweb_homepage') }}">Inicio</a></li>

                        {% set maxlevels = 1 %}
                        {% for menusection in menuweb %}
                            {% set levelmenu=0 %}
                            {% include "AppBundle:PublicPages:include_header_menuli.html.twig" %}
                        {% endfor %}   
                        {% if app.user %}<li class=""><a style="white-space: normal !important;" href="{{ path('app_farmer_homepage')}}">Privado</a></li>{% else %}
                            <li class=""><a style="white-space: normal !important;" href="{{ path('app_farmer_homepage')}}">Login</a></li>
                            {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>

