<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url({{ slider.images[0] is defined ? slider.images[0].url : asset('/bundles/app/images/slider.jpg') }});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>{{ slider.title }}</h1>
                        <h2></h2>
                        <p><a href="/secciones/quienes-somos-7" class="btn btn-primary">Ver más sobre UCHAE</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>