{% extends '::baseweb.html.twig' %}

{% block classbody %}homepage{% endblock %}
{% block additionalscripts %}
    {% include "AppBundle:PublicPages:include_css.html.twig" %}
{% endblock %}
{% block otherhead %}<link rel="canonical" href="{{ url('publicweb_homepage') }}" />{% endblock %}
{% block metadescription %}{% endblock %}

{% block body %}
    <div class="fh5co-loader"></div>

    <div id="page">
        {% include "AppBundle:PublicPages:include_header.html.twig" %}
        {% include "AppBundle:PublicPages:index_slider.html.twig" %}
        <div id="fh5co-services" class="fh5co-bg-section">
            <div class="container">
                <div class="row">
                    {% for linkindex in linksindex.images %}
                        <div class="col-md-4 text-center animate-box">
                            <div class="services">
                                <span><img class="img-responsive" src="{{ linkindex.url }}" alt="{{ linkindex.name }}"></span>
                                <h3>{{ linkindex.name }}</h3>
                                {{ linkindex.comments | raw }}
                                <p><a href="{{ linkindex.link }}" class="btn btn-primary btn-outline btn-sm">Más <i class="icon-arrow-right"></i></a></p>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="fh5co-started" class="fh5co-bg" style="background-image: url(images/img_bg_3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2>¿Quieres formar parte de UCHAE? <br> Asóciate con nosotros</h2>
                    </div>
                </div>
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <p><a href="/secciones/como-asociarse-10" class="btn btn-default btn-lg">Quiero Asociarme</a></p>
                    </div>
                </div>
            </div>
        </div>


        <div id="fh5co-trainer">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>{{ linksindex2.title }}</h2>
                        {{ linksindex2.body | raw }}
                    </div>
                </div>
                <div id="fh5co-services" class="fh5co-bg-section">
                    <div class="container">
                        <div class="row">
                            {% for linkindex in linksindex2.images %}
                                <div class="col-md-4 text-center animate-box">
                                    <div class="services">
                                        <span><img class="img-responsive" src="{{ linkindex.url }}" alt="{{ linkindex.name }}"></span>
                                        <h3>{{ linkindex.name }}</h3>
                                        {{ linkindex.comments | raw }}
                                        <p><a href="{{ linkindex.link }}" class="btn btn-primary btn-outline btn-sm">Más <i class="icon-arrow-right"></i></a></p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="fh5co-blog" class="fh5co-bg-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                        <h2>Últimas Noticias</h2>
                        <p>Mantente al día con las últimas novedades de la asociación.</p>
                    </div>
                </div>
                <div class="row row-bottom-padded-md">
                    {% for post in lastnews %}
                    <div class="col-lg-4 col-md-4">
                        <div class="fh5co-blog animate-box">
                            {# <a href="{{ path('publicweb_post', {'id': post.id, 'title': post.title | spaceencodeurl(true)}) }}"><img class="img-responsive" src="{{ asset('/bundles/beinterface/plugins/timthumb/timthumb.php?h=250&zc=1&src=') ~ ((post.images[0] is defined) ? post.images[0].url : asset('/bundles/app/images/logo_uchae.jpg')) }}" alt="{{ post.title }}"></a> #}
                            <a href="{{ path('publicweb_post', {'id': post.id, 'title': post.title | spaceencodeurl(true)}) }}"><img class="img-responsive" src="{{  ((post.images[0] is defined) ? post.images[0].url : asset('/bundles/app/images/logo_uchae.jpg')) }}" alt="{{ post.title }}"></a>
                            <div class="blog-text">
                                <h3><a href="{{ path('publicweb_post', {'id': post.id, 'title': post.title | spaceencodeurl(true)}) }}">{{ post.title }}</a></h3>
                                <span class="posted_on">{{ post.createdat | date('d') }} {{ post.createdat | date('m') | getMonthName | slice(0,3) }}.</span>
                                <p>{{ post.body | summarytextbywords(30) | raw }}</p>
                                <a href="{{ path('publicweb_post', {'id': post.id, 'title': post.title | spaceencodeurl(true)}) }}" class="btn btn-primary">Leer Más</a>
                            </div> 
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>



        {% include "AppBundle:PublicPages:include_footer.html.twig" %}
    </div>


{% endblock %}