{% extends '::baseweb.html.twig' %}

{% block body %}
    <div class="fh5co-loader"></div>

    <div id="page">
        {% include "AppBundle:PublicPages:include_header.html.twig" %}

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% if nobreadcrumb is not defined %}
                            {% include('AppBundle:PublicPages:include_breadcrumb.html.twig') %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{ h1 }}</h1>
                    </div>
                </div>
            </div>
        </section>    
        <div class="container">

            <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include "AppBundle:PublicPages:include_footer.html.twig" %}
</div>


{% endblock %}