{# empty Twig template #}
<div class="text-center">
            <ul class="pagination">
              <li>
                  {%set paginatorparameters= paginatorparameters | merge({'page':1})%}
                <a title="Primera" href="{{path(pathpaginator,paginatorparameters)}}">
                  |«
                </a>
              </li>
              {% set i=currentpage-5%}
              {% set i = (i<=0) ? 1 : i %}
              {% set k=currentpage+1%}
              {% set k = (k>=numpages) ? numpages : k+1 %}
              {% set k = (k>=numpages) ? numpages : k %}

              {% if i>1%}
                <li>
                {%set paginatorparameters= paginatorparameters | merge({'page':i-1})%}
                <a href="{{path(pathpaginator,paginatorparameters)}}">
                  ...
                </a>
              </li>                            
              {% endif %}
              
              {% for j in i..k %}
                <li class="{{ j==currentpage ? 'active': '' }}" >
                {%set paginatorparameters= paginatorparameters | merge({'page':j})%}
                <a href="{{path(pathpaginator,paginatorparameters)}}">
                  {{ j }}
                </a>
              </li>
              {% endfor %}
              
              {% if k<numpages%}
                <li>
                {%set paginatorparameters= paginatorparameters | merge({'page':k+1})%}
                <a href="{{path(pathpaginator,paginatorparameters)}}">
                  ...
                </a>
              </li>              
              {% endif%}
              
              <li>
                {%set paginatorparameters= paginatorparameters | merge({'page':numpages})%}
                <a title="Última" href="{{path(pathpaginator,paginatorparameters)}}">
                  »|
                </a>
              </li>
              <div style="clear:both;"></div>
            </ul>
          </div>