{% extends 'AppBundle:PublicPages:inside.html.twig' %}

{% set h1 = post.title %}
{% block title %}{{ post.metatitle is not null and post.metatitle != '' ? post.metatitle : parent() }}{% endblock %}
{% block subtitle %}{{ post.metatitle is not null and post.metatitle != '' ? '' : post.title~' - ' }}{% endblock %}

{% block additionalscripts %}{% include "AppBundle:PublicPages:include_css.html.twig" %}{% endblock %}
{% block metadescription %}{{ post.metadescription }}{% endblock %}
{% block metatags %}{{ post.tags | join(', ') }}{% endblock %}

{% block otherhead %}<link rel="canonical" href="{{ url('publicweb_post', {'title':post.title | spaceencodeurl(true), 'id':post.id}) }}" />{% endblock %}

{% block content %}
    {% set widthcolumn = 9 %}
    {% set insertcolumnright = true %}

    <div class="col-md-{{ widthcolumn }}">    
        <div class="justify wow fadeInDown">
            {{ post.body | raw }}
        </div>

        <!-- SINGLE BLOG POST TAG -->
        {% set images = post.images%}
        {% include('AppBundle:PublicPages:include_images.html.twig') %}

        {% set ytvideos = post.videos%}
        {% include('AppBundle:PublicPages:include_videos.html.twig') %}

        {% set documents = post.documents%}
        {% include('AppBundle:PublicPages:include_documents.html.twig') %}

        {% set links = post.itemlinks%}
        {% include('AppBundle:PublicPages:include_links.html.twig') %}     

        <div class="clearfix"></div>
        <div style="width:100%; margin:20px auto;">
            <div style="width:100%; margin:auto; text-align: center;"><iframe src="http://www.facebook.com/plugins/like.php?href=http://facebook.com/greetik&amp;layout=standard&amp;show_faces=false&amp;width=640&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:640px; height:35px;" allowTransparency="true"></iframe></div>
            <div id="compartir" style="text-align:center;">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_email_large' displayText='Email'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_pinterest_large' displayText='Pinterest'></span>
                <script type="text/javascript">var switchTo5x = true;</script>
                <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                <script type="text/javascript">stLight.options({publisher: "3c2fbc4e-c04e-48e8-8a78-e15c9e244d58"});</script>
            </div>
        </div>	


        <div id="disqus_thread"></div>
        <script>
            /**
             * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */

            var disqus_config = function () {
                this.page.url = "{{ url('publicweb_post', {'title':post.title | spaceencodeurl(true), 'id':post.id}) }}"; // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = "POST_{{ post.id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//greetik.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    </div><!--/.our-skill-->

    {% if insertcolumnright == true %}
        <div class="col-md-{{ 12-widthcolumn }}">
            {% include('AppBundle:PublicPages:include_colright.html.twig') %}
        </div>
    {% endif %}

{% endblock %}