# www.robotstxt.org/
# www.google.com/support/webmasters/bin/answer.py?hl=en&answer=156449

User-agent: *
Disallow: /administrador/*
Host: {{ hostname }}
Sitemap: {{ url('publicweb_sitemap') }}
{% for i in 1.. numimages %}
Sitemap: {{ i<=1 ? url('publicweb_sitemapimages') :  url('publicweb_sitemapimagespage', {'page':i}) }}
{% endfor %}