{% extends 'AppBundle:PublicPages:inside.html.twig' %}

{% set h1 = section.title %}
{% block title %}{{ section.metatitle is not null and section.metatitle != '' ? section.metatitle : parent() }}{% endblock %}
{% block subtitle %}{{ section.metatitle is not null and section.metatitle != '' ? '' : section.title~' - ' }}{% endblock %}
{% block additionalscripts %}{% include "AppBundle:PublicPages:include_css.html.twig" %}{% endblock %}
{% block metadescription %}{{ section.metadescription }}{% endblock %}
{% block metatags %}{{ section.tags }}{% endblock %}
{% block otherhead %}<link rel="canonical" href="{{ url('publicweb_section', {'title':section.title | spaceencodeurl(true), 'id':section.id}) }}" />{% endblock %}

{% block content %}

    {% set widthcolumn = 12 %}
    {% set insertcolumnright = false %}
    {% set moduleinright = false %}
    {# si es contacto irá en dos columnas }
    {% for _item in section.modules %}
        {% if _item.moduledata.moduletype == 'WEBFORMS'| enum_constant %}
            {% set widthcolumn = 6 %}
            {% set moduleinright = true %}
        {% endif %}
    {% endfor %}#}


    <div class="col-md-{{ widthcolumn }}">
        {% set arrayerror = app.session.flashbag.get('error') %}
        {%if  arrayerror | length > 0 %}<div class="status alert alert-danger"> {{ arrayerror[0]}} </div> {%endif%}          

        {% set arraysuccess = app.session.flashbag.get('success') %}
        {%if  arraysuccess | length > 0 %}<div class=" status alert alert-success"> {{ arraysuccess[0]}} </div> {%endif%}


        {{ section.body | raw }}

        {% if section.mainvideo is defined %}
            <p style="text-align: center;"><iframe allowfullscreen="" frameborder="0" height="630" src="https://www.youtube.com/embed/{{ section.mainvideo }}" width="1120"></iframe></p>
                {% endif %}

        {% if section.rss is defined %}
            {% set rss = section.rss%}
            {% include "AppBundle:PublicPages:include_rss.html.twig"%}
        {% endif %}

        {% if section.farms is defined %}
            <div class='clearfix'></div>
            {% set provinces = section.provinces%}
            {% set farms = section.farms%}
            {% include "AppBundle:PublicPages:include_farms.html.twig"%}
        {% endif %}

        {% if section.animals is defined %}
            <div class='clearfix'></div>
            {% set animals = section.animals%}
            {% include "AppBundle:PublicPages:include_animalsforsale.html.twig"%}
        {% endif %}

        {% set images = section.images%}
        {% include('AppBundle:PublicPages:include_images.html.twig') %}

        {% set ytvideos = section.videos%}
        {% include('AppBundle:PublicPages:include_videos.html.twig') %}

        {% set documents = section.documents%}
        {% include('AppBundle:PublicPages:include_documents.html.twig') %}

        {% set links = section.itemlinks%}
        {% include('AppBundle:PublicPages:include_links.html.twig') %}


        {% if section.children[0] is defined%}
            <div class="row-fluid">
                <h4>Más de {{ section.title }}</h4>
                <ul>
                    {% for child in section.children %} 
                        <li>
                            <a href="{{path('publicweb_section', {'title':child.title | spaceencodeurl(true), 'id':child.id})}}" >{{child.title}}</a>
                        </li>
                    {%endfor%}
                </ul>
                <div class="clearfix"></div>
            </div><!-- //LEAVE A COMMENT -->
        {%endif%}

 {% if moduleinright is defined and moduleinright!=false %}
     </div>
     <div class="col-md-{{ 12-widthcolumn }}">
 {% endif %}
        {% for _item in section.modules %}
            {% if _item.moduledata.moduletype == 'MAPS' %}{% set idmodule=_item.moduledata.id %}{% set map=_item.item %}{% include "AppBundle:Gmap:view.html.twig" %}
            {% else %}{% if _item.moduledata.moduletype == 'WEBFORMS' | enum_constant %}{% set idmodule=_item.moduledata.id %}{% set titlecontactform='Formulario' %}{% set contactform=section['insertmodules'][_item.moduledata.id] %}{% include "AppBundle:PublicPages:contactform.html.twig" %}
                {% else %}{% if _item.moduledata.moduletype == 'BLOG' | enum_constant  %}{% set idmodule=_item.moduledata.id %}{% set blog=section['insertmodules'][_item.moduledata.id] %}{% include "AppBundle:PublicPages:blog.html.twig" %}
                    {% else %}{% if _item.moduledata.moduletype == 'EVENT' | enum_constant  %}{% set idmodule=_item.moduledata.id %}{% set events=section['insertmodules'][_item.moduledata.id] %}{% include "AppBundle:PublicPages:events.html.twig" %}
                        {%else%} {% set idmodule=_item.moduledata.moduletype %}{% set catalog=_item.item %}{%set idsection=section.id%}{%set titlesection=section.title%}{% include "AppBundle:Catalog:index.html.twig" %}
                        {%endif%}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}


    </div><!--/.our-skill-->

    {% if insertcolumnright == true %}
        <div class="col-md-{{ 12-widthcolumn }}">
            {% include('AppBundle:PublicPages:include_colright.html.twig') %}
        </div>
    {% endif %}

{% endblock %}