{% extends 'AppBundle:PublicPages:inside.html.twig' %}

{% set h1 = 'Tag '~tag %}
{% block subtitle %}{{ h1 }} - {% endblock %}
{% block otherhead %}<link rel="canonical" href="{{ url('publicweb_tag', {'tag':tag}) }}" />{% endblock %}
{% block additionalscripts %}{% include "AppBundle:PublicPages:include_css.html.twig" %}{% endblock %}

{% block content %}
                <div class="center wow fadeInDown">
                    <h1>{{ h1 }}</h1>
                </div>
                <div class="row-fluid">
                    {% set widthcolumn = 8 %}
                    {% set insertcolumnright = true %}
                    <div class="col-md-{{ widthcolumn }}">
                        <p>Aquí está el resultado de la Búsqueda del tag {{ tag }}: </p>
                        {% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}

                        {% set blog = posts %}
                        {% include "AppBundle:PublicPages:blog.html.twig" %}


                    </div><!--/.our-skill-->

                    {% if insertcolumnright == true %}
                        <div class="col-md-4">
                            {% include('AppBundle:PublicPages:include_colright.html.twig') %}
                        </div>
                    {% endif %}

                </div>
{% endblock %}








