{#
    Pacolmg
    Greetik Soluciones SL
    view the users table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Listado de Ganaderos - {% endblock %}
{% set titlecontent = 'Ganaderos'%}
{% set subtitlecontent = 'Edite y gestione los farmers desde aquí' %}

{% set breadcrumb = [{'title': 'Ganaderos', 'link': path('systemuser_listfarmers'), 'icon': 'user'}] %}

{% block maincontent %}
    {% include('BEInterfaceBundle:_Default:warningfromflash.html.twig') %}
    {% include 'SystemuserBundle:Farmer:tablefarmers.html.twig' %}
{% endblock %}