{%
    set configTable = {
                                'id': 'systemusertable', 
                                'icon': 'user',
                                'noOptions':true,
                                'viewdata': {'url': 'systemuser_viewsystemuser'},
                                'fields': {'username': {'title':'Usuario', 'link_view': true}, 'name': {'title': 'Nombre'}, 'surname': {'title': 'Apellidos'}, 'email': {'title': 'Email'}} | merge( ((withoutfarmname is defined and withoutfarmname==true)?{}:{'farmname': {'title': 'Ganadería', 'filter':true}}))
                            }
%}
{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('systemuser_insertsystemuser', {'role':'Ganadero'})}}) %}{% endif %}
{% if tabletitle is defined %}{% set configTable = configTable|merge( {'title': tabletitle}) %}{% else %}{% set configTable = configTable|merge( {'title': 'Ganaderos'}) %}{% endif %}
{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}

<script>
    function exportToExcel(){
        ids='';
        $('#systemusertable tbody tr').each(function(){
           var aux = $(this).attr('id').split('_');
           ids+=aux[1]+',';
        });
        window.open('{{  path('systemuser_exportfarmers') }}/'+ids);
    }
</script>