{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% set idmodal = 'fairsection' %}
{% block idajaxloaderloader %}{{ idmodal }}{% endblock %}
{% block idajaxloaderbuttons %}{{ idmodal }}{% endblock %}


{% block modaltitle %}<span id="neworedittitle">{{ (item is defined and item.id is defined) ? 'Editar' : 'Nueva' }}</span> Sección{% endblock %}

{% block modalbody %}
    <div class="col-md-12">
        <p>Indique el sexo y de qué meses a qué meses va la categoría.</p>
    </div>
    {% if form_errors(new_form) %}
        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
    {% endif %}

    <form class="col-md-12" action="#" id="insertfairsectionform">

        <div class="row">            
{#            <div class="col-md-12"> 
                {% set configField = { 'label': 'Nombre', 'field': 'name', 'classesinput':''} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="clearfix"></div>
            <p>&nbsp;</p> #}
            <div class="col-md-3"> 
                {% set configField = { 'label': 'Sexo', 'field': 'gender', 'classesinput':'select2'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="col-md-3"> 
                {% set configField = { 'label': 'Desde (meses)', 'field': 'frommonths'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="col-md-6"> 
                {% set configField = { 'label': 'Hasta (meses)', 'field': 'tomonths'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="clearfix"></div>                        
        </div>                        
        <p>&nbsp;</p> 

        {{ form_widget(new_form._token) }}
        <div class="clearfix"></div>
    </form>

{% endblock %}         

{% block modalbuttons %}
    <button type="button" id="btn_savefairsection" class="btn blue">Guardar</button>
    {% if id is defined and id>0%}
    <button type="button" id="btn_deletefairsection" class="btn red">Eliminar</button>
    {% endif %}
{% endblock %}



{% block modalscripts %}

    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    

    {% set fieldstodate = '.pickdate' %}
    {% include 'BEInterfaceBundle:_Scripts:date.html.twig' %}    

    <script>
        $(document).ready(function () {
            $('body').removeClass('modal-open');
            
            $('#btn_savefairsection').click(function () {
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                {% if id is defined and id>0%}
                $.post('{{ path('fairs_insertfairsection', {'id_fair':id_fair, 'id':id}) }}', $("#insertfairsectionform").serialize(), function (r) {
                {% else %}
                $.post('{{ path('fairs_insertfairsection', {'id_fair':id_fair}) }}', $("#insertfairsectionform").serialize(), function (r) {
                {% endif %}
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }

                    $('#modal_ajax').modal('hide');
                    $('#tablefairsections').html(r.data.html);
                    renderCalendar();
                });
            });
            
            {% if id is defined and id>0%}
        
            $('#btn_deletefairsection').click(function () {
                if (!confirm('¿Seguro que desea eliminar la sección?')) return;
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                $.post('{{ path('fairs_deletefairsection') }}', {'id': {{id}} }, function (r) {
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }

                    $('#modal_ajax').modal('hide');
                    $('#tablefairsections').html(r.data.html);
                    renderCalendar();
                });
            });        
            {% endif%}
        });
    </script>
{% endblock %}

