{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% set idmodal = 'fair' %}
{% block idajaxloaderloader %}{{ idmodal }}{% endblock %}
{% block idajaxloaderbuttons %}{{ idmodal }}{% endblock %}


{% block modaltitle %}<span id="neworedittitle">{{ (item is defined and item.id is defined) ? 'Editar' : 'Nueva' }}</span> Feria{% endblock %}

{% block modalbody %}
    <div class="col-md-12">
        <p>Indique la fecha, y ponga un nombre descriptivo si quiere.</p>
    </div>
    {% if form_errors(new_form) %}
        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
    {% endif %}

    <form class="col-md-12" action="#" id="insertfairform">

        <div class="row">            
            <div class="col-md-3"> 
                {% set configField = { 'label': 'Desde', 'field': 'fairdate', 'classesinput':'pickdate'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="col-md-3"> 
                {% set configField = { 'label': 'Hasta', 'field': 'enddate', 'classesinput':'pickdate'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="col-md-6"> 
                {% set configField = { 'label': 'Nombre', 'field': 'name'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="clearfix"></div>                        
        </div>                        
        <p>&nbsp;</p> 

        {{ form_widget(new_form._token) }}
        <div class="clearfix"></div>
    </form>

{% endblock %}         

{% block modalbuttons %}
    <button type="button" id="btn_savefair" class="btn blue">Guardar</button>
{% endblock %}



{% block modalscripts %}

    {% set fieldstodate = '.pickdate' %}
    {% include 'BEInterfaceBundle:_Scripts:date.html.twig' %}    

    <script>
        $(document).ready(function () {
            $('body').removeClass('modal-open');
            
            $('#btn_savefair').click(function () {
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                $.post('{{ path('fairs_insertfair') }}', $("#insertfairform").serialize(), function (r) {
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }

                    $('#modal_ajax').modal('hide');
                    $('#tablefairs').html(r.data.html);
                    renderCalendar();
                });
            });
        });
    </script>
{% endblock %}

