{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% set idmodal = 'fairanimal' %}
{% block idajaxloaderloader %}{{ idmodal }}{% endblock %}
{% block idajaxloaderbuttons %}{{ idmodal }}{% endblock %}


{% block modaltitle %}<span id="neworedittitle">{{ (item is defined and item.id is defined) ? 'Editar' : 'Nueva' }}</span> Sección{% endblock %}

{% block modalbody %}
    <div class="col-md-12">
        <p>Elija al animal en el selector.</p>
    </div>
    {% if form_errors(new_form) %}
        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
    {% endif %}

    <form class="col-md-12" action="#" id="insertfairanimalform">

        <div class="row">            
            <div class="col-md-12"> 
                {% set configField = { 'label': 'Animal', 'field': 'animal', 'classesinput':'select22'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="clearfix"></div>                        
        </div>                        
        <p>&nbsp;</p> 

        {{ form_widget(new_form._token) }}
        <div class="clearfix"></div>
    </form>

{% endblock %}         

{% block modalbuttons %}
    <button type="button" id="btn_savefairanimal" class="btn blue">Guardar</button>
    {% if id is defined and id>0%}
    <button type="button" id="btn_deletefairanimal" class="btn red">Eliminar</button>
    {% endif %}
{% endblock %}



{% block modalscripts %}

    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    

    {% set fieldstodate = '.pickdate' %}
    {% include 'BEInterfaceBundle:_Scripts:date.html.twig' %}    

    <script>
        $(document).ready(function () {
            $('body').removeClass('modal-open');
            
            $('#btn_savefairanimal').click(function () {
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                {% if id is defined and id>0%}
                $.post('{{ path('fairs_insertfairanimal', {'id_fair':id_fair, 'id':id}) }}', $("#insertfairanimalform").serialize(), function (r) {
                {% else %}
                $.post('{{ path('fairs_insertfairanimal', {'id_fair':id_fair}) }}', $("#insertfairanimalform").serialize(), function (r) {
                {% endif %}
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }

                    $('#modal_ajax').modal('hide');
                    $('#tablefairanimals').html(r.data.html);
                    renderCalendar();
                });
            });
            
            {% if id is defined and id>0%}
        
            $('#btn_deletefairanimal').click(function () {
                if (!confirm('¿Seguro que desea eliminar la sección?')) return;
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                $.post('{{ path('fairs_deletefairanimal') }}', {'id': {{id}} }, function (r) {
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        alert(r.errorDescription);
                        return;
                    }

                    $('#modal_ajax').modal('hide');
                    $('#tablefairanimals').html(r.data.html);
                    renderCalendar();
                });
            });        
            {% endif%}
        
        $('#fairanimal_animal').select2({
        placeholder: "Animal",
                minimumInputLength: 3,
                ajax: {
                url: "{{ path('farm_getanimalforselect') }}",
                        dataType: 'json',
                        quietMillis: 100,
                        type: 'POST',
                        data: function (term, page) { // page is the one-based page number tracked by Select2
                        return {
                        q: term
                        };
                        },
                        results: function (data, page) {
                        if (data.errorCode > 0) {
                        alert(data.errorDescription);
                                return;
                        }
                        var more = (page * 10) < data.data.length; // whether or not there are more results available								 
                                // notice we return the value of more so Select2 knows if more results can be loaded
                                return {results: data.data, more: more};
                        }
                },
                escapeMarkup: function (m) {
                return m;
                } // we do not want to escape markup since we are displaying html in results
        }){% if item is defined and item and item.animal != null %}.select2("data", {'id': {{ item.animal.id }} , 'text':"{{ item.animal.name }}"});{% endif%}
        });
    </script>
{% endblock %}

