{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% set idmodal = 'animalindex' %}
{% block idajaxloaderloader %}{{ idmodal }}{% endblock %}
{% block idajaxloaderbuttons %}{{ idmodal }}{% endblock %}


{% block modaltitle %}<span id="neworedittitle">Editar Índices de {{ item.name }}{% endblock %}

    {% block modalbody %}
        <style>
            .inputs_index_block{
                border: 1px solid black; margin-bottom:10px;
                padding-top:10px;
                padding-bottom:10px;
            }
            
            .inputindexanimal{
                float:left; width: 18%; margin-right:2%;
            }

            .inputindexanimal input{
                padding-left:0.5px !important;
                padding-righ:0px !important;
            }

            .inputindexanimal input[type=number]::-webkit-outer-spin-button,
            .inputindexanimal input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            .inputindexanimal input[type=number] {
                -moz-appearance:textfield;
            }    
        </style>

        {% if form_errors(new_form) %}
            <div class="ui-state-error">{{ form_errors(new_form) }}</div>
        {% endif %}

        <form class="col-md-12" action="#" id="insertanimalindexform">

            <div class="row">            
                <div class="col-md-12">
                    <table border-collapse="1" border="0" width="100%">
                        <tr><td>AC</td><td>AD</td><td>RN</td><td>AN</td><td>Epl</td><td>GC</td><td>LD</td><td>LP</td><td>AA</td><td>Tmñ</td><td>M</td><td>AaA</td><td>AaP</td><td>RD</td><td>CC</td><td>PP</td><td>AP</td><td>AT</td><td>LN</td></tr>
                        <tr style="text-align:center;"><td><strong id="txt_index_ac">{{ item.indexac }}</strong></td><td><strong id="txt_index_ad">{{ item.indexad }}</strong></td><td><strong id="txt_index_rn">{{ item.indexrn }}</strong></td><td><strong id="txt_index_an">{{ item.indexan }}</strong></td><td><strong id="txt_index_epl">{{ item.indexepl }}</strong></td>
                            <td><strong id="txt_index_gc">{{ item.indexgc }}</strong></td><td><strong id="txt_index_ld">{{ item.indexld }}</strong></td><td><strong id="txt_index_lp">{{ item.indexlp }}</strong></td><td><strong id="txt_index_aa">{{ item.indexaa }}</strong></td>
                            <td><strong id="txt_index_tmn">{{ item.indextmn }}</strong></td><td><strong id="txt_index_m">{{ item.indexm }}</strong></td><td><strong id="txt_index_aaa">{{ item.indexaaa }}</strong></td><td><strong id="txt_index_aap">{{ item.indexaap }}</strong></td>
                            <td><strong id="txt_index_rd">{{ item.indexrd }}</strong></td><td><strong id="txt_index_cc">{{ item.indexcc }}</strong></td><td><strong id="txt_index_pp">{{ item.indexpp }}</strong></td><td><strong id="txt_index_ap">{{ item.indexap }}</strong></td>
                            <td><strong id="txt_index_at">{{ item.indexat }}</strong></td><td><strong id="txt_index_ln">{{ item.indexln }}</strong></td></tr>
                    </table>

                </div>
                <div class="clearfix"></div>
            </div>                        
            <p>&nbsp;</p> 

            {{ form_widget(new_form._token) }}

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 inputs_index_block" id="inputs_index_block_1" >
                            <div class="inputindexanimal"> 
                                {% set configField = { 'label': 'AC', 'field': 'index_ac', 'classesinput':'input_index'} %}
                                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            </div><div class="inputindexanimal"> 
                                {% set configField = { 'label': 'AD', 'field': 'index_ad', 'classesinput':'input_index'} %}
                                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            </div>
                            <div class="inputindexanimal"> 
                                {% set configField = { 'label': 'AA', 'field': 'index_aa', 'classesinput':'input_index'} %}
                                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            </div>
                            <div class="inputindexanimal"> 
                                {% set configField = { 'label': 'AT', 'field': 'index_at', 'classesinput':'input_index'} %}
                                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            </div>
                            <div class="inputindexanimal"> 
                                {% set configField = { 'label': 'AN', 'field': 'index_an', 'classesinput':'input_index'} %}
                                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 inputs_index_block" id="inputs_index_block_2">
                            <div class="inputindexanimal"> 
                                {% set configField = { 'label': 'RN', 'field': 'index_rn', 'classesinput':'input_index'} %}
                                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            </div>
                            <div class="inputindexanimal"> 
                                {% set configField = { 'label': 'Epl', 'field': 'index_epl', 'classesinput':'input_index'} %}
                                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 inputs_index_block" id="inputs_index_block_3">
                            <div class="inputindexanimal"> 
                                {% set configField = { 'label': 'Tmñ', 'field': 'index_tmn', 'classesinput':'input_index'} %}
                                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            </div>
                            <div class="inputindexanimal"> 
                                {% set configField = { 'label': 'LD', 'field': 'index_ld', 'classesinput':'input_index'} %}
                                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            </div>
                            <div class="inputindexanimal"> 
                                {% set configField = { 'label': 'LP', 'field': 'index_lp', 'classesinput':'input_index'} %}
                                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 inputs_index_block" id="inputs_index_block_4">
                        <div class="inputindexanimal"> 
                            {% set configField = { 'label': 'GC', 'field': 'index_gc', 'classesinput':'input_index'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 inputs_index_block" id="inputs_index_block_5" >
                        <div class="inputindexanimal"> 
                            {% set configField = { 'label': 'M', 'field': 'index_m', 'classesinput':'input_index'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                        </div><div class="inputindexanimal"> 
                            {% set configField = { 'label': 'AaA', 'field': 'index_aaa', 'classesinput':'input_index'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                        </div>
                        <div class="inputindexanimal"> 
                            {% set configField = { 'label': 'Aap', 'field': 'index_aap', 'classesinput':'input_index'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                        </div>
                        <div class="inputindexanimal"> 
                            {% set configField = { 'label': 'RD', 'field': 'index_rd', 'classesinput':'input_index'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12 inputs_index_block" id="inputs_index_block_6" >
                        <div class="inputindexanimal"> 
                            {% set configField = { 'label': 'CC', 'field': 'index_cc', 'classesinput':'input_index'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                        </div><div class="inputindexanimal"> 
                            {% set configField = { 'label': 'PP', 'field': 'index_pp', 'classesinput':'input_index'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                        </div>
                        <div class="inputindexanimal"> 
                            {% set configField = { 'label': 'AP', 'field': 'index_ap', 'classesinput':'input_index'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                        </div>
                        <div class="inputindexanimal"> 
                            {% set configField = { 'label': 'LN', 'field': 'index_ln', 'classesinput':'input_index'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
                        <p>AF:<strong id="txt_index_AF">{{ animal.index_af }}</strong>  |  DS:<strong id="txt_index_DS">{{ animal.index_ds }}</strong>  |  DM:<strong id="txt_index_DM">{{ animal.index_dm }}</strong></p>
            <div class="clearfix"></div><p>&nbsp;</p>
        </form>

    {% endblock %}         

    {% block modalbuttons %}
        <button type="button" id="btn_saveanimalindex" class="btn blue">Guardar</button>
    {% endblock %}



    {% block modalscripts %}

        {% set fieldstodate = '.pickdate' %}
        {% include 'BEInterfaceBundle:_Scripts:date.html.twig' %}    

        <script>
            $(document).ready(function () {
                $('body').removeClass('modal-open');
                $('#animalindex_index_ac').focus();

                $(".input_index").keyup(function () {
                    var typeindex='';
                    switch ($(this).attr('id')){
                        case 'animalindex_index_ac': typeindex='DM';break;
                        case 'animalindex_index_ad': typeindex='DM';break;
                        case 'animalindex_index_rn': typeindex='DM';break;
                        case 'animalindex_index_an': typeindex='DM';break;
                        case 'animalindex_index_epl': typeindex='DM';break;
                        case 'animalindex_index_gc': typeindex='';break;
                        case 'animalindex_index_ld': typeindex='DS';break;
                        case 'animalindex_index_lp': typeindex='DS';break;
                        case 'animalindex_index_aa': typeindex='DS';break;
                        case 'animalindex_index_tmn': typeindex='DS';break;
                        case 'animalindex_index_m': typeindex='AF';break;
                        case 'animalindex_index_aaa': typeindex='AF';break;
                        case 'animalindex_index_aap': typeindex='AF';break;
                        case 'animalindex_index_rd': typeindex='AF';break;
                        case 'animalindex_index_cc': typeindex='';break;
                        case 'animalindex_index_pp': typeindex='';break;
                        case 'animalindex_index_ap': typeindex='';break;
                        case 'animalindex_index_at': typeindex='';break;
                        case 'animalindex_index_ln': typeindex='';break;
                    }
                    
                    if (typeindex!=''){
                        url='{{ path('farm_calculateindexanimal', {'type':'TYPE'})}}';
                        $.post(url.replace('/TYPE', '/'+typeindex), $("#insertanimalindexform").serialize(), function(r){
                           if(r.errorCode>0){
                               alert(r.errorDescription);
                               return;
                           } 
                           $('#txt_index_'+typeindex).html(r.data);
                        });
                    }
                    
                    if (this.value.length > 0) {
                        if ($(this).attr('id') == 'animalindex_index_an')
                            var $next = $('#animalindex_index_rn');
                        else if ($(this).attr('id') == 'animalindex_index_epl')
                            var $next = $('#animalindex_index_tmn');
                        else if ($(this).attr('id') == 'animalindex_index_lp')
                            var $next = $('#animalindex_index_gc');
                        else if ($(this).attr('id') == 'animalindex_index_gc')
                            var $next = $('#animalindex_index_m');
                        else if ($(this).attr('id') == 'animalindex_index_rd')
                            var $next = $('#animalindex_index_cc');
                        else
                            var $next = $(this).parent().parent().next().find('.input_index');

                        $('#' + $(this).attr('id').replace('animalindex', 'txt')).html($(this).val());

                        if ($next.length) {
                            $next.select();
                            $next.focus();
                        } else {
                            $(this).blur();
                        }
                    }
                });

                $('#btn_saveanimalindex').click(function () {
                    $('#buttons_modal{{ idmodal }}').css('display', 'none');
                    $('#ajaxloader{{ idmodal }}').css('display', 'block');
                    $.post('{{ path('farm_modifyindexanimal', {'id':item.id, 'fromvisit':fromvisit}) }}', $("#insertanimalindexform").serialize(), function (r) {
                        $('#buttons_modal{{ idmodal }}').css('display', 'block');
                        $('#ajaxloader{{ idmodal }}').css('display', 'none');
                        if (r.errorCode) {
                            alert(r.errorDescription);
                            return;
                        }

                        $('.modal').modal('hide');
                        //$('#tableanimalindexs').html(r.data.html);
                    });
                });
            });
        </script>
    {% endblock %}

