<div id="reportsfilters" class="column-filter-widgets" style="display:block;" >
    <div class="column-filter-widget">
        <div class="row">
            <div class="col-md-6">
                <select style="margin-bottom:5px !important;" class="form-control select2" id="filteractive" placeholder="Todos"><option value="1" selected>Activos</option><option value="2">Referencia</option><option value="3">Baja</option><option value="">Todos</option></select>
                <input style="margin-bottom:5px !important;" class="form-control"  placeholder="Ganadería" id="filterfarm"/>
            </div>
            <div class="col-md-6">
                {#<select style="margin-bottom:5px !important;" class="form-control select2" id="filterrecordtype" placeholder="Tipos de Expediente"><option value="" selected>Todos los tipos de Expediente</option><option value="{{ 'PRE' | enum_constant }}">Prejudicial</option><option value="{{ 'JUD' | enum_constant }}">Judicial</option><option value="{{ 'BOTH' | enum_constant }}">Ambos</option></select>#}
                <input style="margin-bottom:5px !important;" class="form-control datepicker" id="filterfrom" placeholder="Pesada desde"/>
                <input style="margin-bottom:5px !important;" class="form-control datepicker" id="filterto"  placeholder="Pesada hasta"/>
                <select style="margin-bottom:5px !important;" class="form-control select2" id="filtersex" placeholder="Todos los sexos"><option value="" selected>Todos los sexos</option><option value="{{ 'MACHO' | enum_constant }}">Macho</option><option value="{{ 'HEMBRA' | enum_constant }}">Hembra</option></select>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <a href="javascript:cleanfilters();" class="btn btn-primary inline-block yellow" style="margin-top:10px !important;"><i class="fa fa-circle-o"></i> Limpiar Filtros</a>
    <div id="searchbtn" class="btn btn-primary inline-block blue" style="margin-top:10px !important; margin-left:3px !important;"><i class="fa fa-search"></i> Buscar</div>
    <div id="exportoexcel" class="exportbtn btn btn-primary inline-block purple" style="margin-top:10px !important; margin-left:3px !important;"><i class="fa fa-file-excel-o"></i> Exportar</div>
    <div id="exportoexcelgrouped" class="exportbtn btn btn-primary inline-block purple" style="margin-top:10px !important; margin-left:3px !important;"><i class="fa fa-file-excel-o"></i> Exportar Agrupado por Animal</div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>