{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% set titlecontent = 'Informes' %}
{% block subtitle %}{{ titlecontent }} - {% endblock %}
{% set subtitlecontent = 'Informes Predefinidos' %}
{% set breadcrumb = [{'title': 'Informes', 'link': path('reports_index'), 'icon': 'file-text'}] %}

{% block maincontent %}

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="{{ path('reports_arca') }}" class="nodecoration" target="_blank">
            <div class="dashboard-stat blue">
                <div class="visual"><i class="fa fa-truck"></i></div>
                <div class="details"><div class="desc">ARCA</div><div class="number">Informe</div></div>
                <span class="more" >Descargar <i class="m-fa fa-swapright m-fa fa-white"></i></span>                 
            </div>
            <div class="clearfix"></div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="{{ path('reports_cubriciones') }}" class="nodecoration" target="_blank">
                <div class="dashboard-stat blue">
                    <div class="visual"><i class="fa fa-paw"></i></div>
                    <div class="details"><div class="desc">Cubriciones</div><div class="number">Parte</div></div>
                    <span class="more">Descargar <i class="m-fa fa-swapright m-fa fa-white"></i></span>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
    </div><!-- END DASHBOAR STATS -->

{% endblock %}