{#
    Pacolmg
    Greetik Soluciones SL
    view the posts table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Pesadas - {% endblock %}
{% set titlecontent = 'Informe' %}
{% set subtitlecontent = 'Filtre por lo que necesite' %}
{% set breadcrumb = [{'title': 'Informes', 'link': path('reports_weights'), 'icon': 'file-text'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    {% set configTable = {
    'id': 'reports',
    'title': 'Informes',
    'icon':'file-text',
    'aaSorting': "[[ 0, 'desc' ]]",
    "ordering": 'false',
    'noOptions':true,
    'fields': {
    'weightdate': {'title': 'Pesada'},
    'weight': {'title': 'Peso'},
    'birthdate': {'title': 'Nacimiento'},
    'crotal': {'title': 'Crotal'},
    'tattoo': {'title': 'Tatuaje'},
    'registerc': {'title': 'RNU'},
    'registerd':{'title': 'RDU'},
    'farm': {'title': 'Ganadería'},
    'name': {'title': 'Nombre'},
    'gender': {'title': 'Sexo'}
    },
    'fromajax': {'params': '{"name": "onlyactive", "value":$("#filteractive").val()}, {"name": "farm", "value":$("#filterfarm").val()}, {"name": "datefrom", "value":$("#filterfrom").val()}, {"name": "dateto", "value":$("#filterto").val()}, {"name": "sex", "value":$("#filtersex").val()}', 'bProcessing':true, 'bServerSide':true, 'sAjaxSource': path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }
    } %}

    {% if app.request.attributes.get('_route') == 'farm_listanimals' %}{% set configTable = configTable|merge( {'insertdata': { 'url': path('farm_insertanimal', app.request.attributes.get('_route_params'))}}) %}{% endif %}
    {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}
    {% include 'BEInterfaceBundle:_Default:successfromflash.html.twig' %}

    {% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}

    <script>
        $(document).ready(function () {

            var i = 0;
            $('#reports_wrapper .clear').each(function () {
                if (i == 0) {
                    $('{% spaceless %}{% include "AppBundle:Reports:filters_weights.html.twig" %}{% endspaceless %}').insertBefore($(this));
                }
                i++;
            });

            $('#reports_wrapper .column-filter-widgets select').select2();
            $('#reports_filter').html('');
        });
    </script>

    <script>
        function cleanfilters() {
            $('#filteractive').val(1);
            $('#filteractive').select2();

            $("#filterfarm").select2('data', null);


            $('#filterfrom').val('');
            $('#filterto').val('');

            $('#filtersex').select2();
        }
    </script>
    <script>
        function formatdate(date) {
            if (!date)
                return '';
            var aux = date.split('/');
            return aux[2] + '-' + aux[1] + '-' + aux[0];
        }

        $(document).ready(function () {
            $('#filterfrom').on('changeDate', function () {
                var fit_start_time = formatdate($(this).val());
                var fit_end_time = formatdate($("#filterto").val());
                if (new Date(fit_start_time) > new Date(fit_end_time) || !fit_end_time) {
                    $("#filterto").datepicker('update', new Date(fit_start_time));
                }
                //oTablereports.fnReloadAjax();
            });
            $('#filterto').on('changeDate', function () {
                var fit_start_time = formatdate($("#filterfrom").val());
                var fit_end_time = formatdate($(this).val());
                if (new Date(fit_start_time) > new Date(fit_end_time) || !fit_start_time) {
                    $("#filterfrom").datepicker('update', new Date(fit_end_time));
                }
                //oTablereports.fnReloadAjax();
            })
        });
    </script>
    <script>
        $(document).ready(function () {

            $('#searchbtn').on("click", function (e) {
                e.preventDefault();
                oTablereports.fnReloadAjax();
            });

            $('.exportbtn').on("click", function (e) {
                //creamos un formulario ficticio para enviar los parámetros vía post y abrir en una nueva ventana
                e.preventDefault();
                var excelForm = document.createElement("form");
                $(excelForm).css('display', 'none');
                excelForm.target = "_blank";
                excelForm.method = "POST"; // or "post" if appropriate
                excelForm.action = "{{ path(app.request.attributes.get('_route')) }}";

                //create a submit buttón
                var excelsubmitinput = document.createElement("input");
                excelsubmitinput.type = "submit";
                excelsubmitinput.name = 'exporttoexcel';
                excelsubmitinput.value = 'send';
                excelForm.appendChild(excelsubmitinput);

                var params = {
                    "exportoexcel": $(this).attr('id') == 'exportoexcel',
                    "exportoexcelgrouped": $(this).attr('id') == 'exportoexcelgrouped',
                    "onlyactive": $("#filteractive").val(),
                    "farm": $("#filterfarm").val(),
                    "father": $("#filterfather").val(),
                    "mother": $("#filtermother").val(),
                    "sex": $("#filtersex").val()
                };
                $.each(params, function (k, v) {
                    var excelInput = document.createElement("input");
                    excelInput.type = "hidden";
                    excelInput.name = k;
                    excelInput.value = params[k];
                    excelForm.appendChild(excelInput);
                });

                $('body').append(excelForm);
                excelForm.submit();

                /*

                 excel = window.open("", "Map", "status=0,title=0,height=600,width=800,scrollbars=1");
                 $.post("{{ path(app.request.attributes.get('_route')) }}", {"exportoexcel": true, "onlyactive": $("#filteractive").val(), "farm": $("#filterfarm").val(), "farmbirth": $("#filterfarmbirth").val(), "father": $("#filterfather").val(), "mother": $("#filtermother").val(), "birthfrom": $("#filterfrom").val(), "birthto": $("#filterto").val(), "sex": $("#filtersex").val(), "forsale": $("#filterbuy").val()}, function (data) {
             var w = window.open('about:blank', 'windowname');
             w.document.write(data);
             w.document.close();
             });*/
            });

            $('#filterfarm').select2({
                placeholder: "Ganadería",
                allowClear: true,
                minimumInputLength: 1,
                ajax: {
                    url: "{{ path('farm_getfarmforselect') }}",
                    dataType: 'json',
                    quietMillis: 100,
                    type: 'POST',
                    data: function (term, page) { // page is the one-based page number tracked by Select2
                        return {
                            q: term
                        };
                    },
                    results: function (data, page) {
                        if (data.errorCode > 0) {
                            alert(data.errorDescription);
                            return;
                        }
                        var more = (page * 10) < data.data.length; // whether or not there are more results available
                        // notice we return the value of more so Select2 knows if more results can be loaded
                        return {results: data.data, more: more};
                    }
                },
                escapeMarkup: function (m) {
                    return m;
                } // we do not want to escape markup since we are displaying html in results
            }).on("change", function (e) { /*oTablereports.fnReloadAjax();*/
            });

        });
    </script>
    {% set fieldstodate = ".datepicker" %}
    {% set emptydefaultvaluedate = false %}
    {% include "BEInterfaceBundle:_Scripts:date.html.twig" %}
{% endblock %}