{#
    Pacolmg
    Greetik Soluciones SL
    view the posts table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Animales - {% endblock %}
{% set titlecontent = 'Animales'%}
{% set subtitlecontent = 'Seleccione uno del listado de animales para ver su detalle' %}
{% set breadcrumb = [{'title': 'Animales', 'link': path('farm_listanimals'), 'icon': 'paw'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    {% include "FarmBundle:Default:indexanimal.html.twig" %}
{% endblock %}