{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Animal - {% endblock %}
{% set titlecontent = 'Nuevo Animal' %}
{% set subtitlecontent = 'Complete los campos para añadir un nuevo animal' %}

{% set pathaction = path('farm_insertanimalmasive', {'farm':farm}) %}{% set pathcancel = path('farm_listanimals') %}
{% if is_granted('ROLE_ADMIN') %}
    {% set breadcrumb = [{'icon': 'paw', 'title':'Animales', 'link': path('farm_listanimals')}, {'title': 'Nuevo', 'link': path('farm_listanimals'), 'icon': 'paw'}] %}
{% else %}
    {% set breadcrumb = [{'title': 'Nuevo Animal', 'link': path('farm_listanimals'), 'icon': 'paw'}] %}
    {% set pathcancel = path('profile_homepage') %}
{% endif %}
{% set configForm = {
'id' : 'insertanimal',
'pathaction': pathaction,
'pathcancel': pathcancel,
'title': 'Animal',
'icon': 'paw'
} %}
{% block maincontent %}
    {% if is_granted('ROLE_ADMIN') %}
        {% if next_registerd is defined and next_registerd > 0 %}
            <p>Próximo RDU: {{ next_registerd }}</p>
        {% endif %}
        {% if next_registerc is defined and next_registerc > 0 %}
            <p>Próximo RNU: {{ next_registerc }}</p>
        {% endif %}
    {% endif %}
    {% include('FarmBundle:Default:insertmasiveanimal.html.twig') %}
{% endblock %}         
