{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Animal - {% endblock %}
{% set titlecontent = 'Nuevo Animal'%}
{% set subtitlecontent = 'Complete los campos para añadir una nueva ganadería al directorio' %}

{% set pathaction = path('farm_insertanimal') %}{% set pathcancel = path('farm_listanimals') %}
{% set breadcrumb = [{'icon': 'paw', 'title':'Animales', 'link': path('farm_listanimals')}, {'title': 'Nueva', 'link': path('farm_listanimals'), 'icon': 'paw'}] %}

{%
    set configForm = {
        'id' : 'insertanimal',
        'pathaction': pathaction,
        'pathcancel': pathcancel,
        'title': 'Animal',
        'icon': 'paw'
    }
%}

{% block maincontent %}
    {% if is_granted('ROLE_ADMIN') %}
        {% if next_registerd is defined and next_registerd > 0 %}
            <p>Próximo RDU: {{ next_registerd }}</p>
        {% endif %}
        {% if next_registerc is defined and next_registerc > 0 %}
            <p>Próximo RNU: {{ next_registerc }}</p>
        {% endif %}
    {% endif %}
    {% include('FarmBundle:Default:insertanimal.html.twig') %}
{% endblock %}         
