{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of a farm
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.name }} - Animal - {% endblock %}
{% set titlecontent = 'Animal' %}
{% set subtitlecontent = 'Detalle de los datos de '~item.name %}

{% if modifyAllow %}
    {% set breadcrumb = [{'icon': 'paw', 'title':'Animales', 'link': path('farm_listanimals')}, {'title': item.name, 'link': path('farm_viewanimal', {'id':  item.id}), 'icon': 'paw'}] %}
{% else %}
    {% set breadcrumb = [{'title': item.name, 'link': path('farm_viewanimal', {'id':  item.id}), 'icon': 'paw'}] %}
{% endif %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/beinterface/css/pages/profile.css') }}">
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Animal</a></li>
                    {% if modifypartialAllow == true %}
                        <li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                    <li class=""><a href="#tab_1_animaltree" data-toggle="tab">Árbol</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-9 profile-info">

                                        {% include "BEInterfaceBundle:_Modules:viewformerrors.html.twig" %}
                                        {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}
                                        {% include 'FarmBundle:Default:viewanimal.html.twig' %}
                                    </div>
                                    <div class="col-md-3">
                                        {% include 'FarmBundle:Default:viewanimalindex.html.twig' %}


                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-3" id="list_weightcontrols">
                                        {% set data = item.weightcontrol %}
                                        {% set _itemtype = 'animal' %}
                                        {% set _itemid = item.id %}
                                        {% set insertAllow = modifyAllow %}
                                        {% include 'AppBundle:Weightcontrol:index.html.twig' %}
                                    </div>
                                    <div class="col-md-9">
                                        {% set titletable = 'Descendencia de '~item.name %}
                                        {% set parent = item.id %}
                                        {% include "FarmBundle:Default:indexanimal.html.twig" %}
                                    </div>
                                    <!--end col-md-2-->


                                </div>
                                <!--end row-->

                            </div>
                        </div>
                    </div>

                    {% if modifypartialAllow == true %}
                        <!--tab_1_animaltree-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="fa fa-cog"></i>
                                                Datos
                                            </a>
                                            <span class="after"></span>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#tab_1-2">
                                                <i class="fa fa-bookmark"></i>
                                                Índices
                                            </a>
                                            <span class="after"></span>
                                        </li>
                                        {% if modifyAllow %}
                                            <li class="">
                                                <a data-toggle="tab" href="#tab_1-6">
                                                    <i class="fa fa-bookmark"></i>
                                                    Méritos
                                                </a>
                                                <span class="after"></span>
                                            </li>
                                        {% endif %}
                                        <li class="">
                                            <a data-toggle="tab" href="#tab_1-5">
                                                <i class="fa fa-id-card-o"></i>
                                                Imprimir
                                            </a>
                                            <span class="after"></span>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#tab_1-3">
                                                <i class="fa fa-picture-o"></i>
                                                Imágenes
                                            </a>
                                            <span class="after"></span>
                                        </li>
                                        {#
                                        <li class="">
                                            <a data-toggle="tab" href="#tab_1-4">
                                                <i class="fa fa-file"></i> 
                                                Documentos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>#}
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {% if modifyAllow %}
                                                {% set pathaction = path('farm_modifyanimal', { 'id': item.id }) %}
                                                {% set pathcancel = path('farm_listanimals') %}
                                            {% else %}
                                                {% set pathaction = path('app_farmer_modifymyanimal', { 'id': item.id }) %}
                                                {% set pathcancel = path('fos_user_profile_show') %}
                                                {% set new_form = new_form_partial %}
                                            {% endif %}
                                            {% set configForm = {
                                            'id' : 'modifyanimal',
                                            'pathaction': pathaction ,
                                            'pathcancel': pathcancel
                                            } %}


                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% if form_errors(new_form) %}
                                                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                    {% endif %}

                                                    {% if modifyAllow %}
                                                        {% include 'FarmBundle:Default:insertanimalform.html.twig' %}
                                                    {% else %}
                                                        {% include 'FarmBundle:Default:insertanimalpartialform.html.twig' %}
                                                    {% endif %}


                                                    {{ form_widget(new_form._token) }}

                                                {% endblock %}
                                            {% endembed %}

                                        </div>

                                        <div id="tab_1-2" class="tab-pane">
                                            {% if modifyAllow and item.id is defined and item.id!='' and item.id!=0 %}<a
                                                href="{{ path('farm_modifyindexanimalform', {'id': item.id }) }}"
                                                data-target="#modal_ajax2" data-toggle="modal" >
                                                    <button type="button" id="btn_indexanimal" class="btn green">
                                                        Índices
                                                    </button></a>{% endif %}
                                            <p>AC: {{ item.index_ac }}. AD: {{ item.index_ad }}. RN: {{ item.index_rn }}
                                                . AN: {{ item.index_an }}. EpL: {{ item.index_epl }}.</p>
                                            <p>GC: {{ item.index_gc }}. LD: {{ item.index_ld }}. LP: {{ item.index_lp }}
                                                . AA: {{ item.index_aa }}. Tmñ: {{ item.index_tmn }}.</p>
                                            <p>M: {{ item.index_m }}. AaA: {{ item.index_aaa }}.
                                                AaP: {{ item.index_aap }}. RD: {{ item.index_rd }}.
                                                CC: {{ item.index_cc }}.</p>
                                            <p>PP: {{ item.index_pp }}. AP: {{ item.index_ap }}. AP: {{ item.index_ap }}
                                                . AT: {{ item.index_at }}. LN: {{ item.index_ln }}.</p>
                                            <p>&nbsp;</p>
                                            <p>AF: {{ item.index_af }}. DS: {{ item.index_ds }}. DM: {{ item.index_dm }}
                                                .</p>
                                        </div>
                                        {% if modifyAllow %}
                                            <div id="tab_1-6" class="tab-pane">
                                                {% set configForm = {
                                                'id' : 'modifyindexanimal',
                                                'pathaction': path('farm_modifymeritanimal', { 'id': item.id }),
                                                'pathcancel': path('farm_listanimals')
                                                } %}

                                                {% set new_form = new_form_index %}
                                                {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                    {% block formcontent %}
                                                        {% if form_errors(new_form) %}
                                                            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                        {% endif %}

                                                        {% include 'FarmBundle:Default:insertanimalformindex.html.twig' %}


                                                        {{ form_widget(new_form._token) }}

                                                    {% endblock %}
                                                {% endembed %}
                                            </div>
                                        {% endif %}


                                        <div id="tab_1-3" class="tab-pane">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {% set configFiles = {
                                                    'id': item.id,
                                                    'icon': 'file-text',
                                                    'title': ('Imágenes de ' ~ item.name ),
                                                    'modifyAllow': true,
                                                    'type': 'animal',
                                                    'filetype':'image'
                                                    } %}
                                                    {% include 'DataimageBundle:Dataimage:view.html.twig' %}
                                                </div>
                                            </div>
                                        </div> {#
                                        <div id="tab_1-4" class="tab-pane">
                                            {%
                                        set configFiles = {
                                            'id': item.id,
                                            'icon': 'file-text',
                                            'title': ('Documentos de ' ~ item.name ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'animal',
                                            'filetype':'document'
                                        }
                                            %}  
                                            {% include 'DataimageBundle:Dataimage:view.html.twig' %}
                                        </div> #}
                                        <div id="tab_1-5" class="tab-pane">
                                            {% if item.registerd %}
                                                <form method='POST' target='_blank'
                                                      action="{{ path('print_heritagecard', {'id':item.id}) }}">
                                                    <input type='submit' class='btn btn-primary'
                                                           value='Carta Genealógica'/>
                                                </form>
                                            {% endif %}
                                            {% if item.registerc %}
                                                <form method='POST' target='_blank'
                                                      action="{{ path('print_birthregister', {'id':item.id}) }}">
                                                    <input type='submit' class='btn btn-primary'
                                                           value='Certificado de Nacimiento'/>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!--end col-md-9-->
                            </div>
                        </div>
                    {% endif %}
                    <div class="tab-pane" id="tab_1_animaltree">
                        <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/farm/css/tree.css') }}">
                        <h2>Árbol Genealógico</h2>
                        <div class="row">
                            <div class="profile col-md-12 col-sm-12">
                                <div class="table-responsive">
                                    <div class="tree">
                                        {% set animal = item %}
                                        {% include "FarmBundle:Default:animaltree.html.twig" %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}

{% endblock %}    