{#
    Pacolmg
    Greetik Soluciones SL
    view the posts table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Módulos - {% endblock %}
{% set titlecontent = 'Módulos'%}
{% set subtitlecontent = 'Seleccione uno del listado de módulos para ver su detalle' %}
{% set breadcrumb = [{'title': 'Web' , 'link': path('app_webcontent'), 'icon': 'certificate'},{'title': 'Módulos', 'link': path('webmodule_listwebmodules'), 'icon': 'barcode'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
{% include 'WebmodulesBundle:Default:index.html.twig' %}


{% endblock %}