{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Módulo - {% endblock %}
{% set titlecontent = 'Nuevo Módulo' %}
{% set subtitlecontent = 'Rellene los campos para insertar un módulo '%}
{% set breadcrumb = [{'title': 'Web' , 'link': path('app_webcontent'), 'icon': 'certificate'},{'title': 'Módulos', 'link': path('webmodule_listwebmodules'), 'icon': 'barcode'}, {'title': 'Nuevo', 'link': path('webmodule_insertwebmodule'), 'icon': 'barcode'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

 {%
    set configForm = {
        'id' : 'insertwebmodule',
        'pathaction': path('webmodule_insertwebmodule'),
        'pathcancel': path('webmodule_listwebmodules'),
        'title': 'Module',
        'icon': 'barcode'
    }
 %}

{% block maincontent %}
{% include 'WebmodulesBundle:Default:insert.html.twig' %}  
{% endblock %}         

{% block additionalscripts %}
    {{ parent() }}
{% include 'WebmodulesBundle:Default:insertscripts.html.twig' %}

{% endblock %}