{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% block modaltitle %}Importar Ganaderías{% endblock %}

{% block modalbody %}
    <div class="col-md-12">
        <h4>Cargue el Fichero en formato XLS</h4>
    </div>
    {% if form_errors(new_form) %}
        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
    {% endif %}

    <form class="col-md-12" action="#" id="importfarms">

        {% set configField = { 'label': 'Fichero XLS', 'field': 'xls'} %}
        {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

        {{ form_widget(new_form._token) }}
        <div class="clearfix"></div>
    </form>


{% endblock %}         

{% block modalbuttons %}
    <div id="progress"><span id="progress_loaded">0</span>/<span id="progress_total">0</span></div>
    <button type="button" id="btn_importfarms" class="btn blue">Importar</button>
{% endblock %}

{% block modalscripts %}

    <script>
        $(document).ready(function () {
            $(':file').change(function () {
                var file = this.files[0];
                var name = file.name;
                var size = file.size;
                var type = file.type;
                $('#progress_total').html(size);
                //Your validation
            });

            $('#btn_importfarms').click(function () {

                   
                        
                //$('#buttons_modal').css('display', 'none');
                $('#ajaxloader').css('display', 'block');
                formData = new FormData($("form")[0]);
                $.ajax({
                    url: '{{ path('farm_importfarms') }}', //Server script to process data
                    type: 'POST',
                    xhr: function () {  // Custom XMLHttpRequest
                        var myXhr = $.ajaxSettings.xhr();
                        if (myXhr.upload) { // Check if upload property exists
                            myXhr.upload.addEventListener('progress', progressHandlingFunction, false); // For handling the progress of the upload
                        }
                        return myXhr;
                    },
                    //Ajax events
                    beforeSend: function () {
                        $('#Loadfarm_xls').val('');
                    },
                    success: function (r) {
                        $('#buttons_modal').css('display', 'block');
                        $('#ajaxloader').css('display', 'none');
                        if (r.errorCode) {
                            alert(r.errorDescription);
                            return;
                        }
                        //$('.modal').modal('hide');
                        if (r.data.warnings)
                            alert(r.data.warnings)
                        alert('Se importaron '+r.data.numimported+' ganaderías.');
                        //window.reload();
                    },
                    error: function () {},
                    // Form data
                    data: formData,
                    //Options to tell jQuery not to process data or worry about content-type.
                    cache: false,
                    contentType: false,
                    processData: false
                });






                function progressHandlingFunction(e) {
                    if (e.lengthComputable) {
                        $('#progress_loaded').html(e.loaded);
                    }
                }
            });
        });
    </script>
{% endblock %}

