{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% set idmodal = 'task' %}
{% block idajaxloaderloader %}{{ idmodal }}{% endblock %}
{% block idajaxloaderbuttons %}{{ idmodal }}{% endblock %}


{% block modaltitle %}Tarea para el usuario: {{ item.touser | getSystemusername }}{% endblock %}

{% block modalbody %}
    <div class="col-md-12">
        <h2>{{ item.name }}</h2>
        {{ item.description | raw }}
        <h4>Fecha: {{ item.taskdate | date('d/m/Y') }}</h4>

        <div class="clearfix"></div>
    </form>

  <div class="comments row-fluid" id="comments_{{ item.id ? item.id : '00000' }}">
        {% if item.id and item.comments | length > 0 %}
            <hr />
      {% set comments = item.comments %}
      {% set item_id = item.id %}
      {% set item_type = 'task' %}
      {% include('CommentsBundle:Comment:modalindex.html.twig') %}
    {% endif %}        
    </div>
    
    <div class="clearfix"></div>
{% endblock %}

{% block modalbuttons %}
    <div class="clearfix"></div>
    <a href="{{ path('comments_insertcommentform', {'item_type':'task','item_id':item.id ? item.id : '00000' }) }}" data-target="#modal_ajax2" data-toggle="modal" id="btn_insertcomment"  style="display:{{ item.id ? 'inline':'none' }}"><button type="button"  class="btn purple">Comentar</button></a>
    {% if item.done is null or item.done != true %}<button type="button" id="btn_markasdone" class="btn red">¡Hecha!</button>{% endif %}
{% endblock %}

{% block modalscripts %}
    <script>
        {% if item.done is null or item.done != true %}
        $(document).ready(function () {
            $('#btn_markasdone').click(function () {
                if (!confirm('¿Seguro que has acabado la tarea?')) return;
                
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                $.post("{{ path('tasks_markasdone', {'id':item.id ? item.id : '00000' }) }}", {}, function (r) {
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        task(r.errorDescription);
                        return;
                    }

                    renderCalendar();
                    $('#modal_ajax').modal('hide');

                });
            });

        });
        {% endif %}
    </script>    
{% endblock %}