{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% set idmodal = 'task' %}
{% block idajaxloaderloader %}{{ idmodal }}{% endblock %}
{% block idajaxloaderbuttons %}{{ idmodal }}{% endblock %}


{% block modaltitle %}<span id="neworedittitle">{{ (item.id) ? 'Editar' : 'Nueva' }}</span> Tarea{% endblock %}

{% block modalbody %}
    <div class="col-md-12">
        <p>Rellene los datos de la Tarea</p>
    </div>
    {% if form_errors(new_form) %}
        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
    {% endif %}

    <form class="col-md-12" action="#" id="inserttaskform">

        <div style="display:none;">
            {% set configField = { 'label': 'Usuario', 'field': 'touser', 'classesinput':''} %}
            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
        </div>

        <div class="row">            
            <div class="col-md-5"> 
                {% set configField = { 'label': 'Fecha', 'field': 'taskdate', 'classesinput':'datetimepicker'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="col-md-7"> 
                {% set configField = { 'label': 'Nombre', 'field': 'name'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12"> 
                {% set configField = { 'label': 'Descripción', 'field': 'description'} %}
                {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}
            </div>
            <div class="clearfix"></div>
        </div>                        
        <p>&nbsp;</p> 

        {{ form_widget(new_form._token) }}
        <div class="clearfix"></div>
    </form>
{% endblock %}         

{% block modalbuttons %}
    {% if item.id %}<button type="button" class="btn red" id="btn_deletetask"  style="display:{{ item.id ? 'inline':'none' }}">Eliminar</button>{% endif %}
    <button type="button" id="btn_savetask" class="btn blue">Guardar</button>
{% endblock %}



{% block modalscripts %}
    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    

    {% set fieldstodatetime = '.datetimepicker' %}
    {% include 'BEInterfaceBundle:_Scripts:datetime.html.twig' %}    

    {% set idfield = 'task_description' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %} 

    <script>
        $(document).ready(function () {
            var urlip = '{{ path('tasks_inserttask', {'id':item.id ? item.id : '00000' }) }}';
            var urldel = '{{ path('tasks_deletetask', {'id':item.id ? item.id : '00000' }) }}';

            $('#btn_savetask').click(function () {
                if (typeof (CKEDITOR) != 'undefined')
                    $('#task_description').val(CKEDITOR.instances['task_description'].getData());
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                $.post(urlip, $("#inserttaskform").serialize(), function (r) {
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        task(r.errorDescription);
                        return;
                    }

                    renderCalendar();
                    $('#modal_ajax').modal('hide');

                });
            });

            $('#btn_deletetask').click(function () {
                if (!confirm('¿Seguro que desea eliminar la tarea? OPERACIÓN IRREVERSIBLE'))
                    return;
                $('#buttons_modal{{ idmodal }}').css('display', 'none');
                $('#ajaxloader{{ idmodal }}').css('display', 'block');
                $.post(urldel, {}, function (r) {
                    $('#buttons_modal{{ idmodal }}').css('display', 'block');
                    $('#ajaxloader{{ idmodal }}').css('display', 'none');
                    if (r.errorCode) {
                        task(r.errorDescription);
                        return;
                    }

                    renderCalendar();
                    $('#modal_ajax').modal('hide');

                });
            });
        });
    </script>
{% endblock %}

